{% extends 'shared/base.html' %}

{% block content %}

<div class="title-section">
	<div class="title-label"><h1>Sobre Nosotros</h1></div>
</div>

<div class="grid row">
	<div id="content">
		<div id="content-menu">
			<ul>
				<li class="menu-row menu-head"><a href="{% url 'home' %}">Labmmba</a></li>
				<li class="menu-row"><a href="{% url 'about' %}">Quiénes Somos</a></li>
				<li class="menu-row"><a href="#">Nuestra Historia</a></li>
				<li class="menu-row"><a href="#">Integrantes</a></li>
				<li class="menu-row"><a href="#">Cooperación</a></li>
			</ul>
		</div>
		<div id="content-body">
			<div  id="title">
				<h1>Nuestra historia:</h1>
				<div class="clear"></div>
			</div>
			<p>
				En 1997 se crea el primer laboratorio del área biológica de la Universidad Técnica Federico Santa María: El laboratorio de Microbiología Molecular y Biotecnología Ambiental (MMBA). En Octubre de ese año, este laboratorio cuenta con dos investigadores (Michael Seeger y Myriam Gonzalez), dos proyectos interinstitucionales y un espacio físico de 36 [m2].
			</p>
			<p>
				Se comenzó con una línea de investigación muy relevante para la región y el país en el campo de la Biotecnología Ambiental: La degradación Bacteriana (biorremediación) de contaminantes orgánicos persistentes (COPs), una temática de escaso desarrollo en el país. La importancia de esta investigación está dada por el impacto ambiental que generan estos contaminantes a lo largo del territorio nacional.
			</p>
			<p>
				Se comenzó con una línea de investigación muy relevante para la región y el país en el campo de la Biotecnología Ambiental: La degradación Bacteriana (biorremediación) de contaminantes orgánicos persistentes (COPs), una temática de escaso desarrollo en el país. La importancia de esta investigación está dada por el impacto ambiental que generan estos contaminantes a lo largo del territorio nacional.
			</p>
			<p>
				El Laboratorio MMBA participó activamente en la formación del Centro de Biotecnología de la UTFSM, creado oficialmente en enero del 2000 (aunque las gestiones se iniciaron en 1997), y en la creación del Programa de Doctorado de Biotecnología (UTFSM – PUCV) cuyas gestiones iniciaron en 1998 y tuvo inicio en Marzo del 2002.
			</p>
			<p>
				Para Octubre del año 2001, el grupo de trabajo incluía 4 investigadores, 1 estudiante de Doctorado, 4 estudiantes de pregrado y una persona de apoyo técnico. Se ejecutaban 6 proyectos de investigación propios, disponiendo de dos laboratorios con una superficie de 80 [m2] y un moderno equipamiento.
			</p>
			<p>
				El año 2009 el laboratorio está conformado por dos investigadores senior, dos investigadores post-doctorales,  dos investigadores asociados, un técnico de química analítica, cinco estudiantes de Doctorado, dos estudiantes de Magister, dos estudiantes de pre-grado y estudiantes en pasantía.
			</p>
			<p>
				Se dispone de dos laboratorios de investigación de 80 [m2] ubicados en el Departamento de Química de la Casa Central. Además se dispone de un laboratorio de preparación de muestras y 3 cámaras termorreguladas de 25°C, 5°C y -20 °C ubicados en la edificación de calle General Bari.
			</p>
			<p>
				El laboratorio tiene las siguientes áreas de investigación:
			</p>
			<ul>
				<li>Biodegradación y biorremediación de COPs</li>
				<li>Proteómica y Genómica funcional de bacterias</li>
				<li>Química Ambiental de COPs</li>
				<li>Biotransformaciones y Síntesis Orgánica.</li>
				<li>Ecología Microbiana</li>
				<li>Resistencia de bacterias a metales pesados</li>
				<li>Biorremediación de Suelos Contaminados con Metales Pesados</li>	
			</ul>
			<p>
				El laboratorio MMBA ha colaborado con diversas instituciones como son:
			</p>
			<p>
				Instituciones Nacionales
			</p>
			<ul>
				<li>Pontificia Universidad Católica de Valparaíso</li>
				<li>Universidad Austral</li>
				<li>Universidad de Chile</li>
				<li>Universidad de Santiago</li>
				<li>Universidad de Valparaíso</li>
				<li>Pontificia Universidad Católica de Chile</li>
				<li>Universidad de Magallanes</li>
				<li>Universidad de la Frontera</li>
			</ul>
			<p>
				Instituciones Internacionales
			</p>
			<ul>
				<li>Helmholzt Centre for Infection Research (Braunschweig, Alemania)</li>
				<li>Max Planck Institute for Terrestrial Microbiology (Marburg, Alemania)</li>
				<li>Julius Kühn-Institute, Federal Research Center for Cultivated plants (Braunschweig, Alemania)</li>
				<li>Helmholtz Centre for Environmental Research – UFZ (Leipzig, Alemania)</li>
				<li>Universidad de Buenos Aires (Argentina)</li>
				<li>Universidad Campinas (Sao Paolo, Brasil)</li>
				<li>Centro Nacional de Biotecnología (Madrid, España)</li>
				<li>Centro de Investigaciones Biológicas (Madrid, España)</li>
				<li>Universidad Pablo de Olavide (Sevilla, España)</li>
				<li>The Macaulay Land use Research Institute (Aberdine, Escocia)</li>
				<li>Texas A&M University (College Station, Estados Unidos)</li>
				<li>University Southern California (Los Angeles, Estados Unidos)</li>
				<li>Center for Microbial Ecology (East Lansing, Estados Unidos)</li>
				<li>CCUG, University of Göteborg (Göteborg,  Suecia)</li>
			</ul>
			<p>
				Las investigaciones del laboratorio han sido financiadas con el apoyo de diversas instituciones tales como Fondecyt, Fundación Andes, Conicyt – BMBF, European Union (INCO), Mineduc, Núcleo Milenio EMBA, PBCT, UTFSM, Texas A&M University, U. Austral, Instituto Milenio (CBB) y Perkin Elmer Chile.
			</p>
		</div>
		<div class="clear"></div>
	</div>
</div>

{% endblock %}