{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div id="slider" class="royalSlider rsDefault">
	{% if header %}
		{% for head in header %}
			<figure class="rsContent">
				<img class="rsImg" src="{% static head.header_url %}" />
				<figcaption class="grid rsABlockContainer">
					<div class="rsABlock bottom left" data-move-effect="left">
						{% if head.is_external %}
							<a href="{{ head.source_url }}" class="caption-text notrans">
						{% else %}
							<a href="{% url 'webpage:news' head.date|date:'Y' head.date|date:'m' head.date|date:'d' head.slug %}" class="caption-text notrans">
						{% endif %}	
							<h2>{{head.title}}</h2>
							<span class="more trans">Ver más</span>
						</a>
					</div>
				</figcaption>
			</figure>
		{% endfor %}
	{% else %}
		<figure class="rsContent">
			<img class="rsImg" src="{% static 'shared/images/home2.jpg' %}"/>
		</figure>
	{% endif %}
</div>
<section id="content" class="wfull">
<div class="grid">
	<div class="row noticias-eventos">
		<section class="content noticias list c8">
			<div class="clear">
				<h2 class="title">{% trans "Noticias" %}:</h2>
				{% if news_1 or news_2 %}
					{% if news_1 %}
						<div class="row">
							{% for news in news_1 %}
								{% if news.is_external %}
									<a class="c6" href="{{ news.source_url }}">
								{% else %}
									<a class="c6" href="{% url 'webpage:news' news.date|date:'Y' news.date|date:'m' news.date|date:'d' news.slug %}">
								{% endif %}				
								<figure class="clear">
									<span class="thumb"><img src="{% static news.thumbnail_url %}" ></span>
									<figcaption>
										<span class="date">{{news.date|date:'d'}} · {{news.date|date:'F'}} · {{news.date|date:'Y'}}</span>
										<h4>{{news.title}}</h4>
									</figcaption>
								</figure>
							</a>
							{% endfor %}
						</div>
					{% endif %}
					{% if news_2 %}
						<div class="row">
							{% for news in news_2 %}
								{% if news.is_external %}
									<a class="c6" href="{{ news.source_url }}">
								{% else %}
									<a class="c6" href="{% url 'webpage:news' news.date|date:'Y' news.date|date:'m' news.date|date:'d' news.slug %}">
								{% endif %}
								<figure class="clear">
									<span class="thumb"><img src="{% static news.thumbnail_url %}" ></span>
									<figcaption>
										<span class="date">{{news.date|date:'d'}} · {{news.date|date:'F'}} · {{news.date|date:'Y'}}</span>
										<h4>{{news.title}}</h4>
									</figcaption>
								</figure>
							</a>
							{% endfor %}
						</div>
					{% endif %}
				{% else %}
					<span class="c12 empty">
						{% trans "No hay noticias" %}
					</span>
				{% endif %}
			</div>
			{% if news_1 or news_2 %}
				<div class="row more">
					<div class="c12">
						<a href="{% url 'webpage:news_feed' %}"><span>{% trans "Ver más noticias" %}</span></a>
					</div>
				</div>
			{% endif %}
		</section>
		<section class="c4 end eventos">
			<div class="row">
				<h2 class="c12 title">{% trans "Eventos" %}:</h2>
				{% if events %}
					{% for event in events %}
						<a href="{% url 'webpage:event' event.slug %}" class="c12">
							<span class="date icon">{{event.get_date|date:'d'}} · {{event.get_date|date:'F'}} · {{event.get_date|date:'Y'}}</span>
							<p>{{event.title}}</p>
						</a>
					{% endfor %}
				{% else %}
					<span class="c12 empty">
						{% trans "No hay eventos" %}
					</span>
				{% endif %}
			</div>
			{% if events %}
				<div class="row more">
					<div class="c12">
						<a href="{% url 'webpage:events_feed' %}"><span>{% trans "Ver más eventos" %}</span></a>
					</div>
				</div>
			{% endif %}
		</section>
	</div>
	<!-- Se deja para el final
	<div class="row destacados">
		<h2 class="c12 title">{% trans "Últimas publicaciones" %}:</h2>
		<div class="clear">
			<a class="c3" href="single.html">
				<figure>
					<img src="{% static 'usm_theme/demo/featured-news-thumb.jpg' %}" alt="Lorem ipsum dolor">
					<figcaption>
						<p><strong>Lorem ipsum dolor: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ducimus nostrum itaque repudiandae aliquam vitae.</p>
					</figcaption>
				</figure>
			</a>
			<a class="c3" href="single.html">
				<figure>
					<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRsKbIVuDzOTjvCbLJFlvopRJG_ufonr8a9XZlTcS4JJW5f1CoI" alt="Lorem ipsum dolor">
					<figcaption>
						<p><strong>Lorem ipsum dolor: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ducimus nostrum itaque repudiandae aliquam vitae.</p>
					</figcaption>
				</figure>
			</a>
			<a class="c3" href="single.html">
				<figure>
					<img src="{% static 'intranet/images/cabecera-email.png' %}" alt="Lorem ipsum dolor">
					<figcaption>
						<p>Characterization of copper-resistant bacteria and bacterial communities from copper-polluted agricultural soils of central Chile</p>
					</figcaption>
				</figure>
			</a>
			<a class="c3" href="single.html">
				<figure>
					<img src="{% static 'usm_theme/demo/featured-news-thumb.jpg' %}" alt="Lorem ipsum dolor">
					<figcaption>
						<p><strong>Lorem ipsum dolor: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ducimus nostrum itaque repudiandae aliquam vitae.</p>
					</figcaption>
				</figure>
			</a>
		</div>
	</div> -->
</div>
</section>
<!--<div class="grid row">
	<div id="content">
		<h2 class="home-section">Ultimas publicaciones</h2>
		<ul class="items-list">
			{% for document in documents %}
				<li>
					<a href="#">
						<div class="owner-picture" ><img src="{% static document.owner.filename %}"></div>
						<span class="date">{{document.date_added.day}} · {{document.date_added|date:"F" }} · {{document.date_added.year}}</span>
						<h4 class="title">{{ document.title }}</h4>
						<span class="author">{{ document.author }}</span>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="owner-picture" ><img src="{% static document.owner.filename %}"></div>
						<span class="date">{{document.date_added.day}} · {{document.date_added|date:"F" }} · {{document.date_added.year}}</span>
						<h4 class="title">{{ document.title }}</h4>
						<span class="author">{{ document.author }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="clear"></div>
	</div>
</div>-->

{% endblock %}
