{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'webpage/css/members.css' %}">
{% endblock %}
{% block extra_js %}
<script src="{% static 'webpage/js/members.js' %}"></script>
{% endblock %}
<section id="content" class="wfull">
    <div id="title">
        <div class="grid">
            <div class="row">
                {% if lang == 'es' %}
                    {{ current_subsection.spanish_title | safe }}
                {% elif lang == 'en' %}
                    {{ current_subsection.english_title | safe }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="row">
            <section class="content noticias single c8">
                <article class="post clear">
                    {% if lang == 'es' %}
                        {{ current_subsection.spanish_body | safe }}
                    {% elif lang == 'en' %}
                        {{ current_subsection.english_body | safe }}
                    {% endif %}
                </article>
            </section>
        </div>
        <div class="row">
            <h1 class="c12">Integrantes</h1>
            <div class="s1 c11">
                {% for member in working %}
                <div class="c2 member" href="#data" {% if member.image %} member-img="{% static member.image %}" {% else %} member-img="{% static 'intranet/images/default.png' %}" {% endif%} description="{{member.description}}" name="{{member.name}}" member-id="{{member.id}}">
                    <div class="c12 img">
                                    {% if member.image %}
                                        <img class="profile" src="{% static member.image %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                    {% else %}
                                        <img src="{% static 'intranet/images/default.png' %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                    {% endif %}
                    </div>
                    <div class="c12 name">
                        {{ member.name }}
                    </div>

                </div>
                {% if forloop.counter|divisibleby:6 %}
                    <div class="c12" style="height: 1px;"> </div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="row">
            <h1 class="c12">Ex-Integrantes</h1>
            <div class="s1 c11">
                {% for member in not_working %}
                <div class="c2 member" href="#data" {% if member.image %} member-img="{% static member.image %}" {% else %} member-img="{% static 'intranet/images/default.png' %}" {% endif%} description="{{member.description}}" name="{{member.name}}" member-id="{{member.id}}">
                    <div class="c12 img">
                                    {% if member.image %}
                                        <img class="profile" src="{% static member.image %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                    {% else %}
                                        <img src="{% static 'intranet/images/default.png' %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                    {% endif %}
                    </div>
                    <div class="c12 name">
                        {{ member.name }}
                    </div>

                </div>
                {% if forloop.counter|divisibleby:6 %}
                    <div class="c12" style="height: 1px;"> </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="c12">
                <ul id="bottom-nav" class="clear">
                    {% if other_sections.0 %}
                        <li><a class="red" href="{% url 'webpage:section' other_sections.0.slug %}">{% if lang == 'es' %}{{other_sections.0.spanish_name}}{% elif lang == 'en' %}{{other_sections.0.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.1 %}
                        <li><a class="orange" href="{% url 'webpage:section' other_sections.1.slug %}">{% if lang == 'es' %}{{other_sections.1.spanish_name}}{% elif lang == 'en' %}{{other_sections.1.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.2 %}
                        <li><a class="yellow" href="{% url 'webpage:section' other_sections.2.slug %}">{% if lang == 'es' %}{{other_sections.2.spanish_name}}{% elif lang == 'en' %}{{other_sections.2.english_name}}{% endif %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>

<div id="modal-edit" class="curtain-hidden"></div>
<div id="modal-edit-confirm" class="modal-hidden">
    <div id="modal-content">
        <h3 id="modal-member-name"></h3>
        <div id="modal-user">
            <div class="left">
                <div id="modal-member-img"></div>
            </div>
            <div class="right">
                <div id="modal-member-description"> </div>
            </div>
        </div>
        <div id="modal-btns">
            <button id="modal-confirm-edit" member-id="">{% trans "CONFIRMAR" %}</button>
            <button id="modal-cancel-edit">{% trans "CANCELAR" %}</button>
        </div>
    </div>
</div>

<div style="display:none">
    <div id="data">
        <div class="c12">
            <div id="fancy-name" >
            </div>
        </div>
        <div class="c12">
            <div class="c4 left-image">
                <img id="fancy-img" class="profile" src=""/>
            </div>
            <div class="c8">
                <div id="fancy-description" >
                </div>
            </div>
        </div>
    </div>
</div>


<script>members();</script>

{% endblock %}
