{% extends 'shared/base.html' %}
{% load staticfiles %}
{% block content %}
<div id="slider" class="royalSlider rsDefault">
	<figure class="rsContent">
		<img class="rsImg" src="{% static 'shared/images/home2.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit."/>
		<figcaption class="grid rsABlockContainer">
			<div class="rsABlock bottom left" data-move-effect="left">
				<a href="page.html" class="caption-text notrans">
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
					<span class="more trans">Ver más</span>
				</a>
			</div>
		</figcaption>
	</figure>	
</div>
<section id="content" class="wfull">
<div class="grid">
	<div class="row noticias-eventos">
		<section class="content noticias list c8">
			<div class="clear">
				<h2 class="title">Noticias:</h2>
				<div class="row">
					<a class="c6" href="single.html">
						<figure class="clear">
							<span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, dicta."></span>
							<figcaption>
								<span class="date">26 · Febrero · 2014</span>
								<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, dicta.</h4>
							</figcaption>
						</figure>
					</a>
					<a class="c6" href="single.html">
						<figure class="clear">
							<span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, nisi."></span>
							<figcaption>
								<span class="date">26 · Febrero · 2014</span>
								<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, nisi.</h4>
							</figcaption>
						</figure>
					</a>
				</div>
				<div class="row">
					<a class="c6" href="single.html">
						<figure class="clear">
							<span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ut."></span>
							<figcaption>
								<span class="date">25 · Febrero · 2014</span>
								<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ut.</h4>
							</figcaption>
						</figure>
					</a>
					<a class="c6" href="single.html">
						<figure class="clear">
							<span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aspernatur."></span>
							<figcaption>
								<span class="date">25 · Febrero · 2014</span>
								<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aspernatur.</h4>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="row more">
				<div class="c12">
					<a href="category.html"><span>Ver más noticias</span></a>
				</div>
			</div>
		</section>
		<section class="c4 end eventos">
			<div class="row">
				<h2 class="c12 title">Eventos:</h2>
				<a href="events.html" class="c12" fecha="210120141900">
					<span class="date icon">21 · Enero · 2014</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut possimus culpa et.</p>
				</a>
				<a href="events.html" class="c12" fecha="210120141900">
					<span class="date icon">21 · Enero · 2014</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut possimus culpa et.</p>
				</a>
				<a href="events.html" class="c12" fecha="210120141900">
					<span class="date icon">21 · Enero · 2014</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut possimus culpa et.</p>
				</a>
			</div>
			<div class="row more">
				<div class="c12">
					<a href="events.html"><span>Ver más eventos</span></a>
				</div>
			</div>
		</section>
	</div>
	<div class="row destacados">
		<h2 class="c12 title">Destacados:</h2>
		<div class="clear">
			<a class="c3" href="single.html">
				<figure>
					<img src="{% static 'usm_theme/demo/featured-news-thumb.jpg' %}" alt="Lorem ipsum dolor">
					<figcaption>
						<p><strong>Lorem ipsum dolor: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ducimus nostrum itaque repudiandae aliquam vitae.</p>
					</figcaption>
				</figure>
			</a>
			<a class="c3" href="single.html">
				<figure>
					<img src="{% static 'usm_theme/demo/featured-news-thumb.jpg' %}" alt="Lorem ipsum dolor">
					<figcaption>
						<p><strong>Lorem ipsum dolor: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ducimus nostrum itaque repudiandae aliquam vitae.</p>
					</figcaption>
				</figure>
			</a>
			<a class="c3" href="single.html">
				<figure>
					<img src="{% static 'usm_theme/demo/featured-news-thumb.jpg' %}" alt="Lorem ipsum dolor">
					<figcaption>
						<p><strong>Lorem ipsum dolor: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ducimus nostrum itaque repudiandae aliquam vitae.</p>
					</figcaption>
				</figure>
			</a>
			<a class="c3" href="single.html">
				<figure>
					<img src="{% static 'usm_theme/demo/featured-news-thumb.jpg' %}" alt="Lorem ipsum dolor">
					<figcaption>
						<p><strong>Lorem ipsum dolor: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ducimus nostrum itaque repudiandae aliquam vitae.</p>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
</div>
</section>
<!--<div class="grid row">
	<div id="content">
		<h2 class="home-section">Ultimas publicaciones</h2>
		<ul class="items-list">
			{% for document in documents %}
				<li>
					<a href="#">
						<div class="owner-picture" ><img src="{% static document.owner.filename %}"></div>
						<span class="date">{{document.date_added.day}} · {{document.date_added|date:"F" }} · {{document.date_added.year}}</span>
						<h4 class="title">{{ document.title }}</h4>
						<span class="author">{{ document.author }}</span>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="owner-picture" ><img src="{% static document.owner.filename %}"></div>
						<span class="date">{{document.date_added.day}} · {{document.date_added|date:"F" }} · {{document.date_added.year}}</span>
						<h4 class="title">{{ document.title }}</h4>
						<span class="author">{{ document.author }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="clear"></div>
	</div>
</div>-->

{% endblock %}