{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<section id="content" class="wfull">
    <div id="title">
        <div class="grid">
            <div class="row">
                {% if lang == 'es' %}
                    {{ current_subsection.spanish_title | safe }}
                {% elif lang == 'en' %}
                    {{ current_subsection.english_title | safe }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="row">
            <div class="s1 c11">
                {% for member1, member2 in working %}
                    <div class="clear">
                        <section class="c6 circle category" id="{{category1.0.id}}">
                            <div class="row trans">
                                <div class="c4 img">
                                    {% if member1.image %}
                                        <img src="{% static member1.image %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                    {% else %}
                                        <img src="{% static 'intranet/images/default.png' %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                    {% endif %}
                                </div>
                                <div class="c8 items">
                                    <h3>{{ member1.name }}</h3>
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        {% if member2 %}
                            <section class="c6 circle category" id="{{category2.0.id}}">
                                <div class="row trans">
                                    <div class="c4 img">
                                        {% if member2.image %}
                                            <img src="{% static member2.image %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                        {% else %}
                                            <img src="{% static 'intranet/images/default.png' %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                        {% endif %}
                                    </div>
                                    <div class="c8 items">
                                        <h3>{{ member2.name }}</h3>
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="title">
        <div class="grid">
            <div class="row">
                {% if lang == 'es' %}
                    <h1 class="c12">Ex-Integrantes</h1>
                {% elif lang == 'en' %}
                    {{ current_subsection.english_title | safe }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="row">
            <div class="s1 c11">
                {% for member1, member2 in not_working %}
                    <div class="clear">
                        <section class="c6 circle category" id="{{category1.0.id}}">
                            <div class="row trans">
                                <div class="c4 img">
                                    {% if member1.image %}
                                        <img src="{% static member1.image %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                    {% else %}
                                        <img src="{% static 'intranet/images/default.png' %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                    {% endif %}
                                </div>
                                <div class="c8 items">
                                    <h3>{{ member1.name }}</h3>
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        {% if member2 %}
                            <section class="c6 circle category" id="{{category2.0.id}}">
                                <div class="row trans">
                                    <div class="c4 img">
                                        {% if member2.image %}
                                            <img src="{% static member2.image %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                        {% else %}
                                            <img src="{% static 'intranet/images/default.png' %}" alt="{% if lang == 'es' %}{{category1.0.spanish_name}}{% elif lang == 'en' %}{{category1.0.english_name}}{% endif %}"/>
                                        {% endif %}
                                    </div>
                                    <div class="c8 items">
                                        <h3>{{ member2.name }}</h3>
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="c12">
                <ul id="bottom-nav" class="clear">
                    {% if other_sections.0 %}
                        <li><a class="red" href="{% url 'webpage:section' other_sections.0.slug %}">{% if lang == 'es' %}{{other_sections.0.spanish_name}}{% elif lang == 'en' %}{{other_sections.0.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.1 %}
                        <li><a class="orange" href="{% url 'webpage:section' other_sections.1.slug %}">{% if lang == 'es' %}{{other_sections.1.spanish_name}}{% elif lang == 'en' %}{{other_sections.1.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.2 %}
                        <li><a class="yellow" href="{% url 'webpage:section' other_sections.2.slug %}">{% if lang == 'es' %}{{other_sections.2.spanish_name}}{% elif lang == 'en' %}{{other_sections.2.english_name}}{% endif %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
