{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<section id="content" class="wfull">
    <div id="title">
        <div class="grid">
            <div class="row">
                <h1 class="c12">{% trans "Noticias" %}</h1>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="row">
            <section class="content noticias list c8">
                {% if news %}
                    <div class="clear">
                        {% for left, right in news %}
                            <div class="row">
                                {% if left.is_external %}
                                    <a class="c6" href="{{ left.source_url }}">
                                {% else %}
                                    <a class="c6" href="{% url 'webpage:news' left.date|date:'Y' left.date|date:'m' left.date|date:'d' left.slug %}">
                                {% endif %} 
                                    <figure class="clear">
                                        <span class="thumb"><img src="{% static left.thumbnail_url %}" ></span>
                                        <figcaption>
                                            <span class="date">{{left.date|date:'d'}} · {{left.date|date:'F'}} · {{left.date|date:'Y'}}</span>
                                            <h4>{{left.title}}</h4>
                                            {% if left.is_external %}
                                                <p>{{left.description}}</p>
                                            {% else %}
                                                <p>{{left.get_extract}}</p>
                                            {% endif %}
                                        </figcaption>
                                    </figure>
                                </a>
                                {% if right %}
                                    {% if right.is_external %}
                                        <a class="c6" href="{{ right.source_url }}">
                                    {% else %}
                                        <a class="c6" href="{% url 'webpage:news' right.date|date:'Y' right.date|date:'m' right.date|date:'d' right.slug %}">
                                    {% endif %} 
                                        <figure class="clear">
                                            <span class="thumb"><img src="{% static right.thumbnail_url %}" ></span>
                                            <figcaption>
                                                <span class="date">{{right.date|date:'d'}} · {{right.date|date:'F'}} · {{right.date|date:'Y'}}</span>
                                                <h4>{{right.title}}</h4>
                                                {% if right.is_external %}
                                                    <p>{{right.description}}</p>
                                                {% else %}
                                                    <p>{{right.get_extract}}</p>
                                                {% endif %}
                                            </figcaption>
                                        </figure>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if paginator.paginator.page_range|length > 1 %}
                        <div class="clear">
                            <div id="wp_page_numbers">
                                <ul>
                                    {% if paginator.has_previous %}
                                        <li><a href="{% url 'webpage:news_feed' %}?page={{paginator.previous_page_number}}">{% trans "Anterior" %}</a></li>
                                    {% endif %}
                                    {% for page in paginator.paginator.page_range %}
                                        <li {% ifequal paginator.number page %}class="active_page"{% endifequal %}>
                                            <a href="{% url 'webpage:news_feed' %}?page={{page}}">{{page}}</a>
                                        </li>
                                    {% endfor %}
                                    {% if paginator.has_next %}
                                        <li><a href="{% url 'webpage:news_feed' %}?page={{paginator.next_page_number}}">{% trans "Siguiente" %}</a></li>
                                    {% endif %}
                                </ul>
                                <div style="float: none; clear: both;"></div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="clear">
                        <div class="row">
                            <h1>{% trans "No hay noticias" %}</h1>
                        </div>
                    </div>
                {% endif %}
            </section>
            <section id="sidebar" class="c4">
                <div class="eventos clear box">
                    <h3>{% trans 'Eventos' %}</h3>
                    <div class="clear">
                        {% if events %}
                            {% for event in events %}
                                <a href="{% url 'webpage:event' event.slug %}">
                                    <span class="date icon">{{event.get_date|date:'d'}} · {{event.get_date|date:'F'}} · {{event.get_date|date:'Y'}}</span>
                                    <p>{{event.title}}</p>
                                </a>
                            {% endfor %}
                            <a class="clear more" href="{% url 'webpage:section' 'events' %}">{% trans 'Ver más' %}</a>
                        {% else %}
                            <span class="c12 empty">
                                {% trans "No hay eventos" %}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="c12">
                <ul id="bottom-nav" class="clear">
                    {% if other_sections.0 %}
                        <li><a class="red" href="{% url 'webpage:section' other_sections.0.slug %}">{% if lang == 'es' %}{{other_sections.0.spanish_name}}{% elif lang == 'en' %}{{other_sections.0.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.1 %}
                        <li><a class="orange" href="{% url 'webpage:section' other_sections.1.slug %}">{% if lang == 'es' %}{{other_sections.1.spanish_name}}{% elif lang == 'en' %}{{other_sections.1.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.2 %}
                        <li><a class="yellow" href="{% url 'webpage:section' other_sections.2.slug %}">{% if lang == 'es' %}{{other_sections.2.spanish_name}}{% elif lang == 'en' %}{{other_sections.2.english_name}}{% endif %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
