{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Noticias
{% endblock %}

{% block content %}
<section id="content" class="wfull">
    <div id="title">
        <div class="grid">
            <div class="row">
                <h1 class="c12">Titulo de la noticia</h1>
            </div>
        </div>
    </div>
    <div class="grid">
    	<div class="row">
    		<section class="content noticias single c8">
                <p class="meta"><span class="date">23 · Septiembre · 2013</span></p>
                <article class="post clear">
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates eos mollitia recusandae labore qui nulla sint possimus blanditiis quaerat animi?</strong></p>
                    <p><a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Titulo de la noticia"><img class="alignleft" title="Titulo de la noticia" src="{% static 'usm_theme/demo/news-single.jpg' %}" alt="Titulo de la noticia"></a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, recusandae, ipsum ea eaque velit magnam similique. Numquam, suscipit, repellat officia accusamus iste harum et ab possimus reiciendis veritatis inventore animi!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, odit sed saepe fugit sint veritatis consequatur tempore provident!</p>
                    <p>Nulla, excepturi necessitatibus error numquam ducimus nostrum adipisci eveniet magni. Accusamus, maiores, voluptates incidunt iste impedit accusantium saepe?</p>
                    <p>Sed, fugit, animi eos adipisci enim quisquam culpa possimus inventore rerum nostrum ipsa ullam saepe quibusdam minus fugiat. Laborum, veniam, dolorem perspiciatis tempore dolorum ipsa porro reprehenderit pariatur quos consequatur! Magni, temporibus nulla veniam at! Fugit.</p>
                    <h3>Lorem ipsum dolor.</h3>
                    <p><a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Titulo de la noticia"><img class="alignright" title="Titulo de la noticia" src="{% static 'usm_theme/demo/news-single.jpg' %}" alt="Titulo de la noticia"></a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, recusandae, ipsum ea eaque velit magnam similique. Numquam, suscipit, repellat officia accusamus iste harum et ab possimus reiciendis veritatis inventore animi!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, et, repellendus cumque ipsam maiores consequatur temporibus veniam suscipit est itaque accusantium blanditiis natus magnam dolorum nostrum iste error non debitis.</p>
                    <p>Rerum, a vero consequatur perferendis voluptatibus veniam quod. Nobis, omnis sunt quisquam aliquam possimus eum quod. Voluptatibus, error, debitis, itaque architecto cum aliquid cumque minus voluptatem reprehenderit quas placeat maxime.</p>
                    <p>Ipsam, at, explicabo tempore sint quas porro velit ut consectetur suscipit sequi provident facere amet. Aspernatur, autem, magnam dolore facilis quo nisi eos eaque est consectetur nulla assumenda voluptatem quam.</p>

                    <div class="source">
                        <p><strong>Fuente: </strong><a href="#">Agencia Lorem Ipsum</a></p>
                    </div>
                </article>
                <div id="gallery">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <div class="photos clear">
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Quidem, at quisquam assumenda commodi adipisci veniam laudantium. Possimus, maxime."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Cumque, libero aliquam autem quod ex deleniti id alias sed."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Deserunt porro veniam repellat odit sed ipsum voluptates dolorem hic!"><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Dolorem, autem explicabo iusto veniam eum quaerat sed porro esse?"><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Obcaecati, sunt distinctio suscipit iste odio molestias repellendus quo commodi!"><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Quia, natus ipsum sit debitis odio sint nulla eaque tenetur."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Veritatis, sapiente quod quis incidunt totam est pariatur nobis possimus."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Quas, alias est deserunt similique molestias facilis provident veritatis necessitatibus."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Quo, maiores nam quidem provident laboriosam enim quisquam rerum officia."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Blanditiis veniam ea itaque placeat perferendis cum quo ducimus reprehenderit."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                    </div>
                </div>
                <div id="comments">
                    <h3>Hay 3 comentario para esta noticia</h3>
                    <div class="comments">

                        <div class="comment">
                            <div class="comment-meta">
                                <a class="user" href="#">Lorem ipsum dolor.</a>
                                <span class="date">Publicado el 23 de septiembre de 2013 a las 22:05</span>
                            </div>
                            <div class="comment-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis assumenda fugit porro aspernatur. Maxime ducimus ex eveniet ad sit quibusdam?</p>
                            </div>
                        </div>

                        <div class="comment">
                            <div class="comment-meta">
                                <a class="user" href="#">Lorem ipsum dolor.</a>
                                <span class="date">Publicado el 23 de septiembre de 2013 a las 22:05</span>
                            </div>
                            <div class="comment-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, consequuntur inventore dolores ducimus provident assumenda saepe enim culpa blanditiis libero.</p>
                            </div>
                        </div>

                        <div class="comment">
                            <div class="comment-meta">
                                <a class="user" href="#">Lorem ipsum dolor.</a>
                                <span class="date">Publicado el 23 de septiembre de 2013 a las 22:05</span>
                            </div>
                            <div class="comment-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, dignissimos repellat expedita laborum perspiciatis obcaecati tempora temporibus eaque dolor amet.</p>
                            </div>
                        </div>

                    </div>
                    <div id="comment-form">
                        <h3>Ingresa tu comentario</h3>
                        <p>Valoramos su opinión siempre que esta sea emitida con respeto y responsabilidad. Nos reservamos el derecho a no publicar comentarios que resulten ofensivos o fuera del contexto de la noticia.</p>
                        <p><em>(*) Son datos necesario para enviar.</em></p>
                        <form class="clear">
                            <div class="c10 s2">
                                <div class="row">
                                    <div class="c6"><input type="text" class="text" placeholder="* Nombre Completo"/><span class="error">Debes ingresar tu nombre</span></div>
                                    <div class="c6"><input type="text" class="text" placeholder="* RUT (no será publicado)"/><span class="error">Debes ingresar tu RUT</span></div>
                                </div>
                                <div class="row">
                                    <div class="c6"><input type="text" class="text" placeholder="* Teléfono (no será publicado)"/><span class="error">Debes ingresar tu teléfono</span></div>
                                    <div class="c6"><input type="text" class="text" placeholder="* Email (no será publicado)"/><span class="error">Ingresa un email válido</span></div>
                                </div>
                                <div class="row">
                                    <div class="c12"><input type="text" class="text" placeholder="Sitio web o blog personal"/><span class="error">Ingresa una dirección válida</span></div>
                                </div>
                                <div class="row">
                                    <div class="c12"><textarea class="text" placeholder="* Comentario"></textarea><span class="error">Debes ingresar un comentario</span></div>
                                </div>
                                <div class="row">
                                    <div class="c6 s6"><input type="submit" class="submit trans" value="Publicar comentario"/></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    		</section>
			<section id="sidebar" class="c4">
				<div class="destacados clear box">
                    <h3>Noticias relacionadas</h3>
                    <a class="clear" href="#">
                        <span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, nemo quidem ea."/></span>
                        <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, quod maxime natus.</span>
                    </a>
                    <a class="clear" href="#">
                        <span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto animi adipisci!"/></span>
                        <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit molestiae repudiandae nemo.</span>
                    </a>
                    <a class="clear" href="#">
                        <span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, laboriosam at maiores?"/></span>
                        <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio vel quasi enim.</span>
                    </a>
                </div>
                <div class="ultimas clear box">
                    <h3>Noticias recientes</h3>
                    <a class="clear" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit totam consectetur aut.</a>
                    <a class="clear" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, vitae quidem excepturi?</a>
                    <a class="clear" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quam repellat expedita.</a>
                    <a class="clear more" href="category.html">Ver todas</a>
                </div>
			</section>
    	</div>
        <div class="row">
            <div class="c12">
                <ul id="bottom-nav" class="clear">
                    <li><a class="red" href="section.html">Lorem ipsum</a></li>
                    <li><a class="orange" href="section.html">Laboriosam quasi tempore</a></li>
                    <li><a class="yellow" href="section.html">Quidem cupiditate</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
