{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<section id="content" class="wfull">
    <div id="title">
        <div class="grid">
            <div class="row">
                <h1 class="c12">{% trans "Noticias" %}</h1>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="row">
            <section class="content noticias list c8">
                <div class="clear">
                    {% for left, right in news %}
                        <div class="row">
                            {% if left.is_external %}
                                <a class="c6" href="{{ left.source_url }}">
                            {% else %}
                                <a class="c6" href="{% url 'webpage:news' left.date|date:'Y' left.date|date:'m' left.date|date:'d' left.slug %}">
                            {% endif %} 
                                <figure class="clear">
                                    <span class="thumb"><img src="{% static left.thumbnail_url %}" ></span>
                                    <figcaption>
                                        <span class="date">{{left.date|date:'d'}} · {{left.date|date:'F'}} · {{left.date|date:'Y'}}</span>
                                        <h4>{{left.title}}</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo optio aperiam dicta voluptatibus deserunt aliquid placeat ex ipsam!</p>
                                    </figcaption>
                                </figure>
                            </a>
                            {% if left.is_external %}
                                <a class="c6" href="{{ right.source_url }}">
                            {% else %}
                                <a class="c6" href="{% url 'webpage:news' right.date|date:'Y' right.date|date:'m' right.date|date:'d' right.slug %}">
                            {% endif %} 
                                <figure class="clear">
                                    <span class="thumb"><img src="{% static right.thumbnail_url %}" ></span>
                                    <figcaption>
                                        <span class="date">{{right.date|date:'d'}} · {{right.date|date:'F'}} · {{right.date|date:'Y'}}</span>
                                        <h4>{{right.title}}</h4>
                                        e<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, dolore, nesciunt veritatis tempora a voluptas nam sint aliquid.</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    {% endfor %}
                <div class="clear">
                    <div id="wp_page_numbers">
                        <ul>
                            {% if paginator.has_previous %}
                                <li><a href="{% url 'webpage:news_feed' %}?page={{paginator.previous_page_number}}">{% trans "Anterior" %}</a></li>
                            {% endif %}
                            {% for page in paginator.paginator.page_range %}
                                <li {% ifequal paginator.number page %}class="active_page"{% endifequal %}>
                                    <a href="{% url 'webpage:news_feed' %}?page={{page}}">{{page}}</a>
                                </li>
                            {% endfor %}
                            {% if paginator.has_next %}
                                <li><a href="{% url 'webpage:news_feed' %}?page={{paginator.next_page_number}}">{% trans "Siguiente" %}</a></li>
                            {% endif %}
                        </ul>
                        <div style="float: none; clear: both;"></div>
                    </div>
                </div>
            </section>
            <section id="sidebar" class="c4">
                <div class="eventos clear box">
                    <h3>Eventos</h3>
                    <div class="clear">
                        <a href="eventos-single.html">
                            <span class="date icon">24 · Septiembre · 2013</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </a>
                        <a href="eventos-single.html">
                            <span class="date icon">24 · Septiembre · 2013</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </a>
                        <a href="eventos-single.html">
                            <span class="date icon">24 · Septiembre · 2013</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </a>
                        <a class="clear more" href="events.html">Ver más</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="c12">
                <ul id="bottom-nav" class="clear">
                    <li><a class="red" href="section.html">Lorem ipsum</a></li>
                    <li><a class="orange" href="section.html">Laboriosam quasi tempore</a></li>
                    <li><a class="yellow" href="section.html">Quidem cupiditate</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
