{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
    <!-- ContentTools -->
    <link rel="stylesheet" type="text/css" href="{% static 'webpage/vendor/contentTools/content-tools.min.css' %}">
    <!-- editor css -->
    <link rel="stylesheet" type="text/css" href="{% static 'webpage/css/news_editor.css' %}">
    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'intranet/css/vendor/font-awesome.min.css' %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static 'intranet/js/vendor/canvas-to-blob.min.js' %}"></script>
{% endblock %}
{% block content %}
<style>
    .author {
        font-style: italic;
        font-weight: bold;
    }
</style>
<section id="content" class="wfull">
    <div id="title">
        <div class="grid">
            <div class="row">
                <div data-editable data-name="news-title">
                    {% if not news.title %}
                        <h1 class="c12">< {% trans "Titulo de la noticia" %} ></h1>
                    {% else %}
                        {{news.title_html|safe}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
    	<div class="row">
    		<section class="content noticias single c8">
                <p class="meta"><span class="date">{{news.date|date:'d'}} · {{news.date|date:'F'}} · {{news.date|date:'Y'}}</span></p>
                <article class="post clear" data-editable data-name="news-content">
                    {{news.body|safe}}

                    
                </article>
                {% if news.source_text %}
                    <div class="source">
                        <p><strong>Fuente: </strong>
                        {% if news.source_url %}
                            <a href="{{news.source_url}}">{{news.source_text}}</a>
                        {% else %}
                            {{news.source_text}}
                        {% endif %}
                        </p>
                    </div>
                {% endif %}
                <!--<div id="gallery">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <div class="photos clear">
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Quidem, at quisquam assumenda commodi adipisci veniam laudantium. Possimus, maxime."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Cumque, libero aliquam autem quod ex deleniti id alias sed."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Deserunt porro veniam repellat odit sed ipsum voluptates dolorem hic!"><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Dolorem, autem explicabo iusto veniam eum quaerat sed porro esse?"><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Obcaecati, sunt distinctio suscipit iste odio molestias repellendus quo commodi!"><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Quia, natus ipsum sit debitis odio sint nulla eaque tenetur."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Veritatis, sapiente quod quis incidunt totam est pariatur nobis possimus."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Quas, alias est deserunt similique molestias facilis provident veritatis necessitatibus."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Quo, maiores nam quidem provident laboriosam enim quisquam rerum officia."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                        <a href="{% static 'usm_theme/demo/news-single.jpg' %}" title="Blanditiis veniam ea itaque placeat perferendis cum quo ducimus reprehenderit."><img src="{% static 'usm_theme/demo/category.jpg' %}"/></a>
                    </div>
                </div>-->
                {% if request.user == news.author or request.user.is_admin %}
                    <div id="comments">
                    {% with comments=news.get_comments %}
                        <h3>
                            {% if comments|length == 1 %}
                                {% blocktrans with count=comments|length %}
                                    Hay {{count}} comentario para esta noticia
                                {% endblocktrans %}
                            {% else %}
                                {% blocktrans with count=comments|length %}
                                    Hay {{count}} comentarios para esta noticia
                                {% endblocktrans %}
                            {% endif %}
                        </h3>
                        <div class="comments">
                            {% for comment in comments %}
                                <div id="comment{{comment.id}}" class="comment">
                                    <div class="comment-meta">
                                        {% if comment.author.is_admin %}
                                            <span class="user" href="#">{% trans "Administrador" %}.</span>
                                        {% else %}
                                            <a class="user" href="#">{{ comment.author.first_name }} {{ comment.author.last_name }}.</a>
                                        {% endif %}
                                        <span class="date">
                                            {% blocktrans with day=comment.date|date:'d' month=comment.date|date:'F' year=comment.date|date:'Y' hour=comment.date|date:'H' minutes=comment.date|date:'i' %}
                                                Publicado el {{day}} de {{month}} de {{year}} a las {{hour}}:{{minutes}}
                                            {% endblocktrans %}
                                        </span>
                                    </div>
                                    <div class="comment-content">
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endwith %}
                        </div>
                        <div id="comment-form">
                            <h3>{% trans "Ingresa tu comentario" %}</h3>
                            {% if request.user.is_admin %}
                                <p>{% trans "Utiliza los comentarios para comunicarte con el autor de la noticia." %}</p>
                            {% else %}
                                <p>{% trans "Utiliza los comentarios para comunicarte con el administrador." %}</p>
                            {% endif %}
                            <p><em>(*) Son datos necesario para enviar.</em></p>
                            <form action="{% url 'webpage:new_news_comment' %}?&redirect=editor&ret={{request.GET.ret}}" class="clear" method="POST">
                                <div class="c10 s2">
                                    <div class="row">
                                        <div class="c12"><textarea class="text" name ="content" placeholder="* Comentario" required></textarea>
                                        {% if request.GET.error %}
                                            <span class="error">Debes ingresar un comentario</span></div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="c6 s6"><input type="submit" class="submit trans" value="Publicar comentario"/></div>
                                    </div>
                                </div>
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{news.id}}">
                            </form>
                        </div>
                    </div>
                {% endif %}
    		</section>
			<section id="sidebar" class="c4">
				<div class="destacados clear box">
                    <h3>Noticias relacionadas</h3>
                    <a class="clear" href="#">
                        <span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, nemo quidem ea."/></span>
                        <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, quod maxime natus.</span>
                    </a>
                    <a class="clear" href="#">
                        <span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto animi adipisci!"/></span>
                        <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit molestiae repudiandae nemo.</span>
                    </a>
                    <a class="clear" href="#">
                        <span class="thumb"><img src="{% static 'usm_theme/demo/news-thumb.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, laboriosam at maiores?"/></span>
                        <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio vel quasi enim.</span>
                    </a>
                </div>
                <div class="ultimas clear box">
                    <h3>Noticias recientes</h3>
                    <a class="clear" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit totam consectetur aut.</a>
                    <a class="clear" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, vitae quidem excepturi?</a>
                    <a class="clear" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quam repellat expedita.</a>
                    <a class="clear more" href="category.html">Ver todas</a>
                </div>
			</section>
    	</div>
        <div class="row">
            <div class="c12">
                <ul id="bottom-nav" class="clear">
                    {% if other_sections.0 %}
                        <li><a class="red" href="{% url 'webpage:section' other_sections.0.slug %}">{% if lang == 'es' %}{{other_sections.0.spanish_name}}{% elif lang == 'en' %}{{other_sections.0.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.1 %}
                        <li><a class="orange" href="{% url 'webpage:section' other_sections.1.slug %}">{% if lang == 'es' %}{{other_sections.1.spanish_name}}{% elif lang == 'en' %}{{other_sections.1.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.2 %}
                        <li><a class="yellow" href="{% url 'webpage:section' other_sections.2.slug %}">{% if lang == 'es' %}{{other_sections.2.spanish_name}}{% elif lang == 'en' %}{{other_sections.2.english_name}}{% endif %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ¡No modificar estos valores! -->
<script>var id = {{news.id}}</script>
<script>var author = 0</script>
<script>var csrf_token = "{{csrf_token}}"</script>
{% if request.GET.ret == 'editor' %}
    <!-- intranet_editor_url -->
    <script>var return_url = "{% url 'intranet:edit_news' news.id %}"</script>
{% else %}
    <!-- intranet_news_url -->
    <script>var return_url = "{% url 'intranet:news' %}"</script>
{% endif %}
<script>var save_images_url = "{% url 'webpage:save_images' %}"</script>
<script>var news_editor_url = "{% url 'webpage:news_editor' news.id %}"</script>
<script>
    if(window.location.hash){
        $(window.location.hash + '.comment').animate({
            backgroundColor: "#d4e0e3"
        }, 500, function(){
            $(this).animate({
                backgroundColor: "#f4f8f9"
            }, 500);
        });
    }
</script>
<script src="{% static 'webpage/vendor/contentTools/content-tools.js' %}"></script>
<script src="{% static 'webpage/js/news_editor_init.js' %}"></script>

{% endblock %}
