{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<section id="content" class="wfull">
    <div id="title">
        <div class="grid">
            <div class="row">
                {% if not news_.title %}
                    <h1 class="c12">< {% trans "Noticia del laboratorio" %} ></h1>
                {% else %}
                    {{news_.title_html|safe}}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="grid">
    	<div class="row">
    		<section class="content noticias single c8">
                <p class="meta"><span class="date">{{news_.date|date:'d'}} · {{news_.date|date:'F'}} · {{news_.date|date:'Y'}}</span></p>
                <article class="post clear">
                    {{news_.body|safe}}

                    {% if news_.source_text %}
                        <div class="source">
                            <p><strong>{% trans 'Fuente:' %}</strong>
                            {% if news_.source_url %}
                                <a href="{{news_.source_url}}">{{news_.source_text}}</a>
                            {% else %}
                                {{news_.source_text}}
                            {% endif %}
                            </p>
                        </div>
                    {% endif %}
                </article>
                {% if request.user == news_.author or request.user.is_admin %}
                    <div id="comments">
                    {% with comments=news_.get_comments %}
                        <h3>
                            {% if comments|length == 1 %}
                                {% blocktrans with count=comments|length %}
                                    Hay {{count}} comentarios para esta noticia
                                {% endblocktrans %}
                            {% else %}
                                {% blocktrans with count=comments|length %}
                                    Hay {{count}} comentarios para esta noticia
                                {% endblocktrans %}
                            {% endif %}
                        </h3>
                        <div class="comments">
                            {% for comment in comments %}
                                <div id="comment{{comment.id}}" class="comment">
                                    <div class="comment-meta">
                                        {% if comment.author.is_admin %}
                                            <span class="user" href="#">{% trans "Administrador" %}.</span>
                                        {% else %}
                                            <a class="user" href="#">{{ comment.author.first_name }} {{ comment.author.last_name }}.</a>
                                        {% endif %}
                                        <span class="date">
                                            {% blocktrans with day=comment.date|date:'d' month=comment.date|date:'F' year=comment.date|date:'Y' hour=comment.date|date:'H' minutes=comment.date|date:'i' %}
                                                Publicado el {{day}} de {{month}} de {{year}} a las {{hour}}:{{minutes}}
                                            {% endblocktrans %}
                                        </span>
                                    </div>
                                    <div class="comment-content">
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endwith %}
                        </div>
                        <div id="comment-form">
                            <h3>{% trans "Ingresa tu comentario" %}</h3>
                            {% if request.user.is_admin %}
                                <p>{% trans "Utiliza los comentarios para comunicarte con el autor de la noticia." %}</p>
                            {% else %}
                                <p>{% trans "Utiliza los comentarios para comunicarte con el administrador." %}</p>
                            {% endif %}
                            <p><em>{% trans '(*) Son datos necesarios para enviar.' %}</em></p>
                            <form action="{% url 'webpage:new_news_comment' %}?redirect=news" class="clear" method="POST">
                                <div class="c10 s2">
                                    <div class="row">
                                        <div class="c12"><textarea class="text" name ="content" placeholder="{% trans '* Comentario' %}" required></textarea>
                                        {% if request.GET.error %}
                                            <span class="error">{% trans 'Debes ingresar un comentario' %}</span></div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="c6 s6"><input type="submit" class="submit trans" value="{% trans 'Publicar comentario' %}"/></div>
                                    </div>
                                </div>
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{news_.id}}">
                            </form>
                        </div>
                    </div>
                {% endif %}
    		</section>
			<section id="sidebar" class="c4">
                <div class="ultimas clear box">
                    <h3>{% trans 'Noticias recientes' %}</h3>
                    {% if recents %}
                        {% for recent in recents %}
                            {% if recent.is_external %}
                                <a href="{{ recent.source_url }}">
                            {% else %}
                                <a href="{% url 'webpage:news' recent.date|date:'Y' recent.date|date:'m' recent.date|date:'d' recent.slug %}">
                            {% endif %}
                                    {{recent.title}}
                                </a>
                        {% endfor %}
                        <a class="clear more" href="{% url 'webpage:news_feed' %}">Ver todas</a>
                    {% else %}
                        <span class="c12 empty">
                            {% trans "No hay más noticias" %}
                        </span>
                    {% endif %}
                </div>
			</section>
    	</div>
        <div class="row">
            <div class="c12">
                <ul id="bottom-nav" class="clear">
                    {% if other_sections.0 %}
                        <li><a class="red" href="{% url 'webpage:section' other_sections.0.slug %}">{% if lang == 'es' %}{{other_sections.0.spanish_name}}{% elif lang == 'en' %}{{other_sections.0.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.1 %}
                        <li><a class="orange" href="{% url 'webpage:section' other_sections.1.slug %}">{% if lang == 'es' %}{{other_sections.1.spanish_name}}{% elif lang == 'en' %}{{other_sections.1.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.2 %}
                        <li><a class="yellow" href="{% url 'webpage:section' other_sections.2.slug %}">{% if lang == 'es' %}{{other_sections.2.spanish_name}}{% elif lang == 'en' %}{{other_sections.2.english_name}}{% endif %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
<script>
    $('.content').find('img').each(function(){
        $(this).wrap('<a href="' + $(this).attr('src') + '"></a>');
    });
    if(window.location.hash){
        $(window.location.hash + '.comment').animate({
            backgroundColor: "#d4e0e3"
        }, 500, function(){
            $(this).animate({
                backgroundColor: "#f4f8f9"
            }, 500);
        });
    }
</script>
{% endblock %}
