<optgroup>
	<option value="Chile" {% if profile_user.country == "Chile" %} selected {% endif %}>Chile</option>
	<option value="Estados Unidos" {% if profile_user.country == "Estados Unidos" %} selected {% endif %}>Estados Unidos</option>
	<option value="Argentina" {% if profile_user.country == "Argentina" %} selected {% endif %}>Argentina</option>	
</optgroup>
<optgroup label="─────────────">
	<option value="Afganistán" {% if profile_user.country == "Afganistán" %} selected {% endif %}>Afganistán</option>
	<option value="Akrotiri" {% if profile_user.country == "Akrotiri" %} selected {% endif %}>Akrotiri</option>
	<option value="Albania" {% if profile_user.country == "Albania" %} selected {% endif %}>Albania</option>
	<option value="Alemania" {% if profile_user.country == "Alemania" %} selected {% endif %}>Alemania</option>
	<option value="Andorra" {% if profile_user.country == "Andorra" %} selected {% endif %}>Andorra</option>
	<option value="Angola" {% if profile_user.country == "Angola" %} selected {% endif %}>Angola</option>
	<option value="Anguila" {% if profile_user.country == "Anguila" %} selected {% endif %}>Anguila</option>
	<option value="Antártida" {% if profile_user.country == "Antártida" %} selected {% endif %}>Antártida</option>
	<option value="Antigua y Barbuda" {% if profile_user.country == "Antigua y Barbuda" %} selected {% endif %}>Antigua y Barbuda</option>
	<option value="Antillas Neerlandesas" {% if profile_user.country == "Antillas Neerlandesas" %} selected {% endif %}>Antillas Neerlandesas</option>
	<option value="Arabia Saudí" {% if profile_user.country == "Arabia Saudí" %} selected {% endif %}>Arabia Saudí</option>
	<option value="Arctic Ocean" {% if profile_user.country == "Arctic Ocean" %} selected {% endif %}>Arctic Ocean</option>
	<option value="Argelia" {% if profile_user.country == "Argelia" %} selected {% endif %}>Argelia</option>
	<option value="Armenia" {% if profile_user.country == "Armenia" %} selected {% endif %}>Armenia</option>
	<option value="Aruba" {% if profile_user.country == "Aruba" %} selected {% endif %}>Aruba</option>
	<option value="Ashmore and Cartier Islands" {% if profile_user.country == "Ashmore and Cartier Islands" %} selected {% endif %}>Ashmore and Cartier Islands</option>
	<option value="Atlantic Ocean" {% if profile_user.country == "Atlantic Ocean" %} selected {% endif %}>Atlantic Ocean</option>
	<option value="Australia" {% if profile_user.country == "Australia" %} selected {% endif %}>Australia</option>
	<option value="Austria" {% if profile_user.country == "Austria" %} selected {% endif %}>Austria</option>
	<option value="Azerbaiyán" {% if profile_user.country == "Azerbaiyán" %} selected {% endif %}>Azerbaiyán</option>
	<option value="Bahamas" {% if profile_user.country == "Bahamas" %} selected {% endif %}>Bahamas</option>
	<option value="Bahráin" {% if profile_user.country == "Bahráin" %} selected {% endif %}>Bahráin</option>
	<option value="Bangladesh" {% if profile_user.country == "Bangladesh" %} selected {% endif %}>Bangladesh</option>
	<option value="Barbados" {% if profile_user.country == "Barbados" %} selected {% endif %}>Barbados</option>
	<option value="Bélgica" {% if profile_user.country == "Bélgica" %} selected {% endif %}>Bélgica</option>
	<option value="Belice" {% if profile_user.country == "Belice" %} selected {% endif %}>Belice</option>
	<option value="Benín" {% if profile_user.country == "Benín" %} selected {% endif %}>Benín</option>
	<option value="Bermudas" {% if profile_user.country == "Bermudas" %} selected {% endif %}>Bermudas</option>
	<option value="Bielorrusia" {% if profile_user.country == "Bielorrusia" %} selected {% endif %}>Bielorrusia</option>
	<option value="Birmania; Myanmar" {% if profile_user.country == "Birmania; Myanmar" %} selected {% endif %}>Birmania; Myanmar</option>
	<option value="Bolivia" {% if profile_user.country == "Bolivia" %} selected {% endif %}>Bolivia</option>
	<option value="Bosnia y Hercegovina" {% if profile_user.country == "Bosnia y Hercegovina" %} selected {% endif %}>Bosnia y Hercegovina</option>
	<option value="Botsuana" {% if profile_user.country == "Botsuana" %} selected {% endif %}>Botsuana</option>
	<option value="Brasil" {% if profile_user.country == "Brasil" %} selected {% endif %}>Brasil</option>
	<option value="Brunéi" {% if profile_user.country == "Brunéi" %} selected {% endif %}>Brunéi</option>
	<option value="Bulgaria" {% if profile_user.country == "Bulgaria" %} selected {% endif %}>Bulgaria</option>
	<option value="Burkina Faso" {% if profile_user.country == "Burkina Faso" %} selected {% endif %}>Burkina Faso</option>
	<option value="Burundi" {% if profile_user.country == "Burundi" %} selected {% endif %}>Burundi</option>
	<option value="Bután" {% if profile_user.country == "Bután" %} selected {% endif %}>Bután</option>
	<option value="Cabo Verde" {% if profile_user.country == "Cabo Verde" %} selected {% endif %}>Cabo Verde</option>
	<option value="Camboya" {% if profile_user.country == "Camboya" %} selected {% endif %}>Camboya</option>
	<option value="Camerún" {% if profile_user.country == "Camerún" %} selected {% endif %}>Camerún</option>
	<option value="Canadá" {% if profile_user.country == "Canadá" %} selected {% endif %}>Canadá</option>
	<option value="Chad" {% if profile_user.country == "Chad" %} selected {% endif %}>Chad</option>
	<option value="China" {% if profile_user.country == "China" %} selected {% endif %}>China</option>
	<option value="Chipre" {% if profile_user.country == "Chipre" %} selected {% endif %}>Chipre</option>
	<option value="Clipperton Island" {% if profile_user.country == "Clipperton Island" %} selected {% endif %}>Clipperton Island</option>
	<option value="Colombia" {% if profile_user.country == "Colombia" %} selected {% endif %}>Colombia</option>
	<option value="Comoras" {% if profile_user.country == "Comoras" %} selected {% endif %}>Comoras</option>
	<option value="Congo" {% if profile_user.country == "Congo" %} selected {% endif %}>Congo</option>
	<option value="Coral Sea Islands" {% if profile_user.country == "Coral Sea Islands" %} selected {% endif %}>Coral Sea Islands</option>
	<option value="Corea del Norte" {% if profile_user.country == "Corea del Norte" %} selected {% endif %}>Corea del Norte</option>
	<option value="Corea del Sur" {% if profile_user.country == "Corea del Sur" %} selected {% endif %}>Corea del Sur</option>
	<option value="Costa de Marfil" {% if profile_user.country == "Costa de Marfil" %} selected {% endif %}>Costa de Marfil</option>
	<option value="Costa Rica" {% if profile_user.country == "Costa Rica" %} selected {% endif %}>Costa Rica</option>
	<option value="Croacia" {% if profile_user.country == "Croacia" %} selected {% endif %}>Croacia</option>
	<option value="Cuba" {% if profile_user.country == "Cuba" %} selected {% endif %}>Cuba</option>
	<option value="Dhekelia" {% if profile_user.country == "Dhekelia" %} selected {% endif %}>Dhekelia</option>
	<option value="Dinamarca" {% if profile_user.country == "Dinamarca" %} selected {% endif %}>Dinamarca</option>
	<option value="Dominica" {% if profile_user.country == "Dominica" %} selected {% endif %}>Dominica</option>
	<option value="Ecuador" {% if profile_user.country == "Ecuador" %} selected {% endif %}>Ecuador</option>
	<option value="Egipto" {% if profile_user.country == "Egipto" %} selected {% endif %}>Egipto</option>
	<option value="El Salvador" {% if profile_user.country == "El Salvador" %} selected {% endif %}>El Salvador</option>
	<option value="El Vaticano" {% if profile_user.country == "El Vaticano" %} selected {% endif %}>El Vaticano</option>
	<option value="Emiratos Árabes Unidos" {% if profile_user.country == "Emiratos Árabes Unidos" %} selected {% endif %}>Emiratos Árabes Unidos</option>
	<option value="Eritrea" {% if profile_user.country == "Eritrea" %} selected {% endif %}>Eritrea</option>
	<option value="Eslovaquia" {% if profile_user.country == "Eslovaquia" %} selected {% endif %}>Eslovaquia</option>
	<option value="Eslovenia" {% if profile_user.country == "Eslovenia" %} selected {% endif %}>Eslovenia</option>
	<option value="España" {% if profile_user.country == "España" %} selected {% endif %}>España</option>
	<option value="Estonia" {% if profile_user.country == "Estonia" %} selected {% endif %}>Estonia</option>
	<option value="Etiopía" {% if profile_user.country == "Etiopía" %} selected {% endif %}>Etiopía</option>
	<option value="Filipinas" {% if profile_user.country == "Filipinas" %} selected {% endif %}>Filipinas</option>
	<option value="Finlandia" {% if profile_user.country == "Finlandia" %} selected {% endif %}>Finlandia</option>
	<option value="Fiyi" {% if profile_user.country == "Fiyi" %} selected {% endif %}>Fiyi</option>
	<option value="Francia" {% if profile_user.country == "Francia" %} selected {% endif %}>Francia</option>
	<option value="Gabón" {% if profile_user.country == "Gabón" %} selected {% endif %}>Gabón</option>
	<option value="Gambia" {% if profile_user.country == "Gambia" %} selected {% endif %}>Gambia</option>
	<option value="Gaza Strip" {% if profile_user.country == "Gaza Strip" %} selected {% endif %}>Gaza Strip</option>
	<option value="Georgia" {% if profile_user.country == "Georgia" %} selected {% endif %}>Georgia</option>
	<option value="Ghana" {% if profile_user.country == "Ghana" %} selected {% endif %}>Ghana</option>
	<option value="Gibraltar" {% if profile_user.country == "Gibraltar" %} selected {% endif %}>Gibraltar</option>
	<option value="Granada" {% if profile_user.country == "Granada" %} selected {% endif %}>Granada</option>
	<option value="Grecia" {% if profile_user.country == "Grecia" %} selected {% endif %}>Grecia</option>
	<option value="Groenlandia" {% if profile_user.country == "Groenlandia" %} selected {% endif %}>Groenlandia</option>
	<option value="Guam" {% if profile_user.country == "Guam" %} selected {% endif %}>Guam</option>
	<option value="Guatemala" {% if profile_user.country == "Guatemala" %} selected {% endif %}>Guatemala</option>
	<option value="Guernsey" {% if profile_user.country == "Guernsey" %} selected {% endif %}>Guernsey</option>
	<option value="Guinea" {% if profile_user.country == "Guinea" %} selected {% endif %}>Guinea</option>
	<option value="Guinea Ecuatorial" {% if profile_user.country == "Guinea Ecuatorial" %} selected {% endif %}>Guinea Ecuatorial</option>
	<option value="Guinea-Bissau" {% if profile_user.country == "Guinea-Bissau" %} selected {% endif %}>Guinea-Bissau</option>
	<option value="Guyana" {% if profile_user.country == "Guyana" %} selected {% endif %}>Guyana</option>
	<option value="Haití" {% if profile_user.country == "Haití" %} selected {% endif %}>Haití</option>
	<option value="Honduras" {% if profile_user.country == "Honduras" %} selected {% endif %}>Honduras</option>
	<option value="Hong Kong" {% if profile_user.country == "Hong Kong" %} selected {% endif %}>Hong Kong</option>
	<option value="Hungría" {% if profile_user.country == "Hungría" %} selected {% endif %}>Hungría</option>
	<option value="India" {% if profile_user.country == "India" %} selected {% endif %}>India</option>
	<option value="Indian Ocean" {% if profile_user.country == "Indian Ocean" %} selected {% endif %}>Indian Ocean</option>
	<option value="Indonesia" {% if profile_user.country == "Indonesia" %} selected {% endif %}>Indonesia</option>
	<option value="Irán" {% if profile_user.country == "Irán" %} selected {% endif %}>Irán</option>
	<option value="Iraq" {% if profile_user.country == "Iraq" %} selected {% endif %}>Iraq</option>
	<option value="Irlanda" {% if profile_user.country == "Irlanda" %} selected {% endif %}>Irlanda</option>
	<option value="Isla Bouvet" {% if profile_user.country == "Isla Bouvet" %} selected {% endif %}>Isla Bouvet</option>
	<option value="Isla Christmas" {% if profile_user.country == "Isla Christmas" %} selected {% endif %}>Isla Christmas</option>
	<option value="Isla Norfolk" {% if profile_user.country == "Isla Norfolk" %} selected {% endif %}>Isla Norfolk</option>
	<option value="Islandia" {% if profile_user.country == "Islandia" %} selected {% endif %}>Islandia</option>
	<option value="Islas Caimán" {% if profile_user.country == "Islas Caimán" %} selected {% endif %}>Islas Caimán</option>
	<option value="Islas Cocos" {% if profile_user.country == "Islas Cocos" %} selected {% endif %}>Islas Cocos</option>
	<option value="Islas Cook" {% if profile_user.country == "Islas Cook" %} selected {% endif %}>Islas Cook</option>
	<option value="Islas Feroe" {% if profile_user.country == "Islas Feroe" %} selected {% endif %}>Islas Feroe</option>
	<option value="Islas Georgia del Sur y Sandwich del Sur" {% if profile_user.country == "Islas Georgia del Sur y Sandwich del Sur" %} selected {% endif %}>Islas Georgia del Sur y Sandwich del Sur</option>
	<option value="Islas Heard y McDonald" {% if profile_user.country == "Islas Heard y McDonald" %} selected {% endif %}>Islas Heard y McDonald</option>
	<option value="Islas Malvinas" {% if profile_user.country == "Islas Malvinas" %} selected {% endif %}>Islas Malvinas</option>
	<option value="Islas Marianas del Norte" {% if profile_user.country == "Islas Marianas del Norte" %} selected {% endif %}>Islas Marianas del Norte</option>
	<option value="Islas Marshall" {% if profile_user.country == "Islas Marshall" %} selected {% endif %}>Islas Marshall</option>
	<option value="Islas Pitcairn" {% if profile_user.country == "Islas Pitcairn" %} selected {% endif %}>Islas Pitcairn</option>
	<option value="Islas Salomón" {% if profile_user.country == "Islas Salomón" %} selected {% endif %}>Islas Salomón</option>
	<option value="Islas Turcas y Caicos" {% if profile_user.country == "Islas Turcas y Caicos" %} selected {% endif %}>Islas Turcas y Caicos</option>
	<option value="Islas Vírgenes Americanas" {% if profile_user.country == "Islas Vírgenes Americanas" %} selected {% endif %}>Islas Vírgenes Americanas</option>
	<option value="Islas Vírgenes Británicas" {% if profile_user.country == "Islas Vírgenes Británicas" %} selected {% endif %}>Islas Vírgenes Británicas</option>
	<option value="Israel" {% if profile_user.country == "Israel" %} selected {% endif %}>Israel</option>
	<option value="Italia" {% if profile_user.country == "Italia" %} selected {% endif %}>Italia</option>
	<option value="Jamaica" {% if profile_user.country == "Jamaica" %} selected {% endif %}>Jamaica</option>
	<option value="Jan Mayen" {% if profile_user.country == "Jan Mayen" %} selected {% endif %}>Jan Mayen</option>
	<option value="Japón" {% if profile_user.country == "Japón" %} selected {% endif %}>Japón</option>
	<option value="Jersey" {% if profile_user.country == "Jersey" %} selected {% endif %}>Jersey</option>
	<option value="Jordania" {% if profile_user.country == "Jordania" %} selected {% endif %}>Jordania</option>
	<option value="Kazajistán" {% if profile_user.country == "Kazajistán" %} selected {% endif %}>Kazajistán</option>
	<option value="Kenia" {% if profile_user.country == "Kenia" %} selected {% endif %}>Kenia</option>
	<option value="Kirguizistán" {% if profile_user.country == "Kirguizistán" %} selected {% endif %}>Kirguizistán</option>
	<option value="Kiribati" {% if profile_user.country == "Kiribati" %} selected {% endif %}>Kiribati</option>
	<option value="Kuwait" {% if profile_user.country == "Kuwait" %} selected {% endif %}>Kuwait</option>
	<option value="Laos" {% if profile_user.country == "Laos" %} selected {% endif %}>Laos</option>
	<option value="Lesoto" {% if profile_user.country == "Lesoto" %} selected {% endif %}>Lesoto</option>
	<option value="Letonia" {% if profile_user.country == "Letonia" %} selected {% endif %}>Letonia</option>
	<option value="Líbano" {% if profile_user.country == "Líbano" %} selected {% endif %}>Líbano</option>
	<option value="Liberia" {% if profile_user.country == "Liberia" %} selected {% endif %}>Liberia</option>
	<option value="Libia" {% if profile_user.country == "Libia" %} selected {% endif %}>Libia</option>
	<option value="Liechtenstein" {% if profile_user.country == "Liechtenstein" %} selected {% endif %}>Liechtenstein</option>
	<option value="Lituania" {% if profile_user.country == "Lituania" %} selected {% endif %}>Lituania</option>
	<option value="Luxemburgo" {% if profile_user.country == "Luxemburgo" %} selected {% endif %}>Luxemburgo</option>
	<option value="Macao" {% if profile_user.country == "Macao" %} selected {% endif %}>Macao</option>
	<option value="Macedonia" {% if profile_user.country == "Macedonia" %} selected {% endif %}>Macedonia</option>
	<option value="Madagascar" {% if profile_user.country == "Madagascar" %} selected {% endif %}>Madagascar</option>
	<option value="Malasia" {% if profile_user.country == "Malasia" %} selected {% endif %}>Malasia</option>
	<option value="Malaui" {% if profile_user.country == "Malaui" %} selected {% endif %}>Malaui</option>
	<option value="Maldivas" {% if profile_user.country == "Maldivas" %} selected {% endif %}>Maldivas</option>
	<option value="Malí" {% if profile_user.country == "Malí" %} selected {% endif %}>Malí</option>
	<option value="Malta" {% if profile_user.country == "Malta" %} selected {% endif %}>Malta</option>
	<option value="Man, Isle of" {% if profile_user.country == "Man, Isle of" %} selected {% endif %}>Man, Isle of</option>
	<option value="Marruecos" {% if profile_user.country == "Marruecos" %} selected {% endif %}>Marruecos</option>
	<option value="Mauricio" {% if profile_user.country == "Mauricio" %} selected {% endif %}>Mauricio</option>
	<option value="Mauritania" {% if profile_user.country == "Mauritania" %} selected {% endif %}>Mauritania</option>
	<option value="Mayotte" {% if profile_user.country == "Mayotte" %} selected {% endif %}>Mayotte</option>
	<option value="México" {% if profile_user.country == "México" %} selected {% endif %}>México</option>
	<option value="Micronesia" {% if profile_user.country == "Micronesia" %} selected {% endif %}>Micronesia</option>
	<option value="Moldavia" {% if profile_user.country == "Moldavia" %} selected {% endif %}>Moldavia</option>
	<option value="Mónaco" {% if profile_user.country == "Mónaco" %} selected {% endif %}>Mónaco</option>
	<option value="Mongolia" {% if profile_user.country == "Mongolia" %} selected {% endif %}>Mongolia</option>
	<option value="Montenegro" {% if profile_user.country == "Montenegro" %} selected {% endif %}>Montenegro</option>
	<option value="Montserrat" {% if profile_user.country == "Montserrat" %} selected {% endif %}>Montserrat</option>
	<option value="Mozambique" {% if profile_user.country == "Mozambique" %} selected {% endif %}>Mozambique</option>
	<option value="Mundo" {% if profile_user.country == "Mundo" %} selected {% endif %}>Mundo</option>
	<option value="Namibia" {% if profile_user.country == "Namibia" %} selected {% endif %}>Namibia</option>
	<option value="Nauru" {% if profile_user.country == "Nauru" %} selected {% endif %}>Nauru</option>
	<option value="Navassa Island" {% if profile_user.country == "Navassa Island" %} selected {% endif %}>Navassa Island</option>
	<option value="Nepal" {% if profile_user.country == "Nepal" %} selected {% endif %}>Nepal</option>
	<option value="Nicaragua" {% if profile_user.country == "Nicaragua" %} selected {% endif %}>Nicaragua</option>
	<option value="Níger" {% if profile_user.country == "Níger" %} selected {% endif %}>Níger</option>
	<option value="Nigeria" {% if profile_user.country == "Nigeria" %} selected {% endif %}>Nigeria</option>
	<option value="Niue" {% if profile_user.country == "Niue" %} selected {% endif %}>Niue</option>
	<option value="Noruega" {% if profile_user.country == "Noruega" %} selected {% endif %}>Noruega</option>
	<option value="Nueva Caledonia" {% if profile_user.country == "Nueva Caledonia" %} selected {% endif %}>Nueva Caledonia</option>
	<option value="Nueva Zelanda" {% if profile_user.country == "Nueva Zelanda" %} selected {% endif %}>Nueva Zelanda</option>
	<option value="Omán" {% if profile_user.country == "Omán" %} selected {% endif %}>Omán</option>
	<option value="Pacific Ocean" {% if profile_user.country == "Pacific Ocean" %} selected {% endif %}>Pacific Ocean</option>
	<option value="Países Bajos" {% if profile_user.country == "Países Bajos" %} selected {% endif %}>Países Bajos</option>
	<option value="Pakistán" {% if profile_user.country == "Pakistán" %} selected {% endif %}>Pakistán</option>
	<option value="Palaos" {% if profile_user.country == "Palaos" %} selected {% endif %}>Palaos</option>
	<option value="Panamá" {% if profile_user.country == "Panamá" %} selected {% endif %}>Panamá</option>
	<option value="Papúa-Nueva Guinea" {% if profile_user.country == "Papúa-Nueva Guinea" %} selected {% endif %}>Papúa-Nueva Guinea</option>
	<option value="Paracel Islands" {% if profile_user.country == "Paracel Islands" %} selected {% endif %}>Paracel Islands</option>
	<option value="Paraguay" {% if profile_user.country == "Paraguay" %} selected {% endif %}>Paraguay</option>
	<option value="Perú" {% if profile_user.country == "Perú" %} selected {% endif %}>Perú</option>
	<option value="Polinesia Francesa" {% if profile_user.country == "Polinesia Francesa" %} selected {% endif %}>Polinesia Francesa</option>
	<option value="Polonia" {% if profile_user.country == "Polonia" %} selected {% endif %}>Polonia</option>
	<option value="Portugal" {% if profile_user.country == "Portugal" %} selected {% endif %}>Portugal</option>
	<option value="Puerto Rico" {% if profile_user.country == "Puerto Rico" %} selected {% endif %}>Puerto Rico</option>
	<option value="Qatar" {% if profile_user.country == "Qatar" %} selected {% endif %}>Qatar</option>
	<option value="Reino Unido" {% if profile_user.country == "Reino Unido" %} selected {% endif %}>Reino Unido</option>
	<option value="República Centroafricana" {% if profile_user.country == "República Centroafricana" %} selected {% endif %}>República Centroafricana</option>
	<option value="República Checa" {% if profile_user.country == "República Checa" %} selected {% endif %}>República Checa</option>
	<option value="República Democrática del Congo" {% if profile_user.country == "República Democrática del Congo" %} selected {% endif %}>República Democrática del Congo</option>
	<option value="República Dominicana" {% if profile_user.country == "República Dominicana" %} selected {% endif %}>República Dominicana</option>
	<option value="Ruanda" {% if profile_user.country == "Ruanda" %} selected {% endif %}>Ruanda</option>
	<option value="Rumania" {% if profile_user.country == "Rumania" %} selected {% endif %}>Rumania</option>
	<option value="Rusia" {% if profile_user.country == "Rusia" %} selected {% endif %}>Rusia</option>
	<option value="Sáhara Occidental" {% if profile_user.country == "Sáhara Occidental" %} selected {% endif %}>Sáhara Occidental</option>
	<option value="Samoa" {% if profile_user.country == "Samoa" %} selected {% endif %}>Samoa</option>
	<option value="Samoa Americana" {% if profile_user.country == "Samoa Americana" %} selected {% endif %}>Samoa Americana</option>
	<option value="San Cristóbal y Nieves" {% if profile_user.country == "San Cristóbal y Nieves" %} selected {% endif %}>San Cristóbal y Nieves</option>
	<option value="San Marino" {% if profile_user.country == "San Marino" %} selected {% endif %}>San Marino</option>
	<option value="San Pedro y Miquelón" {% if profile_user.country == "San Pedro y Miquelón" %} selected {% endif %}>San Pedro y Miquelón</option>
	<option value="San Vicente y las Granadinas" {% if profile_user.country == "San Vicente y las Granadinas" %} selected {% endif %}>San Vicente y las Granadinas</option>
	<option value="Santa Helena" {% if profile_user.country == "Santa Helena" %} selected {% endif %}>Santa Helena</option>
	<option value="Santa Lucía" {% if profile_user.country == "Santa Lucía" %} selected {% endif %}>Santa Lucía</option>
	<option value="Santo Tomé y Príncipe" {% if profile_user.country == "Santo Tomé y Príncipe" %} selected {% endif %}>Santo Tomé y Príncipe</option>
	<option value="Senegal" {% if profile_user.country == "Senegal" %} selected {% endif %}>Senegal</option>
	<option value="Serbia" {% if profile_user.country == "Serbia" %} selected {% endif %}>Serbia</option>
	<option value="Seychelles" {% if profile_user.country == "Seychelles" %} selected {% endif %}>Seychelles</option>
	<option value="Sierra Leona" {% if profile_user.country == "Sierra Leona" %} selected {% endif %}>Sierra Leona</option>
	<option value="Singapur" {% if profile_user.country == "Singapur" %} selected {% endif %}>Singapur</option>
	<option value="Siria" {% if profile_user.country == "Siria" %} selected {% endif %}>Siria</option>
	<option value="Somalia" {% if profile_user.country == "Somalia" %} selected {% endif %}>Somalia</option>
	<option value="Southern Ocean" {% if profile_user.country == "Southern Ocean" %} selected {% endif %}>Southern Ocean</option>
	<option value="Spratly Islands" {% if profile_user.country == "Spratly Islands" %} selected {% endif %}>Spratly Islands</option>
	<option value="Sri Lanka" {% if profile_user.country == "Sri Lanka" %} selected {% endif %}>Sri Lanka</option>
	<option value="Suazilandia" {% if profile_user.country == "Suazilandia" %} selected {% endif %}>Suazilandia</option>
	<option value="Sudáfrica" {% if profile_user.country == "Sudáfrica" %} selected {% endif %}>Sudáfrica</option>
	<option value="Sudán" {% if profile_user.country == "Sudán" %} selected {% endif %}>Sudán</option>
	<option value="Suecia" {% if profile_user.country == "Suecia" %} selected {% endif %}>Suecia</option>
	<option value="Suiza" {% if profile_user.country == "Suiza" %} selected {% endif %}>Suiza</option>
	<option value="Surinam" {% if profile_user.country == "Surinam" %} selected {% endif %}>Surinam</option>
	<option value="Svalbard y Jan Mayen" {% if profile_user.country == "Svalbard y Jan Mayen" %} selected {% endif %}>Svalbard y Jan Mayen</option>
	<option value="Tailandia" {% if profile_user.country == "Tailandia" %} selected {% endif %}>Tailandia</option>
	<option value="Taiwán" {% if profile_user.country == "Taiwán" %} selected {% endif %}>Taiwán</option>
	<option value="Tanzania" {% if profile_user.country == "Tanzania" %} selected {% endif %}>Tanzania</option>
	<option value="Tayikistán" {% if profile_user.country == "Tayikistán" %} selected {% endif %}>Tayikistán</option>
	<option value="Territorio Británico del Océano Indico" {% if profile_user.country == "Territorio Británico del Océano Indico" %} selected {% endif %}>Territorio Británico del Océano Indico</option>
	<option value="Territorios Australes Franceses" {% if profile_user.country == "Territorios Australes Franceses" %} selected {% endif %}>Territorios Australes Franceses</option>
	<option value="Timor Oriental" {% if profile_user.country == "Timor Oriental" %} selected {% endif %}>Timor Oriental</option>
	<option value="Togo" {% if profile_user.country == "Togo" %} selected {% endif %}>Togo</option>
	<option value="Tokelau" {% if profile_user.country == "Tokelau" %} selected {% endif %}>Tokelau</option>
	<option value="Tonga" {% if profile_user.country == "Tonga" %} selected {% endif %}>Tonga</option>
	<option value="Trinidad y Tobago" {% if profile_user.country == "Trinidad y Tobago" %} selected {% endif %}>Trinidad y Tobago</option>
	<option value="Túnez" {% if profile_user.country == "Túnez" %} selected {% endif %}>Túnez</option>
	<option value="Turkmenistán" {% if profile_user.country == "Turkmenistán" %} selected {% endif %}>Turkmenistán</option>
	<option value="Turquía" {% if profile_user.country == "Turquía" %} selected {% endif %}>Turquía</option>
	<option value="Tuvalu" {% if profile_user.country == "Tuvalu" %} selected {% endif %}>Tuvalu</option>
	<option value="Ucrania" {% if profile_user.country == "Ucrania" %} selected {% endif %}>Ucrania</option>
	<option value="Uganda" {% if profile_user.country == "Uganda" %} selected {% endif %}>Uganda</option>
	<option value="Unión Europea" {% if profile_user.country == "Unión Europea" %} selected {% endif %}>Unión Europea</option>
	<option value="Uruguay" {% if profile_user.country == "Uruguay" %} selected {% endif %}>Uruguay</option>
	<option value="Uzbekistán" {% if profile_user.country == "Uzbekistán" %} selected {% endif %}>Uzbekistán</option>
	<option value="Vanuatu" {% if profile_user.country == "Vanuatu" %} selected {% endif %}>Vanuatu</option>
	<option value="Venezuela" {% if profile_user.country == "Venezuela" %} selected {% endif %}>Venezuela</option>
	<option value="Vietnam" {% if profile_user.country == "Vietnam" %} selected {% endif %}>Vietnam</option>
	<option value="Wake Island" {% if profile_user.country == "Wake Island" %} selected {% endif %}>Wake Island</option>
	<option value="Wallis y Futuna" {% if profile_user.country == "Wallis y Futuna" %} selected {% endif %}>Wallis y Futuna</option>
	<option value="West Bank" {% if profile_user.country == "West Bank" %} selected {% endif %}>West Bank</option>
	<option value="Yemen" {% if profile_user.country == "Yemen" %} selected {% endif %}>Yemen</option>
	<option value="Yibuti" {% if profile_user.country == "Yibuti" %} selected {% endif %}>Yibuti</option>
	<option value="Zambia" {% if profile_user.country == "Zambia" %} selected {% endif %}>Zambia</option>
	<option value="Zimbabue" {% if profile_user.country == "Zimbabue" %} selected {% endif %}>Zimbabue</option>	
</optgroup>