{% extends 'intranet/shared.html' %}
{% load staticfiles %}
{% block content %}
{% load i18n %}
<div class="title">
	<h3>{% trans "Documentos" %}</h3>
</div>

<div class="intranet row">
	{% if not search %}
		<!--Seccion de documentos -->
		<!-- Tener en cuenta que si no es una busqueda, el objeto documents es un paginador, por lo que tiene metodos sobre las paginas de resultado -->
		<!-- ver https://docs.djangoproject.com/es/1.10/topics/pagination/ -->
		{% if not documents %}
		<div class="c12">
			<h1 class="documents message">{% trans "No hemos encontrado documentos" %}</h1>
			<h5 class="documents description">{% trans "Asegúrate de haber subido algún documento. Nuestra base de datos está vacía" %}</h5>
		</div>
		{% else %}
			{% if not keyword %}
					{% if request.GET.category %}
                		{% if documents %}
                			<div class="c12">
								<div class="intranet box">
									<div class="document head">
										<h2 style="font-weight:normal">{% trans "Categoría" %}: <strong>{{documents.0.category.name}}</strong></h2>
									</div>
								</div>
							</div>
                		{% endif %}
                	{% endif %}
					<div class="documents filters c3">
						<div class="intranet box">
				            <div class="links">
				                <h3>{% trans "Categorías" %}</h3>
				                <a class="clear " href="{% url 'intranet:documents' %}">{% trans "Todas" %}</a>
				                {% for category in categories %}
				                	<a class="clear " href="{% url 'intranet:documents' %}?category={{category.id}}">{{category.name}}</a>
				                {% endfor %}
				            </div>
				        </div>
					</div>
				<div class="content eventos c9">
			{% else %}
				<div class="c12">
					<div class="intranet box">
						<div class="document head">
							<h2>{% trans "Palabra clave:" %} {{keyword}}</h2>
						</div>
					</div>
				</div>
				<div class="content eventos c12">
			{% endif %}
					<div class="intranet box">
						<div>
							{% for document in documents%}
							 	<div class="evento">
							        <a class="clear closed" href="{% url 'intranet:document' document.author_slug document.title_slug %}">
							            <span class="date">{{ document.date|date:"Y" }} · {{ document.author }}</span>
							            <h4>{{ document.title }}</h4>
							            <span class="icon arrow"></span>
							        </a>
						        </div>
							{% endfor %}
					    </div>
						{% if documents.has_other_pages %}
						    <div class="clear">
						        <div id="wp_page_numbers">
						            <ul>
						                {% if documents.has_previous %}
						                	<li><a href="{% url 'intranet:documents' %}?page={{documents.previous_page_number}}">{% trans "Anterior" %}</a></li>
						                {% endif %}
						            	{% for page in documents.paginator.page_range %}
						                	<li {% ifequal documents.number page %}class="active_page"{% endifequal %}>
						                		<a href="{% url 'intranet:documents' %}?page={{page}}">{{page}}</a>
						                	</li>
						                {% endfor %}
						                {% if documents.has_next %}
						                	<li><a href="{% url 'intranet:documents' %}?page={{documents.next_page_number}}">{% trans "Siguiente" %}</a></li>
						                {% endif %}
						            </ul>
						            <div style="float: none; clear: both;"></div>
						        </div>
						    </div>
					    {% endif %}
				    </div> 
				</div>
		{% endif %}
		</div>
		<!--Fin seccion de documentos-->
	{% else %}
		<!-- Es una busqueda -->
		<!--Seccion de resultados de buscqueda-->
		<script>$('#searchPhrase').val('{{search}}');</script>
		{% if not documents %}
			<div class="c12">
				<h1 class="documents message">{% trans "No encontramos resultados para tu búsqueda" %}</h1>
				<h5 class="documents description">{% trans "Asegúrate de haber escrito correctamente el autor y/o título" %}</h5>
			</div>
		{% else %}
			<div class="c12">
				<div class="intranet box">
					<div class="document head">
						<h2 style="font-weight:normal">
							{% blocktrans with len=documents|length search=search %}
							{{ len }} resultados para <strong>{{search}}</strong>
							{% endblocktrans %}
						</h2>
					</div>					
				</div>
			</div>
			<div class="documents filters c3">
				<form action="" method="GET" id="filter-form">
					<div class="intranet box">
			            <div class="links">
			                <h3>{% trans "AUTOR" %}</h3>
		                	{% for ath, count, selected in authors %}
		                		<div class="filter">
									{% if ath %}
										<div>
											<label for="checkbox-ath{{ath}}"><input id="checkbox-ath{{ath}}" name="author" value="{{ath}}" type="checkbox" class="filter-checkbox" {% if selected %} checked {% endif %}><span>{{ath}}</span></label>
										</div>
										<div>
											<span>({{count}})</span>
										</div>
										
									{% elif authors|length == 1  %}
										<span>-</span>
									{% endif %}
								</div>
							{% endfor %}
			            </div>
			        </div>
			        <div class="intranet box">
			            <div class="links">
			                <h3>{% trans "DUEÑO" %}</h3>
		                	{% for own, count, selected in owners %}
		                		<div class="filter">
									{% if own %}
										<div>
											<label for="checkbox-owner{{own.id}}"><input id="checkbox-owner{{own.id}}" name="owner" value="{{own.id}}" type="checkbox" class="filter-checkbox" {% if selected %} checked {% endif %}><span> {{own.first_name}} {{own.last_name}}</span></label>
										</div>
										<div>
											<span>({{count}})</span>
										</div>
										
									{% elif owners|length == 1  %}
										<span>-</span>
									{% endif %}
								</div>
							{% endfor %}
			            </div>
			        </div>
			        <div class="intranet box">
			            <div class="links">
			                <h3>{% trans "CATEGORÍA" %}</h3>
		                	{% for cat, count, selected in categories %}
		                		<div class="filter">
									{% if cat %}
										<div>
											<label for="checkbox-cat{{cat.id}}"><input id="checkbox-cat{{cat.id}}" name="category" value="{{cat.id}}"type="checkbox" class="filter-checkbox" {% if selected %} checked {% endif %}><span> {{cat.name}}</span></label>
										</div>
										<div>
											<span>({{count}})</span>
										</div>
										
									{% elif categories|length == 1 %}
										<span>-</span>
									{% endif %}
								</div>
							{% endfor %}
			            </div>
			        </div>
			        <div class="intranet box">
			            <div class="links">
			                <h3>{% trans "AÑO" %}</h3>
		                	{% for year, count, selected in years %}
		                		<div class="filter">
									{% if year %}
										<div>
											<label for="checkbox-year{{year}}"><input id="checkbox-year{{year}}" name="date" value="{{year}}"type="checkbox" class="filter-checkbox" {% if selected %} checked {% endif %}><span> {{year}}</span></label>
										</div>
										<div>
											<span>({{count}})</span>
										</div>
										
									{% elif years|length == 1 %}
										<span>-</span>
									{% endif %}
								</div>
							{% endfor %}
			            </div>
			        </div>
			    </form>
			</div>
			<div class="content eventos c9">
				<div class="intranet box">
				{% for document in documents%}
					 <div class="evento">
				        <a class="clear closed" href="{% url 'intranet:document' document.author_slug document.title_slug %}">
				            <span class="date text-result">{{ document.date|date:"Y" }} · {{ document.author }}</span>
				            <h4 class='text-result'>{{ document.title }}</h4>
				            {% if document.extract|length > 0 %}
				            		<div class="extract trans">
										<p class="text-result">{{ document.extract }}</p>
									</div>
							{% endif %}
				        </a>
				    </div>
				{% endfor %}
				<script>
						var search = '{{ search }}'.split(' ');
						console.log(search);
						$('.text-result').each(function(){
							for ( var i = 0; i< search.length; i++){
								var html = $(this).html();
								console.log(search[i])
								var re = new RegExp('^' + search[i] + '|' + search[i], 'gi')
								$(this).html(html.replace(re, '<span class="documents mark">' + '$&'.replace(' ', '') + '</span>'));
							}
						});
				</script>
				</div>
			</div>
		</div>
	{% endif %}
		
{% endif %}
<script>
		$('tr.document').click(function(){
			window.open($(this).attr('url'), "_self");
		});
	</script>	
</div>
<script src="{% static 'intranet/js/documents_events.js' %}"></script>

{% endblock %}