{% extends 'intranet/shared.html' %}

{% load staticfiles %}
{% block content %}
{% load i18n %}
<form action="" method="POST">
{% csrf_token %}
<div class="title">
	<h3>{% trans "Editar documento" %}</h3>
</div>
<div class="intranet row">
	<div class="c12">
		<!-- Nueva caja -->
		<div class="intranet box">
			<div class="document head">
				<h2><textarea name="title" rows="1" required>{{document.title}}</textarea></h2>
				<h5>
					<select name="category" required>
						<option value="" disabled > {% trans "Selecciona una categoria" %}</option>
						<option value="1" {% if document.category.id = 1 %} selected {% endif %}>{% trans "Microbiología Molecular" %}</option>
						<option value="2" {% if document.category.id = 2 %} selected {% endif %}>{% trans "Biotecnología Ambiental" %}</option>
						<option value="3" {% if document.category.id = 3 %} selected {% endif %}>{% trans "Bionanotecnología" %}</option>
						<option value="4" {% if document.category.id = 4 %} selected {% endif %}>{% trans "Genómica Funcional y Proteómica" %}</option>
						<option value="5" {% if document.category.id = 5 %} selected {% endif %}>{% trans "Síntesis de compuestos bioactivos y de interés biotecnológico" %}</option>
						<option value="6" {% if document.category.id = 6 %} selected {% endif %}>{% trans "Biorremediación de Ambientes Contaminados" %}</option>
					</select>
				</h5>
				<h5>{{document.date.year}}</h5>
				<div id="type-wrapper" class="{{document.privacy}}"></div>
				<div class="intranet separator"></div>
				<textarea name="abstract">{{ document.abstract }}</textarea>			
			</div>
		</div>
        <!-- Fin de la caja -->
	</div>
	<div class="c7">
		<!-- Nueva caja -->
		<div class="intranet box">
            <div class="document download trans">
				<a href="{% url 'intranet:viewer' document.author document.title %}">
	                <div>
	                    <h1>{% trans "Ver <span>Documento</span>" %}</h1>
	                </div>
	            </a>
            </div>
        </div>
        <!-- Fin de la caja -->
        <!-- Nueva caja -->
		<div class="intranet box">
			<div class="document table">
				<table>
					<tr>
						<td><strong>{% trans "Autor" %}:</strong></td>
						<td><input type="text" class="text" name="author" value="{{document.author}}"></td>
					</tr>
					<tr>
						<td><strong>{% trans "Publicado el" %}:</strong></td>
						<td><input type="date" class="text" name="date" value="{{document.date|date:'Y-m-d'}}"></td>
					</tr>
					<tr>
						<td><strong>{% trans "Paginas" %}:</strong></td>
						<td><input type="text" class="text" name="pages" {% if document.pages %} value="{{document.pages}}" {% endif %}></td>
					</tr>
					<tr>
						<td><strong>{% trans "ISSN" %}:</strong></td>
						<td><input type="text" class="text" name="issn" {% if document.issn %} value="{{document.issn}}" {% endif %}></td>
					</tr>
						<tr>
							<td><strong>{% trans "DOI" %}:</strong></td>
							<td><input type="text" class="text" name="doi" {% if document.doi %} value="{{document.doi}}" {% endif %}></td>
						</tr>
				</table>
			</div>
		</div>
		<!-- Fin de la caja -->
        <!-- Nueva caja -->
        <div class="intranet box">
        	<div class="document keywords">
        		<ul>
				{% if document.words %}
					{% for keyword in document.get_keywords %}
						<li><a class="rm-keyword" >{{keyword}}</a></li>
					{% endfor %}
				{% endif %}
					<li></i><input id="inputKW" class="text" placeholder="{% trans 'Escribe una palabra clave' %}" type="text"></li>
				</ul>
        	</div>
        </div>
        <!-- Fin de la caja -->
	</div>
	<div class="c5">
        <!-- Nueva caja -->
		<div class="intranet box">
			<div class="document owner">
				<div class="image">
					{% if document.owner.profile_picture %}
						<img src="{% static document.owner.filename %}"> 
					{% else %} 
						<img src="{% static 'intranet/images/default.png' %}">
					{% endif%}
				</div>				
				<h3>{{document.owner.first_name}}  {{document.owner.last_name}}</h3>
				<h5>{{document.owner.area.name}}</h5>
				<h5>{{document.owner.institution}}</h5>
			</div>
		</div>
        <!-- Fin de la caja -->
        <!-- Nueva caja -->
		<div class="intranet box">
			<div class="document controls">
				<a id="submitForm">{% trans "Guardar" %}</a>
				<a class="modal" href="{% url 'intranet:document' document.author document.title %}">{% trans "Cancelar" %}</a>
			</div>
		</div>
        <!-- Fin de la caja -->
	</div>
</div>
<input type="hidden" name="words" id="kwrds-field">
</form>
<script>
	autosize(document.querySelectorAll('textarea'));

	function update_kwrds(){
		kwrds = [];
		$('.rm-keyword').each(function(){
			kwrds.push($(this).text());
		})
		$('#kwrds-field').val(kwrds.join(','));
		}

	update_kwrds();
	$('.rm-keyword').on('click', function(e){
		e.preventDefault();
		$(this).closest('li').remove();
		update_kwrds();
	});

	$('#inputKW').keypress(function(e) {
	    if(e.which == 13) {
			e.preventDefault();
	        $("<li><a class='rm-keyword' href='#'>" + $(this).val().toLowerCase() + "</a></li>").insertBefore($(this).closest('li'));
	        $(this).val('');
		    update_kwrds();
	        $('.rm-keyword').off();
		    $('.rm-keyword').on('click', function(e){
		    	e.preventDefault();
		    	$(this).closest('li').remove();
				update_kwrds();
		    });
	    }
	});

	$('#submitForm').click(function(e){
		e.preventDefault();
		$('form').submit();
	});
</script>

{% endblock %}