{% extends 'intranet/shared.html' %}
{% load staticfiles %}
{% block content %}
{% load i18n %}
<div class="title">
    <h3>{% trans "Resumen de actividad" %}</h3>
</div>
<div class="intranet row">
    <!-- Seccion izquierda -->
    <div id="lCol" class="c7">
        <!-- Nueva linea -->
        <div class="intranet box">
            <h4>{% trans "Usuarios registrados" %}</h4>
            <div class="users">
                <ul>
                    {% for user in users_preview %}
                    <li>
                        <a href="{% url 'intranet:profile' user.id %}">
                            <img class="img" 
                                {% if user.profile_picture %} 
                                    src="{% static user.filename %}" 
                                {% else %} 
                                    src="{% static 'intranet/images/default.png' %}" 
                                {% endif%}>
                        </a>
                    </li>                    
                    {% endfor %}
                    {% if users_count > 0 %}
                    <li><div><h2> {% blocktrans %} {{ users_count }} más {% endblocktrans %}</h2></div></li>
                    {% endif %}
                </ul>
            </div>
            <div class="btn">
                <a class="trans" href="{% url 'intranet:users' %}">{% trans "Ver todos los usuarios" %}</a>
            </div>
        </div>
        <!-- Nueva linea -->
        <div class="intranet box">
            <div class="counter">
                <div>
                    <h1>{{ documents_count }}</h1>
                    <h3>{% trans "Documentos" %}</h3>
                </div>
            </div>
        </div>
        {% if last_five_documents|length > 0 %}
            <!-- Nueva linea -->
            <div class="intranet box">
                <h4>Últimas publicaciones</h4>
                <div class="info">
                    <ul class="documents">
                    {% for doc in last_five_documents %}
                        <li>
                            <a class="clear" href="{% url 'intranet:document' doc.author doc.title %}" title="{{ doc.title }}">
                                <div class="c2">
                                    <img class="img" 
                                        {% if doc.owner.profile_picture %} 
                                            src="{% static doc.owner.filename %}" 
                                        {% else %} 
                                            src="{% static 'intranet/images/default.png' %}" 
                                        {% endif%}
                                    >
                                </div>
                                <div class="c10">
                                    <span>{{ doc.author }}</span>
                                    <h3>{{ doc.title }}</h3>
                                    <span>{% trans "Por" %} {{ doc.owner_name }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="btn">
                    <a class="trans" href="{% url 'intranet:documents' %}">{% trans "Ver publicaciones" %}</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Seccion derecha -->
    <div id="rCol" class="c5">
    <!-- Nueva linea -->
        <div class="intranet box">
            <div class="chart">
                <canvas id="months_chart"></canvas> 
            </div>
            <div class="description">
                <span>{% trans "Publicaciones de los ultimos 6 meses" %}</span>
            </div>
        </div>
        {% if names_categories %}
        <!-- Nueva linea -->
        <div class="intranet box">
            <div class="chart">
                <canvas id="categories_chart" style="position:relative"></canvas> 
            </div>
            <div class="description">
                <span>{% trans "Categorias" %}</span>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
var ctx = document.getElementById("months_chart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{{ names_months|safe }}],
        datasets: [{
            label: '',
            fill: true,
            data: [{{ count_months }}],
            backgroundColor:'#e9edf0',
            borderColor:'#F7A220',
            lineTension:0.1,
            borderJoinStyle:'miter',
            pointRadius:3,
            pointHoverRadius:5,
            pointHoverBackgroundColor: "#e9edf0",
            pointBackgroundColor: '#f2ae47'
        }]
    },
    options: {
        scales:{
            yAxes:[{
                gridLines:{
                    display:false,
                },

            }],
            xAxes:[{
                gridLines:{
                    display:false,
                }
            }]
        },
        legend:{
            display:false
        }
    }
});
{% if names_categories %}
var ctx2 = document.getElementById("categories_chart");
var myChart2 = new Chart(ctx2, {
    type: 'pie',
    data: {
        labels: [{{ names_categories|safe }}],
        datasets: [{
            data: [{{count_categories}}],
            backgroundColor:[
                "#f2ae47",
                "#e0424e",
                "#006e9c",
                "#009065",
                "#E17947",
                "#8DE57C",

            ]
        }]
    },
    options: {
        scale:{
            ticks:{
                display:false
            }
        },
        legend:{
            display:true
        }
    }
});
{% endif %}
</script>
{% endblock %}