{% extends 'shared/base.html' %}

{% block content %}

<div class="title-section">
	<div class="title-label"><h1>Sistema de Redes Labmmba</h1></div>
</div>

<div class="grid row">
	<div id="content">
		<div class="side left-side">
			<div class="side-section">
				<ul>
					<li class="section-head"><h3>Enlaces</h3></li>
					<li class="section-row"><a href="{% url 'intranet' %}">Documentos</a></li>
					<li class="section-row"><a href="{% url 'profile' request.user.id %}">Mi perfil</a></li>
					<li class="section-row"><a href="{% url 'users' %}">Usuarios</a></li>
					<li class="section-row"><a href="#">Categorias</a></li>
					<li class="section-row"><a href="{% url 'upload' %}">Subir documento</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="body">
			<div class="search-bar">
				<input id="search-field" type="text" placeholder="Ingresa tu busqueda aquí" {% if search %} value="{{ search }}" {% endif %}>
				<i class="fa fa-search"></i>
				<i class="fa fa-caret-down"></i>
				<div class="clear"></div>
				<script>
					$('#search-field').keypress(function(e){
						if(e.which == 13 && $(this).val() != ''){
							window.location.href = "{% url 'intranet_search' 999 %}".replace('999', $(this).val());
						}
					});
				</script>
			</div>
			<div class="result">
			{% if search %}
				{% if not documents %}
					<h5 class="documents-message">No se encontraron resultados para {{ search }}</h5>
				{% else %}
					<ul>
						{% for document in documents %}
						<li class="search-result" doc-title="{{ document.title }}" doc-author="{{ document.author }}">
							<h4 class='text-result'> {{ document.title }} </h4>
							<span class='text-result'> {{ document.author }} -</span>
							<span class='text-result'> {{ document.date }} </span>
							<p><strong>Dueño:</strong> <span class='text-result'>{{ document.owner_name }}</span></p>
							<!--<p><strong>Resumen:</strong> ... adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...</p>-->
							{% if document.extract|length > 0 %}
								<p class="long-text"><strong>Extracto:</strong><span class='text-result'> {{ document.extract }}</span></p>
							{% endif %}
						</li>
						{% endfor %}
						<script>
							var search = '{{ search }}'.split(' ');
							console.log(search)
							$('.text-result').each(function(){
								for ( var i = 0; i< search.length; i++){
									var html = $(this).html();
									console.log(search[i])
									var re = new RegExp('^' + search[i] + '| ' + search[i], 'gi')
									$(this).html(html.replace(re, ' <span class="word-result">' + '$&'.replace(' ', '') + '</span> '));
								}
							});
						</script>
					</ul>
				{% endif %}
			{% else %}
				{% if not documents %}
					<h5 class="documents-message">No hay documentos en la base de datos</h5>
				{% else %}
					<table>
						<tr>
							<th class="col1">Autor(es)</th>
							<th class="col2">Titulo</th>
							<th class="col3">Año</th>
							<th class="col4">Dueño</th>
							<th class="col5">Añadido</th>
						</tr>
						{% for document in documents%}
							<tr class="search-result" doc-title="{{ document.title }}" doc-author="{{ document.author }}">
								<td class="col1">{{ document.author }}</td>
								<td class="col2">{{ document.title }}</td>
								<td class="col3">{{ document.date|date:"Y" }}</td>
								<td class="col4">{{ document.owner_name }}</td>
								<td class="col5">{{ document.date_added }}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			{% endif %}
				<script>
					$('.search-result').click(function(){
						window.open("{% url 'viewer' 999 888 %}".replace('888', $(this).attr('doc-title')).replace('999', $(this).attr('doc-author')), '_blank');
					});
				</script>
			<!--Barra de colores-->			
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{% endblock %}