{% extends 'intranet/shared.html' %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/vendor/cropper.min.css' %}">
	<!-- jQuery DatePicker -->
	<link rel="stylesheet" type="text/css" href="{% static 'usm_theme/css/vendor/jquery-datepicker/jquery-ui.min.css' %}">
{% endblock %}
{% block extra_js %}
	<script src="{% static 'intranet/js/vendor/canvas-to-blob.min.js' %}"></script>
	<script src="{% static 'intranet/js/vendor/cropper.js' %}"></script>
{% endblock %}
{% block content %}
<div class="title">
	<h3>{% trans "Mis noticias" %}</h3>
</div>
<div class="intranet row">
	<div class="c12">
		<div class="intranet box">
			<div class="upload head">
				{%if news_.title%}
					<h1>{{news_.title}}</h1>
				{% else %}
					<h1>{% trans "Noticia sin título" %}</h1>
				{%endif%}
				<h4>{% trans "Si presionas 'Ir al editor' los datos se guardarán automáticamente" %}</h4>
			</div>
		</div>
	</div>
	<div class="c8">
		<div class="intranet box news">
			<div class="annotation">
				<span class="info">{% trans "Si quieres que tu noticia pueda aparecer en la cabecera de la página web, debes agregar una imagen de una resolución ideal de 1600x525." %}</span>	
			</div>
		</div>
		<div class="intranet box news">
			<form class="clear c12" action="{% url 'intranet:edit_news' news_.id %}" redirect-to="reload" method="POST" >
				{% csrf_token %}
		        <div class="row field">
					<span class="c12">{% trans 'Nombre de la fuente de información' %}:</span>
		         	<div class="c12">
		         		<input type="text"  original="" name="source_text" class="text" {% if news_.source_text %} value="{{news_.source_text}}" {% endif %} placeholder="{% trans 'No requerido' %}"/>
		         	</div>
		        </div>
		        <div class="row field">
					<span class="c12">{% trans 'URL de la fuente de información' %}:</span>
		         	<div class="c12">
		         		<input type="text"  original="" name="source_url" sd="" class="text" {% if news_.source_url %} value="{{news_.source_url}}" {% endif %} placeholder="{% trans 'No requerido' %}"/>
		         	</div>
		        </div>
		         <div class="row field">
					<span class="c12">{% trans 'Fecha' %}:</span>
		         	<div class="c12">
		         		<input type="text" class="text date" original="" name="date" placeholder="dd-mm-aaaa" value="{{news_.date|date:'d-m-Y'}}" readonly>
		         	</div>
		         </div>
		         <div class="row field">
		         	<div class="c6"><input type="submit" class="submit trans news" value="{% trans 'Guardar cambios' %}" disabled></div>
		         	<div class="c6"><input type="submit" class="submit trans editor-link" value="{% trans 'Ir al editor' %}"></div>
		         </div>
			</form>
		</div>
				
	</div>
	<div class="c4">
		<div class="intranet box news">
			<div class="picture">
				<div class="button">
					{% if not news_.thumbnail %}
					<a class="selectThumbnail btn erasable">
						<i class="fa fa-picture-o" aria-hidden="true"></i>
						<span>{% trans "Presiona para agregar una miniatura" %}</span>
					</a>
					<a class="selectThumbnail" style="display:none;">
						<img id="thumbnailPicture" class="image" src="">
					</a>
					{% else %}
						<a class="selectThumbnail">
							<img id="thumbnailPicture" class="image" src="{% static news_.thumbnail_url %}">
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="intranet box news">
			<div class="picture">
				<div class="button">
					{% if not news_.header %}
						<a class="selectHeader btn erasable">
							<i class="fa fa-picture-o" aria-hidden="true"></i>
							<span>{% trans "Presiona para agregar una imagen de cabecera" %}</span>
						</a>
						<a class="selectHeader" style="display:none;">
							<img id="headerPicture" class="image" src="">
						</a>
					{% else %}
						<a class="selectHeader">
							<img id="headerPicture" class="image" src="{% static news_.header_url %}">
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		<a href="#changePicture" class="modal picture" style="display:none;"></a>
	</div>
</div>
<!-- Modal para modificar la miniatura -->
<div id="changePicture" class="news modal"  style="display:none!important; height:100%;">
	<div class="cropper">
  		<div class="editor" style="display:none; opacity:0; top:20px;">
  			<div class="crop">
  				<img id="imageCropper">
  			</div>
	  		<div class="buttons">
  				<button id="changeImage" class="c8"><i class="fa fa-cloud-upload" aria-hidden="true"></i> {% trans 'Seleccionar nueva imagen' %}</button>
  				<button id="selectImage" class="c4"><i class="fa fa-paper-plane" aria-hidden="true"></i> {% trans 'Aceptar' %}</button>
	  		</div>
  		</div>
	</div>
</div>

<!-- Modal extra -->
<div style="display:none;">
	<div>
		<div id="errorModal">
			<i class="fa fa-times" aria-hidden="true"></i>
			<h3>{% trans "Asegúrate de adjuntar una miniatura." %}</h3>
		</div>
	</div>
</div>
<input id="pictureField" type="file" accept="image/png, image/jpeg" style="display: none" name="picture">

<script>autosize(document.querySelectorAll('textarea'));</script>
<script>
	var id = "{{ news_.id }}";
	var live_editor_url = "{% url 'webpage:news_editor' 888 %}?ret=editor";
	$('.date[type="text"]').datepicker({firstDay: 1,dateFormat: 'dd-mm-yy', onSelect: function() {$(this).trigger('input');}});
</script>
<script src="{% static 'intranet/js/news/news_edit.js' %}"></script>
<script src="{% static 'intranet/js/news/news_picture_cropper.js' %}"></script>
<script src="{% static 'intranet/js/news/news_create_sender.js' %}"></script>
{% endblock %}