{% extends 'intranet/shared.html' %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
	<link href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
{% endblock %}
{% block extra_js %}
	{% if request.user == profile_user %}
		 <script src="{% static 'intranet/js/vendor/canvas-to-blob.min.js' %}"></script>
	{% endif %} 
{% endblock %}
{% block content %}
<div class="title">
	<h3>{% trans "Mis noticias" %}</h3>
</div>
<div class="intranet row">
	<div class="c12">
		<div class="intranet box">
			<div class="upload head">
				<h1>Noticias de {{ request.user.first_name }}</h1>
				<h4>Aqui encontrarás todas las noticias que has agregado</h4>
			</div>
		</div>
	</div>
	<div class="c12">
		<div class="intranet box news">
			<div class="head clear">
				<a href="#createModal" class="s10 c2 add trans modal">{% trans "Añadir noticia" %}</a>
			</div>
			<div class="list clear">
				{% for news in user_news %}
					<div class="item clear">
						<div class="details c10">
							{%if news.date%}<span class="date">{{news.date|date:'d'}} · {{news.date|date:'F'}} · {{news.date|date:'Y'}}</span>{%endif%}
							{%if news.title%}
								{% if news.is_external %}
									<a href="{{ news.source_url }}">
								{% else %}
									<a href="{% url 'webpage:news' news.date|date:'Y' news.date|date:'m' news.date|date:'d' news.slug %}">
								{% endif %}								
									<h2 class="title">{{news.title}}</h2>
								</a>
							{% else %}
								<h2 class="title">{% trans "Noticia sin título" %}</h2>
							{%endif%}
							{% if news.source_text %}
		                        <span class="source"><strong>Fuente: </strong>
		                            {% if news.source_url %}
		                                <a href="{{news.source_url}}">{{news.source_text}}</a>
		                            {% else %}
		                                {{news.source_text}}
		                            {% endif %}
		                        </span>
		                    {% endif %}
						</div>
						<div class="buttons c2">
							<div class="wrapper">
								<a href="{% url 'intranet:edit_news' news.id %}" class="fa-stack fa-lg edit trans">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
								</a>
								<a href="#deleteModal" class="fa-stack fa-lg delete trans modal" data-id="{{news.id}}" data-title="{{news.title}}" data-date="{{news.date|date:'d'}} · {{news.date|date:'F'}} · {{news.date|date:'Y'}}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Modal para seleccionar el tipo de creacion -->
<div id="createModal" class="news modal clear"  style="display:none!important; height:100%;">
	<div class="c12">
		<h3 style="text-align: center; margin:0; font-weight:normal">{% trans "Selecciona un metodo de creación" %}</h3>
	</div>
	<div class="c12">
		<div class="c6">
			<div class="intranet box">
			<a href="{% url 'intranet:create_news' %}">
				<div class="write trans">
					<h5>{% trans "Redactar" %}</h5>
				</div>
			</div>
			</a>
		</div>
		<div class="c6">
			<div class="intranet box">
				<a href="{% url 'intranet:create_news_from_link' %}">
					<div class="external-link trans">
						<h5>{% trans "Enlace" %}</h5>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- Modal de confirmacion -->
<div class="document modal" id="deleteModal" style="display:none;">
	<h2>{% trans "¿Estas seguro?" %}</h2>
	<p>{% trans "Esta noticia desaparecerá completamente" %}</p>
	<h3 class="confirm" type="title" data=""></h3>
	<h5 class="confirm" type="date" data=""></h5>
	<div><a class="confirm" type="send">{% trans "CONFIRMAR" %}</a></div>
</div>
<script>
	var delete_url= "{% url 'intranet:delete_news' 888 %}";
</script>
<script src="{% static 'intranet/js/news/news_init.js' %}"></script>
{% endblock %}