{% extends 'shared/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="title-section">
	<div class="title-label"><h1>Perfil de {{ profile_user.first_name }} {{ profile_user.last_name }}</h1></div>
</div>

<div class="grid row">
	<div id="content">
		<div class="side left-side">
			<div class="side-section">
				<ul>
					<li class="section-head"><h3>Enlaces</h3></li>
					<li class="section-row"><a href="{% url 'intranet' %}">Documentos</a></li>
					<li class="section-row"><a href="{% url 'profile' request.user.id %}">Mi perfil</a></li>
					<li class="section-row"><a href="{% url 'users' %}">Usuarios</a></li>
					<li class="section-row"><a href="#">Categorias</a></li>
					<li class="section-row"><a href="{% url 'upload' %}">Subir documento</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="body">
			<div id="pictures-section">
				<div id="background-picture">
					<img src="{% static 'intranet/images/background-picture2.png' %}">
				</div>
				<div id="profile-picture">
					{% if request.user == profile_user %} <div id="edit-btn-wrapper"><i class="fa fa-pencil-square-o"></i></div> {% endif %}
					<div id="picture-wrapper"><img id="picture-circle" {% if profile_user.profile_picture %} src="{% static profile_user.filename %}" {% else %} src="{% static 'intranet/images/default.png' %}" {% endif%}></div>
				</div>
				<button id="accept-btn" class="btn">Aceptar</button>
				<button id="cancel-btn" class="btn">Cancelar</button>
			</div>
			{% if request.user == profile_user %}
				<form id="picture_form"  action="{% url 'update_picture' %}" method="POST" style="display: none" enctype="multipart/form-data">
					<input id="picture-input" type="file" accept="image/x-png, image/jpeg" style="display: none" name="picture" required>
					{% csrf_token %}
				</form>
				<script>
				var prev_picture;
					$('#edit-btn-wrapper').click(function(){
						$('#picture-input').click();
					});

					$('#picture-input').change(function(){
						$('.btn').addClass('btn-visible');
						prev_picture = $('#picture-circle').attr('src');
						readURL(this);
					});

					$('#cancel-btn').click(function(){
						closeForm()
						$('#picture-circle').attr('src', prev_picture);
						$('.btn').removeClass('btn-visible');
					});

					$('#accept-btn').click(function(){
						$('#picture_form').submit();
					});
				</script>
			{% endif %}
			<div id="information-section">
				<table>
					<tr>
						<td>Nombre completo:</td>
						<td>{{profile_user.first_name}} {{ profile_user.last_name }}</td>
					</tr>
					<tr>
						<td>Institución:</td>
						<td>{{ profile_user.institution }}</td>
					</tr>
					<tr>
						<td>Carrera:</td>
						<td>{{ profile_user.career }}</td>
					</tr>
					<tr>
						<td>País:</td>
						<td>{{ profile_user.country }}</td>
					</tr>
					<tr>
						<td>Area:</td>
						<td>{{ profile_user.area.name }}</td>
					</tr>
				</table>
			</div>
			{% if request.user == profile_user %}
				<!--<div class="search-bar">
					<input id="search-field" type="text" placeholder="Ingresa tu busqueda aquí" {% if search %} value="{{ search}}" {% endif %}>
					<i class="fa fa-search"></i>
					<i class="fa fa-caret-down"></i>
					<div class="clear"></div>
					<script>
						$('#search-field').keypress(function(e){
							if(e.which == 13 && $(this).val() != ''){
								window.location.href = "{% url 'intranet_search' 999 %}".replace('999', $(this).val());
							}
						});
					</script>
				</div>-->
				<h3>Mis documentos</h3>
				{% if not documents %}
					<h5 class="documents-message" >No posees documentos</h5>
				{% else %}
					<div class="result">
						<table>
						<tr>
							<th class="col1">Autor(es)</th>
							<th class="col2">Titulo</th>
							<th class="col3">Año</th>
							<th class="col4">Tipo</th>
							<th class="col5">Añadido</th>
						</tr>
						{% for document in documents%}
							<tr class="search-result" doc-title="{{ document.title }}" doc-author="{{ document.author }}">
								<td class="col1">{{ document.author }}</td>
								<td class="col2">{{ document.title }}</td>
								<td class="col3">{{ document.date|date:"Y" }}</td>
								<td class="col4">{% if document.type == False %} Público {% else %} Privado {% endif %}</td>
								<td class="col5">{{ document.date_added }}</td>
							</tr>
						{% endfor %}
						</table>
					</div>
				{% endif %}
				<script>
					$('.search-result').click(function(){
						window.open("{% url 'viewer' 999 888 %}".replace('888', $(this).attr('doc-title')).replace('999', $(this).attr('doc-author')), '_blank');
					});
				</script>	
			{% endif %}
		<div id="lower-bar">
			<div id="red-bar" class="bar"></div>
			<div id="green-bar" class="bar"></div>					
			<div id="yellow-bar" class="bar"></div>	
			<div id="blue-bar" class="bar"></div>	
		</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{% endblock %}