{% extends 'intranet/shared.html' %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/vendor/cropper.min.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
{% endblock %}
{% block extra_js %}
	 <script src="{% static 'intranet/js/vendor/cropper.min.js' %}"></script> 
	 <script src="{% static 'intranet/js/profile.js' %}"></script> 
{% endblock %}
{% block content %}
<div class="title">
	<h3>{% trans "Perfil de" %} {{profile_user.first_name}} {{profile_user.last_name}}</h3>
</div>
<div class="intranet row">
    <!-- Seccion izquierda -->
    <div id="lCol" class="c5">
        <!-- Nueva linea -->
        <div class="intranet box">
        	<div class="profile image">	
        		<img {% if profile_user.profile_picture %} src="{% static profile_user.filename %}" {% else %} src="{% static 'intranet/images/default.png' %}" {% endif%}>
        	</div>
        	{% if request.user == profile_user %}
	        	<div class="profile btn">
	        		<a class="modal" href="#changeImgModal">{% trans "Cambiar imagen" %}</a>
	        	</div>
        	{% endif %}
        	<div class="document table">
        		<table>
					<tr>
						<td>{% trans "Nombre completo" %}:</td>
						<td>{{profile_user.first_name}} {{ profile_user.last_name }}</td>
					</tr>
					<tr>
						<td>{% trans "Institución" %}:</td>
						<td>{{ profile_user.institution }}</td>
					</tr>
					<tr>
						<td>{% trans "Carrera" %}:</td>
						<td>{{ profile_user.career }}</td>
					</tr>
					<tr>
						<td>{% trans "País" %}:</td>
						<td>{{ profile_user.country }}</td>
					</tr>
					<tr>
						<td>{% trans "Area" %}:</td>
						<td>{% trans profile_user.area.name %}</td>
					</tr>
				</table>  		
        	</div>
        </div>
        {% if request.user == profile_user %}
	        <!-- Nueva linea -->
	        <div class="intranet box">
	        	<div class="document table">
	        		<table class="profile options">
	        			<tr>
	        				<td class="linkDrive">
		        				<img src="{% static 'intranet/images/G-logo.png' %}">
		        				{% if profile_user.drive_credentials %}
		        					<span class="email">{{profile_user.drive_email}}</span>
		        					<a href="#">{% trans 'Desvincular' %}</a>
		        				{% else %}
		        					<span>{%trans 'No hay una cuenta' %}</span>
		        					<a href="#">{% trans 'Vincular' %}</a>
		        				{% endif %}
	        				</td>
	        			</tr>
		        		<tr><td><a href="#">{% trans 'Editar información' %}</a></td></tr>
		        		<tr><td><a href="#">{% trans 'Cambiar contraseña' %}</a></td></tr>
		        	</table>
	        	</div>
	        </div>
        {% endif %}
    </div>
    <!-- Seccion derecha -->
    <div id="rCol" class="c7">
    <!-- Nueva linea -->
        <div class="intranet box">
       		<div class="profile counter">
                <div>
                    <h1>{{ profile_user.doc_count }}</h1>
                    <h3>Documentos</h3>
                </div>
            </div>
            <div class="chart">
                <canvas id="months_chart"></canvas> 
            </div>
            <!--
            <div class="description">
                <span>Publicaciones de los ultimos 6 meses</span>
            </div>
            -->
        </div>
    </div>
</div>
{% if request.user == profile_user %}
<div id="changeImgModal" class="profile modal"  style="display:none!important; height:100%;">
	<div class="profile cropper">
		<button id="selectImage">
	  		<i class="fa fa-cloud-upload" aria-hidden="true"></i>
	  		<h5>{% trans 'Presiona para seleccionar' %}</h5>
  		</button>
  		<div class="editor" style="display:none!important; opacity:0; top:20px;">
	  		<div class="header">
  				<button class="c8" id="changeImage"><i class="fa fa-cloud-upload" aria-hidden="true"></i>{% trans 'Seleccionar nueva imagen' %}</button>
  				<button class="c4" id="sendImage"><i class="fa fa-paper-plane" aria-hidden="true"></i>{% trans 'Enviar' %}</button>
	  		</div>
  			<div class="profile image">	
        		<div><!-- Aqui va el preview de la imagen recortada --></div>
        	</div>
  			<div class="crop">
  				<img id="imageCropper">
  			</div>
  		</div>
	</div>
</div>
<input id="pictureField" type="file" accept="image/png, image/jpeg" style="display: none" name="picture">
{% endif %}

<script>
	var update_picture_link = "{% url 'intranet:update_picture' %}";
	var  csrf_token = "{{ csrf_token }}";	
</script>
<script src="{% static 'intranet/js/profile_events.js' %}"></script>





{% endblock %}
<div id="pictures-section">
	<div id="background-picture">
		<img src="{% static 'intranet/images/background-picture2.png' %}">
	</div>
	<div id="profile-picture">
		{% if request.user == profile_user %} <div id="edit-btn-wrapper"><i class="fa fa-pencil-square-o"></i></div> {% endif %}
		<div id="picture-wrapper"><img id="picture-circle" {% if profile_user.profile_picture %} src="{% static profile_user.filename %}" {% else %} src="{% static 'intranet/images/default.png' %}" {% endif%}></div>
	</div>
	<button id="accept-btn" class="btn">{% trans "Aceptar" %}</button>
	<button id="cancel-btn" class="btn">{% trans "Cancelar" %}</button>
</div>
{% if request.user == profile_user %}
	<form id="picture_form"  action="{% url 'intranet:update_picture' %}" method="POST" style="display: none" enctype="multipart/form-data">
		<input id="picture-input" type="file" accept="image/png, image/jpeg" style="display: none" name="picture" required>
		{% csrf_token %}
	</form>
	<script>
	var prev_picture;
		$('#edit-btn-wrapper').click(function(){
			$('#picture-input').click();
		});

		$('#picture-input').change(function(){
			$('.btn').addClass('btn-visible');
			prev_picture = $('#picture-circle').attr('src');
			readURL(this);
		});

		$('#cancel-btn').click(function(){
			closeForm()
			$('#picture-circle').attr('src', prev_picture);
			$('.btn').removeClass('btn-visible');
		});

		$('#accept-btn').click(function(){
			$('#picture_form').submit();
		});
	</script>
{% endif %}
<div id="information-section">
	<table>
		<tr>
			<td>{% trans "Nombre completo" %}:</td>
			<td>{{profile_user.first_name}} {{ profile_user.last_name }}</td>
		</tr>
		<tr>
			<td>{% trans "Institución" %}:</td>
			<td>{{ profile_user.institution }}</td>
		</tr>
		<tr>
			<td>{% trans "Carrera" %}:</td>
			<td>{{ profile_user.career }}</td>
		</tr>
		<tr>
			<td>{% trans "País" %}:</td>
			<td>{{ profile_user.country }}</td>
		</tr>
		<tr>
			<td>{% trans "Area" %}:</td>
			<td>{% trans profile_user.area.name %}</td>
		</tr>
	</table>
</div>
{% if request.user == profile_user or request.user.is_admin %}
	<h3>{% trans "Mis documentos" %}</h3>
	{% if not documents %}
		<h5 class="documents-message" >{% trans "No posees documentos" %}</h5>
	{% else %}
		<div class="result">
			<table>
			<tr>
				<th class="col1">{% trans "Autor" %}</th>
				<th class="col2">{% trans "Titulo" %}</th>
				<th class="col3">{% trans "Año" %}</th>
				<th class="col4">{% trans "Tipo" %}</th>
				<th class="col5">{% trans "Añadido" %}</th>
			</tr>
			{% for document in documents%}
				<tr class="search-result" doc-title="{{ document.title }}" doc-author="{{ document.author }}">
					<td class="col1">{{ document.author }}</td>
					<td class="col2">{{ document.title }}</td>
					<td class="col3">{{ document.date|date:"Y" }}</td>
					<td class="col4">{% if document.type == False %} {% trans "Público" %} {% else %} {% trans "Privado" %} {% endif %}</td>
					<td class="col5">{{ document.date_added }}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	{% endif %}
{% endif %}
<div class="clear"></div>