{% extends 'intranet/shared.html' %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/vendor/cropper.min.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
{% endblock %}
{% block extra_js %}
	{% if request.user == profile_user %}
		 <script src="{% static 'intranet/js/vendor/canvas-to-blob.min.js' %}"></script>
		 <script src="{% static 'intranet/js/vendor/cropper.min.js' %}"></script> 
		 <script src="{% static 'intranet/js/profile.js' %}"></script>
	{% endif %} 
{% endblock %}
{% block content %}
<div class="title">
	<h3>{% blocktrans with first_name=profile_user.first_name last_name=profile_user.last_name %} 
			Perfil de {{ first_name }} {{ last_name }} 
		{% endblocktrans %}
	</h3>
</div>
<div class="intranet row">
    <!-- Seccion izquierda -->
    <div id="lCol" class="c5">
        <!-- Nueva linea -->
        <div class="intranet box">
        	<div class="profile picture">
        		<img class="flag" src="{% static profile_user.country.flag %}">	
        		<div>
	        		<img 
	        			{% if profile_user.profile_picture %} 
	        				src="{% static profile_user.filename %}" 
	        			{% else %} 
	        				src="{% static 'intranet/images/default.png' %}" 
	        			{% endif%}>
	        	</div>
	        	<div class="profile networks">
	        		{% if profile_user.facebook %}
						<div class="facebook trans"><a href="{{profile_user.facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
					{% endif %}
					{% if profile_user.twitter %}
						<div class="twitter trans "><a href="{{profile_user.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
					{% endif %}
					{% if profile_user.linkedin %}
						<div class="linkedin trans"><a href="{{profile_user.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
					{% endif %}
				</div>
        	</div>
        	
        	<div class="document table">
        		<table>
					<tr>
						<td>{% trans "Nombre completo" %}:</td>
						<td>{{profile_user.first_name}} {{ profile_user.last_name }}</td>
					</tr>
					<tr>
						<td>{% trans "Institución" %}:</td>
						<td>{{ profile_user.institution }}</td>
					</tr>
					<tr>
						<td>{% trans "Carrera" %}:</td>
						<td>{{ profile_user.career }}</td>
					</tr>
					<tr>
						<td>{% trans "País" %}:</td>
						<td>{{ profile_user.country.name }}</td>
					</tr>
					<tr>
						<td>{% trans "Area" %}:</td>
						<td>{% trans profile_user.area.name %}</td>
					</tr>
				</table>
        	</div>
        </div>
        {% if request.user == profile_user %}
	        <!-- Nueva linea -->
	        <div class="intranet box">
	        	<div class="document table">
	        		<table class="profile options">
	        			<tr>
	        				<td class="linkDrive">
		        				<img src="{% static 'intranet/images/G-logo.png' %}">
		        				{% if profile_user.drive_credentials %}
		        					<span class="email">{{profile_user.drive_email}}</span>
		        					<a class="modal" href="#deauthenticateModal">{% trans 'Desvincular' %}</a>
		        				{% else %}
		        					<span class="email">{%trans 'No hay una cuenta asociada' %}</span>
		        					<a id="authenticate">{% trans 'Vincular' %}</a>
		        				{% endif %}
	        				</td>
	        			</tr>
		        		<tr><td><a class="modal picture" href="#changeImgModal">{% trans "Cambiar foto de perfil" %}</a></td></tr>
		        		<tr><td><a class="modal edit" href="#editInformationModal">{% trans 'Editar información' %}</a></td></tr>
		        		<tr><td><a class="modal password" href="#passwordModal">{% trans 'Cambiar contraseña' %}</a></td></tr>
		        	</table>
	        	</div>
	        </div>
        {% endif %}
    </div>
    <!-- Seccion derecha -->
    <div id="rCol" class="c7">
    <!-- Nueva linea -->
    	{% if profile_user.bio %}
	    	<div class="intranet box">
	    		<div class="bookmark">	    			
	    			<h2>{% trans "Biografía" %}</h2>
	    		</div>
	    		<div class="content">{{ profile_user.bio }}</div>
	    	</div>
	    {% endif %}
        <div class="intranet box">
       		<div class="profile counter">
                <div>
                    <h1>{{ profile_user.doc_count }}</h1>
                    <h3>Documentos</h3>
                </div>
            </div>
            <div class="profile info">
            	<ul class="documents">
	            	{% for document in documents %}
	            		<li>
	            			{% if request.user == profile_user %}
		            			<div class="options" data-id="{{ document.id }}">
		            				<div>
		            					<button class="delete" data-title="{{document.title}}" data-author="{{document.author}}" data-id="{{document.id}}" title="{% trans 'Eliminar' %}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>	            					
		            				</div>
		            				<div>
		            					<a href="{% url 'intranet:edit_document' document.id %}" title="{% trans 'Editar' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
		            				</div>
		            				<div>
		            					<!-- Boton 3 -->    					
		            				</div>
		            			</div>
		            		{% endif %}
	            			<div class="body">
	            				<a href="{% url 'intranet:document' document.author_slug document.title_slug %}">
	            					<h3><span>{{ document.date|date:"Y" }}</span> · 
	            					{% if document.title %}
	            						{{ document.title }}</h3>
	            					{% else %}
	            						{% trans "Sin título" %}</h3>
	            					{% endif %}
	            					{% if document.author %}
	            						<span>{{ document.author }}</span>
	            					{% else %}
	            						<span>{% trans "Sin autores" %}</span>
	            					{% endif %}
	            				</a>
	            			</div>
	            			{% if request.user == profile_user %}
	            				<div class="btn">
	            					<button data-id="{{ document.id }}"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
	            				</div>
	            			{% endif %}
	            		</li>
	            	{% endfor %}
            	</ul>
            </div>
            <!--
            <div class="description">
                <span>Alguna descripción</span>
            </div>
            -->
        </div>
    </div>
</div>
{% if request.user == profile_user %}
<!-- Modal para modificar la foto de perfil -->
<div id="changeImgModal" class="profile modal"  style="display:none!important; height:100%;">
	<div class="profile cropper">
		<button id="selectImage">
	  		<i class="fa fa-cloud-upload" aria-hidden="true"></i>
	  		<h5>{% trans 'Presiona para seleccionar' %}</h5>
  		</button>
  		<div class="editor" style="display:none; opacity:0; top:20px;">
  			<div id="preview" class="profile image">	
        		<div><!-- Aqui va el preview de la imagen recortada --></div>
        	</div>
  			<div class="crop">
  				<img id="imageCropper">
  			</div>
  			<div class="header">
  				<button class="c8" id="changeImage"><i class="fa fa-cloud-upload" aria-hidden="true"></i>{% trans 'Seleccionar nueva imagen' %}</button>
  				<button class="c4" id="sendImage"><i class="fa fa-paper-plane" aria-hidden="true"></i>{% trans 'Enviar' %}</button>
	  		</div>
  		</div>
	</div>
</div>
<input id="pictureField" type="file" accept="image/png, image/jpeg" style="display: none" name="picture">

<!-- Modal para desvincular la cuenta de Google -->
<div id="deauthenticateModal" class="document modal"  style="display:none!important">
	<h2>{% trans "¿Estas seguro?" %}</h2>
	<p>{% trans "Estas a punto de desvincular tu cuenta de Google: " %}</p>
	<h3>{{profile_user.drive_email}}</h3>
	<div><a href="{% url 'deauthenticate' 'intranet:profile' %}">CONFIRMAR</a></div>
</div>

<!-- Modal para modificar la informacion del perfil -->
<div id="editInformationModal" class="profile modal clear"  style="display:none!important">
	<h3>{% trans "Edita tu perfil" %}</h3>
	<form class="clear c12" action="{% url 'intranet:profile' %}" method="POST" >
		{% csrf_token %}
		<div class="row profile field">
			<span class="c12">{% trans 'Correo electronico' %}:</span>
            <div class="c12"><input value="{{ profile_user.email }}" type="email" name="email" class="text" placeholder="{% trans 'Correo electronico' %}" required readonly/></div>
         </div>
         <div class="row profile field">
			<span class="c12">{% trans 'Nombre' %}:</span>
         	<div class="c12"><input type="text" value="{{ profile_user.first_name }}" name="first_name" class="text" placeholder="{% trans 'Nombre' %}" required/></div>
         </div>
         <div class="row profile field">
			<span class="c12">{% trans 'Apellido' %}:</span>
     		<div class="c12"><input type="text" value="{{ profile_user.last_name }}" name="last_name" class="text" placeholder="{% trans 'Apellido' %}" required/></div>
     	</div>
         <div class="row profile field">
			<span class="c12">{% trans 'Institución' %}:</span>
         	<div class="c12"><input value="{{ profile_user.institution }}" type="text" name="institution" class="text" placeholder="{% trans 'Institución' %}" required/></div>
         </div>
     	<div class="row profile field">
			<span class="c12">{% trans 'Carrera' %}:</span>
     		<div class="c12"><input type="text" name="career" value="{{ profile_user.career }}" class="text" placeholder="{% trans 'Carrera' %}" required/></div>
     	</div>
     	<div class="row profile field">
			<span class="c12">{% trans 'Area' %}:</span>
     		<div class="c12">
     			<select name="area" required>
					<option disabled>{% trans "Selecciona un area" %}</option>
					{% for area in areas %}
						<optgroup label="{{ area.name }}">
							{% for subarea in area.get_sub_areas %}
								<option value="{{ subarea.id }}" {% if subarea == profile_user.area %} selected {% endif %}> {{ subarea.name }}</option>
							{% endfor %}
						</optgroup>
					{% endfor %}
				</select>
     		</div>
     	</div>
		<div class="row profile field">
			<span class="c12">{% trans 'País' %}:</span>
			<div class="c12">
		       <select name="country" required>
		            <option disabled> {% trans 'Selecciona un país' %}</option>
		            {% include 'intranet/countries.html' %}
		       </select>
		  	</div>
		</div>
     	<div class="row profile field">
			<span class="c12">{% trans 'Facebook' %}:</span>
     		<div class="c12"><input type="text" name="facebook" {% if profile_user.facebook %} value="{{ profile_user.facebook }}" {% endif %} class="text" placeholder="{% trans 'Perfil de Facebook' %}"/></div>
     	</div>
     	<div class="row profile field">
			<span class="c12">{% trans 'Twitter' %}:</span>
     		<div class="c12"><input type="text" name="twitter" {% if profile_user.twitter %} value="{{ profile_user.twitter }}" {% endif %} class="text" placeholder="{% trans 'Perfil de Twitter' %}"/></div>
     	</div>
     	<div class="row profile field">
			<span class="c12">{% trans 'LinkedIn' %}:</span>
     		<div class="c12"><input type="text" name="linkedin" {% if profile_user.linkedin %} value="{{ profile_user.linkedin }}" {% endif %} class="text" placeholder="{% trans 'Perfil de LinkedIn' %}"/></div>
     	</div>
     	<div class="row profile field">
			<span class="c12">{% trans 'Biografía' %}:</span>
     		<div class="c12"><textarea type="text" name="bio" class="text" placeholder="{% trans 'Biografía' %}" required>{{ profile_user.bio }}</textarea></div>
     	</div>
         <div class="row profile field">
         	<div class="s6 c6"><input type="submit" class="submit trans"></div>
         </div>
	</form>
</div>

<!-- Modal para cambiar contraseña -->
<div id="passwordModal" class="profile modal clear" style="display:none !important;">
	<h3>{% trans "Cambio de contraseña" %}</h3>
	
	<form id="passwordForm">
		{% csrf_token %}
		<div class="row profile field">
			<div class="c12">
				<span>Contraseña actual:</span>
				<input id="current" type="password" class="text" name="current" required>
			</div>
		</div>
		<div class="intranet separator"></div>
		<div class="row profile field">
			<div class="c12">
				<span>Nueva contraseña:</span>
				<input id="new" type="password" class="text" name="new" required>
			</div>
		</div>
		<div class="row profile field">
			<div class="c12">
				<span>Ingresar nuevamente:</span>
				<input id="confirm" type="password" class="text" required>
			</div>
		</div>
		<div class="row profile field">
			<div class="c12">
				<input id="passSubmit" type="submit" class="submit trans">
			</div>
		</div>
	</form>
	<div class="row profile field">
		<div class="c12">
			<h5 class="message password"></h5>
		</div>
	</div>
</div>

<!-- Modal extra -->
<div style="display:none;">
	<div id="enablePopupModal">
		<h4>{%trans "¡Un momento!" %}</h4>
		<span>{% trans "Al parecer tienes deshabilitadas las ventanas emergentes." %}</span>
		<span>{% trans "Activalas, recarga la página y vuelve a intentarlo." %}</span>
	</div>
	<div>
		<div class="document modal" id="deleteModal">
			<h2>{% trans "¿Estas seguro?" %}</h2>
			<p>{% trans "Estas a punto de eliminar el documento:" %}</p>
			<h3 class="confirm" type="title" data=""></h3>
			<h5 class="confirm" type="author" data=""></h5>
			<div><a class="confirm" type="send" data="">{% trans "CONFIRMAR" %}</a></div>
		</div>
	</div>
	<div>
		<div id="successModal">
			<i class="fa fa-check" aria-hidden="true"></i>
			<h3>{% trans "Cambio exitoso" %}</h3>
		</div>
	</div>
</div>
<script>
	var update_picture_url = "{% url 'intranet:update_picture' %}";
	var csrf_token = "{{ csrf_token }}";
	var authentication_url = "http://{{ request.get_host }}{% url 'get_credentials' %}";
	var password_url = "{% url 'change_password' %}";
	var edit_document_url = "{% url 'intranet:edit_document' '888' %}";
</script>
<script src="{% static 'intranet/js/profile_events.js' %}"></script>
{% endif %}
{% endblock %}