{% extends 'intranet/shared.html' %}
{% load staticfiles %}
{% load i18n %}
{% block extra_js %}
	 <script src="{% static 'intranet/js/vendor/pdf.js' %}"></script> 
	 <script src="{% static 'intranet/js/upload.js' %}"></script>
	 <script src="{% static 'intranet/js/animations.js' %}"></script>
{% endblock %}
{% block content %}
<div class="title nomargin">
	<h3>{% trans "Subir documentos" %}</h3>
</div>

<div class="intranet row upload selector">
	<div class="c6 upload hover trans">
		<div id="local" class="upload option clear" upload-type="local">
			<h5>{% trans "Archivos locales" %}</h5>
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
		</div>		
	</div>
	<div class="c6 upload hover trans">
		<div id="drive" class="upload option clear" upload-type="drive">
			<img src="{% static 'intranet/images/google-drive-logo-lockup.png' %}">
		</div>
	</div>
</div>
<div class="upload hidden dn" id="success-icon">
	<div id="loading-bar"></div>
	<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
	<h4>{% trans "Subida exitosa. Tus documentos estarán disponibles en breve." %}</h4>
</div>
<div class="cssload-loader-wrapper upload hidden">
	<div class="cssload-loader">
		<div class="cssload-inner cssload-one"></div>
		<div class="cssload-inner cssload-two"></div>
		<div class="cssload-inner cssload-three"></div>
	</div>	
	<h4>{% trans "Ten paciencia. Los documentos estan cargandose." %}</h4>
</div>
<div class="upload section">
	
</div>
<!--
<div class="intranet row files upload animation enter down">
	<div class="intranet row">
			<button class="c12 upload button send second hover trans">Enviar</button>
	</div>
	<br>
	<form id="form">
		<input type="hidden" name="csrfmiddlewaretoken" value="hdNp9XhDVyz7n6if3YCV07qhe22tIryC">
		
	
		<div class="s1 c10 intranet box upload file wrapper animation enter down" doc-index="50">
			<div class="subwrapper">
			<div class="c3">
				<img src="{% static 'thumbnails/U2I56.jpg' %}">
			</div>
			<div class="c9">
				<div class="c12 upload file field">
					<div class="c3"><strong>Titulo:</strong></div>
					<div class="c9">
						<div class="upload crossrefWrapper">
							<input type="text" class="field text" value="Titulo temporal2016-10-26 19:09:30.169000" field-name="title" doc-index="50" name="title50" placeholder="Ej: Tesis de microbiologia" autocomplete="off" required="">
							<div class="upload crossref hidden" doc-index="50">
								<div class="upload records">
									<div class="upload records topbar">
										<i class="upload fa fa-check" doc-index="50" aria-hidden="true"></i><i class="upload loader fa fa-circle-o-notch fa-spin fa-3x fa-fw hidden" doc-index="50"></i>
										<button doc-index="50"><i class="fa fa-times" aria-hidden="true"></i></button></div>
									<div class="upload records list">
										<ul class="upload records root" doc-index="50">

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>Autor:</strong>
					</div>
					<div class="c9">
						<input type="text" class="field text" value="Hernán Herreros" name="author50" placeholder="Ej: Juan Perez" required="">
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3"><strong>Fecha de creacion:</strong></div>
					<div class="c9">
						<input type="date" class="field text" value="16-0-8--12" name="date50" required="">
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>DOI:</strong>
					</div>
					<div class="c9">
						<input type="text" class="field text" name="doi50" placeholder="Ej: 10.1109/ms.2006.34" required="">
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>ISSN:</strong> 
					</div>
					<div class="c9">
						<input type="text" class="field text" name="issn50" placeholder="No requerido" required="">
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>Páginas:</strong> 
					</div>
					<div class="c9">
						<input type="text" class="field text" name="pages50" placeholder="No requerido" required="">
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>Area:</strong> 
					</div>
					<div class="c9">
						<select name="category50" class="field" required="">
							<option value="" disabled="" selected="">Selecciona una categoria</option>
							<option value="1">Microbiología Molecular</option>
							<option value="2">Biotecnología Ambiental</option>
							<option value="3">Bionanotecnología</option>
							<option value="4">Genómica Funcional y Proteómica</option>
							<option value="5">Síntesis de compuestos bioactivos y de interés biotecnológico</option>
							<option value="6">Biorremediación de Ambientes Contaminados</option>
						</select>
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>Privacidad:</strong> 
					</div>
					<div class="c9">
						<select class="type-select field" name="type50" required="">
							<option value="" disabled="" selected="">Selecciona privacidad</option>
							<option value="0">Público</option>
							<option value="1">Privado</option>
						</select>
					</div>
				</div>
				<div class="c12 upload file field abstract">
					<div class="c3">
						<strong>Resumen:</strong> 
					</div>
					<div class="c9">
						<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" doc-index="$index"></i>
						<textarea  name="abstract" disabled required></textarea>
					</div>				
				</div>
			</div>
			</div>
		</div>
	</form>
</div>

<div class="intranet row upload singlefile">
	<div class="c12 thumbnail">
		<img src="{% static 'thumbnails/U2I56.jpg' %}">
	</div>
	<div class="c12 content">
		<h5>2.4 mb</h5>
		<h3>Iterative and Incremental Development: A Brief history</h3>
		<h5>Modificado por ultima vez en Octubre 20, 2016</h5>
		<button class="upload button send">Aceptar</button>
	</div>
</div>-->


<!-- Enlaces de utilidad -->

<script>
	var get_credentials_link = 'http://127.0.0.1:8000{% url 'get_credentials' %}';
	var link_analizer_link = "{% url 'link_analizer' '999' %}";
	var download_drive_link = "{% url 'download_drive_files' '999' %}";
	var upload_link = "{% url 'intranet:upload' %}";
	var static_link = "{% static '999' %}";
	var crossref_link = "{% url 'crossref:query' '999'%}";
	var spinner_link = "{% static 'intranet/images/ring.svg' %}"
	var extract_link = "{% url 'intranet:extract_content' %}"
	var folder_files_link = "{% url 'folder_files' '999' %}"
	var csrf_token = '{{csrf_token}}';
	{% if request.user.drive_credentials == None %}
		PopupCenter(get_credentials_link, 'Iniciar sesion en Google Drive', 650, 700, false);
	{% endif %}
</script>

<script src="{% static 'intranet/js/upload_events.js' %}"></script>
<script>
	var localSection = "{% url 'intranet:local_upload' %}";
	var driveSection = "{% url 'intranet:drive_upload' %}";
	//$('#drive').click();
</script>
<!--######################################
<div class="upload-body  upl-hud" upload-method="local">
	<div id="btn-wrapper"><button id="add-btn">{% trans "Añadir documentos" %}</button></div>
	
	<h5 id="message" class="hidden"></h5>
	<form id="confirm-form">
		{%csrf_token%}
	</form>
	<div class="submit-row">
		<button id="local-submit" class="submit-btn disabled" disabled>{% trans "Confirmar" %}</button>
		<div class="clear"></div>
	</div>
</div>
######################################-->
{% endblock %}