{% extends 'intranet/shared.html' %}
{% load staticfiles %}
{% load i18n %}
{% block extra_js %}
	 <script src="{% static 'intranet/js/vendor/pdf.js' %}"></script> 
	 <script src="{% static 'intranet/js/upload.js' %}"></script>
{% endblock %}
{% block content %}
<div class="title">
	<h3>{% trans "Subir documentos" %}</h3>
</div>

<div class="intranet row upload selector">
	<div class="c6 upload hover trans">
		<div class="upload option clear">
			<h5>{% trans "Archivos locales" %}</h5>
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
		</div>		
	</div>
	<div class="c6 upload hover trans">
		<div class="upload option clear">
			<img src="{% static 'intranet/images/google-drive-logo-lockup.png' %}">
		</div>
	</div>
</div>
<!--######################################-->
<div class="upload-body  upl-hud" upload-method="local">
	<div id="btn-wrapper"><button id="add-btn">{% trans "Añadir documentos" %}</button></div>
	<input id="mult-files" type="file"accept="application/pdf" style="display: none" multiple>
	<h5 id="message" class="hidden"></h5>
	<form id="confirm-form">
		{%csrf_token%}
	</form>
	<div class="submit-row">
		<button id="local-submit" class="submit-btn disabled" disabled>{% trans "Confirmar" %}</button>
		<div class="clear"></div>
	</div>
</div>
<!--######################################-->

<script>
	var get_credentials_link = 'http://127.0.0.1:8000{% url 'get_credentials' %}';
	var link_analizer_link = "{% url 'link_analizer' '999' %}";
	var download_drive_link = "{% url 'download_drive_files' '999' %}";
	var upload_link = "{% url 'intranet:upload' %}";
	var static_link = "{% static '999' %}";
	var crossref_link = "{% url 'crossref:query' '999'%}";
	var spinner_link = "{% static 'intranet/images/ring.svg' %}"
	var extract_link = "{% url 'intranet:extract_content' %}"
	var csrf_token = '{{csrf_token}}';
	{% if request.user.drive_credentials == None %}
		PopupCenter(get_credentials_link, 'Iniciar sesion en Google Drive', 650, 700, false);
	{% endif %}
</script>
<div class="clear"></div>

<script src="{% static 'intranet/js/upload_events.js' %}"></script>

{% endblock %}