{% extends 'intranet/shared.html' %}
{% load staticfiles %}
{% block content %}
{% load i18n %}
<div class="title">
	<h3>{% trans "Usuarios" %}</h3>
</div>
<div class="intranet row">
	{% for user in users %}
		<div class="c4">
			<a href="{% url 'intranet:profile' user.id %}">
				<div class="intranet box users">
					<div class="profile picture">
						<div>
							<img class="img" 
			                    {% if user.profile_picture %} 
			                        src="{% static user.filename %}" 
			                    {% else %} 
			                        src="{% static 'intranet/images/default.png' %}" 
			                    {% endif%}
	                        >
	                    </div>
					</div>
					<h4>{{ user.first_name }} {{ user.last_name }}</h4>
				</div>
			</a>
		</div>
	{% endfor %}
</div>
{% endblock %}