{% extends 'shared/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="title-section">
	<div class="title-label"><h1>Usuarios</h1></div>
</div>

<div class="grid row">
	<div id="content">
		<div class="side left-side">
			<div class="side-section">
				<ul>
					<li class="section-head"><h3>Enlaces</h3></li>
					<li class="section-row"><a href="{% url 'intranet' %}">Documentos</a></li>
					<li class="section-row"><a href="{% url 'profile' request.user.id %}">Mi perfil</a></li>
					<li class="section-row"><a href="{% url 'users' %}">Usuarios</a></li>
					<li class="section-row"><a href="#">Categorias</a></li>
					<li class="section-row"><a href="{% url 'upload' %}">Subir documento</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="body">
			<div id="users-container">
				{% for user in users %}
					<a href="{% url 'profile' user.id %}">
					<div class="user-wrapper">
						<div class="user-header">
							<!--<div class="user-background">
								<img src="https://scontent-grt2-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10355589_10206271747412045_6046703234564832125_o.jpg">
							</div>-->
							<img {% if user.profile_picture %} src="{{ user.profile_picture.url }}" {% else %} src="{% static 'intranet/images/default.png' %}" {% endif%}>
						</div>
						<div class="user-body">
							<h4>{{ user.first_name }} {{ user.last_name }}</h4>
							<h5>{{ user.area.name }}</h5>
							<table>
								<tr>
									<td><h4>{{ user.doc_count}}</h4><i class="fa fa-file-text-o"></i><span>Documentos</span></td>
									<td><h4>Hace {{ user.last_activity }} dias</h4><i class="fa fa-calendar-o"></i><span>Ultima actividad</span></td>
								</tr>
							</table>
						</div>
					</div>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}