{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as lang %}	
{% block css %}
    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'intranet/css/vendor/font-awesome.min.css' %}">
{% endblock %}
{% block content %}
<section id="content" class="wfull">
    <div id="title">
        <div class="grid">
            <div class="row">
                <h1 class="c12">
                	{% if request.GET.category %}
                		{% if documents %}
                			{{documents.0.category.name}}
                		{% endif %}
                	{% else %}
            			{% trans "Publicaciones" %}
                	{% endif %}
                </h1>
            </div>
        </div>
    </div>
    <div class="grid">
    	<div class="row">
    		<form class="clear c12">
	    		<div class="c12"><input id="search" type="text" class="text" placeholder="{% trans 'Ingresa tu búsqueda aquí' %}"/></div>
    		</form>
    	</div>
		<div class="row">
			<section class="content eventos c8">
				{% for document in documents%}
					 <div class="evento">
				        <a class="clear closed" href="{% url 'intranet:viewer' document.author_slug document.title_slug %}">
				            <span class="date document">{{ document.date|date:"Y" }} · {{ document.author }}</span>
				            <h4>{{ document.title }}</h4>
				            <span class="icon arrow"></span>
				        </a>
				    </div>
				{% endfor %}
				{% if not documents %}
					<h1>{% trans "No hay documentos" %}</h1>
				{% else %}
				   {% if documents.has_other_pages %}
					    <div class="clear">
					        <div id="wp_page_numbers">
					            <ul>
					                {% if documents.has_previous %}
					                	<li><a href="{% url 'publications' %}?page={{documents.previous_page_number}}">{% trans "Anterior" %}</a></li>
					                {% endif %}
					            	{% for page in documents.paginator.page_range %}
					                	<li {% ifequal documents.number page %}class="active_page"{% endifequal %}>
					                		<a href="{% url 'publications' %}?page={{page}}">{{page}}</a>
					                	</li>
					                {% endfor %}
					                {% if documents.has_next %}
					                	<li><a href="{% url 'publications' %}?page={{documents.next_page_number}}">{% trans "Siguiente" %}</a></li>
					                {% endif %}
					            </ul>
					            <div style="float: none; clear: both;"></div>
					        </div>
					    </div>
				    {% endif %}
			    {% endif %}
			</section>
			<section id="sidebar" class="c4">
	            <div class="links clear box">
	                <h3>{% trans 'Categorías' %}</h3>
	                {% if categories %}
	                	<a class="clear" href="{% url 'publications' %}">{% trans "Todas" %}</a>
	                	{% for category in categories %}
		                	<a class="clear" href="{% url 'publications' %}?category={{category.id}}">{{category.name}}</a>
		                {% endfor %}
		            {% else %}
		            	<span class="c12 empty">{% trans "No hay categorías" %}</span>
		            {% endif %}
	            </div>
			</section>
			<script>
				$('#search').val('{{search}}');
			</script>
    	</div>
    	<div class="row">
            <div class="c12">
                <ul id="bottom-nav" class="clear">
                    {% if other_sections.0 %}
                        <li><a class="red" href="{% url 'webpage:section' other_sections.0.slug %}">{% if lang == 'es' %}{{other_sections.0.spanish_name}}{% elif lang == 'en' %}{{other_sections.0.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.1 %}
                        <li><a class="orange" href="{% url 'webpage:section' other_sections.1.slug %}">{% if lang == 'es' %}{{other_sections.1.spanish_name}}{% elif lang == 'en' %}{{other_sections.1.english_name}}{% endif %}</a></li>
                    {% endif %}
                    {% if other_sections.2 %}
                        <li><a class="yellow" href="{% url 'webpage:section' other_sections.2.slug %}">{% if lang == 'es' %}{{other_sections.2.spanish_name}}{% elif lang == 'en' %}{{other_sections.2.english_name}}{% endif %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
	</div>
</section>


<script>
	var current_lang = "{{lang}}"
	$('#search').keypress(function(e){
		if(e.which == 13 && $(this).val() != ''){
			e.preventDefault();
			window.location.href = "/" + current_lang + "/publications/search/999/".replace('999', $(this).val());
		}
	});
</script>	
		</div>
	</div>
</div>

{% endblock %}