{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as lang %}	



{% block content %}
<section id="content" class="wfull">
    <div id="title">
        <div class="grid">
            <div class="row">
                <h1 class="c12">{% trans "Publicaciones" %}</h1>
            </div>
        </div>
    </div>
    <div class="grid">
    	<div class="row">
    		<form class="clear c12">
	    		<div class="c12"><input id="search" type="text" class="text" placeholder="{% trans 'Ingresa tu busqueda aquí' %}"/></div> 			
    		</form>
    	</div>
		<div class="row">
			<section class="content eventos c8">
				{% for document in documents%}
					 <div class="evento">
				        <a class="clear closed">
				            <span class="date">{{ document.date|date:"Y" }} · {{ document.author }}</span>
				            <h4>{{ document.title }}</h4>
				            <span class="icon">+</span>
				        </a>
				        <div class="content" style="display:none;">
				            <div class="meta">
				                <p><strong>Dueño: </strong>{{ document.owner.first_name }} {{ document.owner.last_name }}</p>
				                <p><strong>Añadido: </strong>{{ document.date_added }}</p>
				            	<p>
						            <sup class="button">
						            	<a href="{% url 'intranet:viewer' document.author document.title %}">ver documento</a>
						            </sup>
						        </p>
				            </div>
				            <div class="details">
				                <p>{{ document.abstract }}</p>
				            </div>
				        </div>
				    </div>
				{% endfor %}
				{% if not documents %}
					<div class="c12"><h2 class="documents-message">{% trans "No se encontraron documentos" %}</h2></div>
				{% else %}
			    <div class="clear">
			        <div id="wp_page_numbers">
			            <ul>
			                <li class="active_page"><a href="#">1</a></li>
			                <li><a href="#">2</a></li>
			                <li><a href="#">3</a></li>
			                <li><a href="#">4</a></li>
			                <li><a href="#">Siguiente</a></li>
			            </ul>
			            <div style="float: none; clear: both;"></div>
			        </div>
			    </div>
			    {% endif %} 
			</section>
			<section id="sidebar" class="c4">
	            <form action="http://www.eventos.usm.cl/eventos/" class="clear search-by-dates accordion" method="get">
	                <a class="toggle acc-header">Filtros<span class="icon">+</span><span class="icon">+</span></a>
	                <div class="acc-content" style="display: none;">
	                    <input type="text" class="text dates from placeholder hasDatepicker" name="date_from" readonly="true" placeholder="Fecha desde" id="dp1472498701480">
	                    <input type="text" class="text dates to placeholder hasDatepicker" name="date_to" readonly="true" placeholder="Fecha hasta" id="dp1472498701481">
	                    <input type="submit" class="submit button" value="Buscar">
	                </div>
	            </form>
	            <div class="links clear box">
	                <h3>Categorias</h3>
	                <a class="clear external" href="#" target="_blank">Microbiologia Molecular</a>
	                <a class="clear external" href="#" target="_blank">Biotecnologia Ambiental</a>
	            </div>
			</section>
			<script>
				$('#search').val('{{search}}');
			</script>
    	</div>
	</div>
</section>


<script>
	var current_lang = "{{lang}}"
	$('#search').keypress(function(e){
		if(e.which == 13 && $(this).val() != ''){
			e.preventDefault();
			window.location.href = "/" + current_lang + "/publications/search/999/".replace('999', $(this).val());
		}
	});
</script>	
		</div>
	</div>
</div>

{% endblock %}