{% extends 'shared/base.html' %}
{% load staticfiles %}
{% block content %}
{% load i18n %}

<div id="slider" class="royalSlider rsDefault">
<figure class="rsContent">
	<img class="rsImg" src="{% static 'shared/images/home.jpg' %}" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit."/>  
</figure>  
</div>
<section id="content" class="wfull">
	<div class="grid">
		<div class="row">
			<h1 class="c12">Sobre <element></element> Laboratorio de Microbiología Molecular y Biotecnología Ambiental:</h1
		</div>
		<div class="row">
			<div class="s3 c9">
				<p>El laboratorio de Microbiología Molecular y Biotecnología Ambiental de la Universidad Técnica Federico Santa María estudia la degradación bacteriana de contaminantes orgánicos persistentes, química ambiental, genómica y proteómica funcional. Ademas, hemos trabajado con distintas universidades de Chile y el mundo.</p>
			</div>
		</div>
	</div>
</section>
	
{% endblock %}