{% extends 'admin/shared.html' %} 
{% load staticfiles %}
{% block content %}
{% load i18n %}
<div class="title">
  <form id="search" url="{% url 'admin:admin_search' 999 %}"><input type="text" class="text search field" id="searchPhrase" placeholder="Ingresa aquí tu búsqueda"><input class="submit trans search send" type="submit" value="Buscar"></form> 
</div>



<div class="intranet row">
	{% if not search %}
		<!--Seccion de documentos -->
		<!-- Tener en cuenta que si no es una busqueda, el objeto documents es un paginador, por lo que tiene metodos sobre las paginas de resultado -->
		<!-- ver https://docs.djangoproject.com/es/1.10/topics/pagination/ -->
		{% if not documents %}
		<div class="c12">
			<h1 class="documents message">{% trans "No hemos encontrado documentos" %}</h1>
			<h5 class="documents description">{% trans "Asegurate de haber subido algún documento. Nuestra base de datos esta vacía" %}</h5>
		</div>
		{% else %}
			{% if not keyword %}
					<div class="documents filters c3">
						<div class="intranet box">
				            <div class="links">
				                <h3>{% trans "Categorías" %}</h3>
				                <a class="clear " href="{% url 'admin:documents' %}">{% trans "Todas" %}</a>
				                {% for category in categories %}
				                	<a class="clear " href="{% url 'admin:documents' %}?category={{category.id}}">{{category.name}}</a>
				                {% endfor %}
				            </div>
				        </div>
					</div>
				<div class="content eventos c9">
			{% else %}
				<div class="c12">
					<div class="intranet box">
						<div class="document head">
							<h2>{% trans "Palabra clave:" %} {{keyword}}</h2>
						</div>
					</div>
				</div>
				<div class="content eventos c12">
			{% endif %}
					<div class="intranet box">
						<div>
							{% for document in documents%}
								 <div class="evento">
							        <a class="clear closed">
							            <span class="date">{{ document.date|date:"Y" }} · {{ document.author }}</span>
							            <h4>{{ document.title }}</h4>
							            <span class="icon">+</span>
							        </a>
							        <div class="content" style="display:none;">
							            <div class="meta">
							                <p><strong>Dueño: </strong>{{ document.owner.first_name }} {{ document.owner.last_name }}</p>
							                <p><strong>Añadido: </strong>{{ document.date_added }}</p>
							            	<p>
									            <sup class="button">
									            	<a href="{% url 'intranet:document' document.author document.title %}">ver documento</a>
									            </sup>
									        </p>
							            </div>
							            <div class="details">
							                <p>{{ document.abstract }}</p>
							            </div>
							        </div>
							    </div>
							{% endfor %}
					    </div>
						{% if documents.has_other_pages %}
						    <div class="clear">
						        <div id="wp_page_numbers">
						            <ul>
						                {% if documents.has_previous %}
						                	<li><a href="{% url 'intranet:documents' %}?page={{documents.previous_page_number}}">Anterior</a></li>
						                {% endif %}
						            	{% for page in documents.paginator.page_range %}
						                	<li {% ifequal documents.number page %}class="active_page"{% endifequal %}>
						                		<a href="{% url 'intranet:documents' %}?page={{page}}">{{page}}</a>
						                	</li>
						                {% endfor %}
						                {% if documents.has_next %}
						                	<li><a href="{% url 'intranet:documents' %}?page={{documents.next_page_number}}">Siguiente</a></li>
						                {% endif %}
						            </ul>
						            <div style="float: none; clear: both;"></div>
						        </div>
						    </div>
					    {% endif %}
				    </div> 
				</div>
		{% endif %}
		</div>
		<!--Fin seccion de documentos-->
	{% else %}
		<!-- Es una busqueda -->
		<!--Seccion de resultados de buscqueda-->
		<script>$('#searchPhrase').val('{{search}}');</script>
		{% if not documents %}
			<div class="c12">
				<h1 class="documents message">{% trans "No encontramos resultados para tu busqueda" %}</h1>
				<h5 class="documents description">{% trans "Asegurate de haber escrito correctamente el autor y/o titulo" %}</h5>
			</div>
		{% else %}
		<div class="c3">
			<div id="filters-v2" class="noselect">
			<form action="" method="GET" id="filter-form">
			<h4>{% trans "Refinar busqueda" %}</h4>
			<ul>
				<li>
					{% trans "AUTOR" %}
					<ul>
						{% for ath, count, selected in authors %}
							{% if ath %}
								<li><label for="checkbox-ath{{ath}}"><input id="checkbox-ath{{ath}}" name="author" value="{{ath}}" type="checkbox" class="filter-checkbox" {% if selected %} checked {% endif %}><span>{{ath}} ({{count}})</span></label></li>
							{% elif authors|length == 1  %}
								<li><span>-</span></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
				<li>
					{% trans "DUEÑO" %}
					<ul>
						{% for own, count, selected in owners %}
							{% if own %}
								<li><label for="checkbox-owner{{own.id}}"><input id="checkbox-owner{{own.id}}" name="owner" value="{{own.id}}" type="checkbox" class="filter-checkbox" {% if selected %} checked {% endif %}><span> {{own.first_name}} {{own.last_name}} ({{count}})</span></label></li>
							{% elif owners|length == 1  %}
								<li><span>-</span></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
				<li>
					{% trans "CATEGORÍA" %}
					<ul>
						{% for cat, count, selected in categories %}
							{% if cat %}
								<li><label for="checkbox-cat{{cat.id}}"><input id="checkbox-cat{{cat.id}}" name="category" value="{{cat.id}}"type="checkbox" class="filter-checkbox" {% if selected %} checked {% endif %}><span> {{cat.name}} ({{count}})</span></label></li>
							{% elif categories|length == 1 %}
								<li><span>-</span></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
				<li>
					{% trans "AÑO" %}
					<ul>
						{% for year, count, selected in years %}
							{% if year %}
								<li><label for="checkbox-year{{year}}"><input id="checkbox-year{{year}}" name="date" value="{{year}}"type="checkbox" class="filter-checkbox" {% if selected %} checked {% endif %}><span> {{year}} ({{count}})</span></label></li>
							{% elif years|length == 1 %}
								<li><span>-</span></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			</ul>
			</form>
		</div>
		</div>
		<div class="c9">
			<ul>
			{% for document in documents %}
				<li class="search-result" doc-title="{{ document.title }}" doc-author="{{ document.author }}">
					<h4 class='text-result'> {{ document.title }} </h4>
					<span class='text-result'> {{ document.author }} -</span>
					<span class='text-result'> {{ document.date }} </span>
					<p><strong>{% trans "Dueño" %}:</strong> <span class='text-result'>{{ document.owner_name }}</span></p>
					<!--<p><strong>Resumen:</strong> ... adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...</p>-->
					{% if document.extract|length > 0 %}
						<p class="long-text"><strong>{% trans "Extracto" %}:</strong><span class='text-result'> {{ document.extract }}</span></p>
					{% endif %}
				</li>
			{% endfor %}
			<script>
				var search = '{{ search }}'.split(' ');
				console.log(search)
				$('.text-result').each(function(){
					for ( var i = 0; i< search.length; i++){
						var html = $(this).html();
						console.log(search[i])
						var re = new RegExp('^' + search[i] + '| ' + search[i], 'gi')
						$(this).html(html.replace(re, ' <span class="documentos highlight">' + '$&'.replace(' ', '') + '</span> '));
					}
				});
			</script>
		</ul>
		</div>
		{% endif %}
		
{% endif %}
<script>
		$('tr.document').click(function(){
			window.open($(this).attr('url'), "_self");
		});
	</script>	
</div>
<script src="{% static 'intranet/js/documents_events.js' %}"></script>

{% endblock %}
gdf