{% extends 'admin/shared.html' %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'usm_theme/css/vendor/jquery-datepicker/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'usm_theme/css/vendor/bootstrap-clockpicker/bootstrap-clockpicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'usm_theme/css/vendor/bootstrap-clockpicker/bootstrap.min.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'usm_theme/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'usm_theme/js/bootstrap-clockpicker.min.js' %}"></script>
    <script src="{% static 'usm_theme/js/load-image.all.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="intranet row">
	<div class="c11 create-event-title" style="float: none">
		<div class="intranet box">
			<div class="upload head">
				<h1>{% trans "Editando un evento" %}</h1>
			</div>
		</div>
	</div>
	<div class="c11" style="float: none!important; margin: auto">
		<div class="intranet box news">
			<form id="edit-event-form" class="clear c12" method="POST">
				{% csrf_token %}
		        <div class="row field">
					<span class="c12">{% trans 'Título' %}:</span>
		         	<div class="c12">
		         		<input required original="" type="text" name="title" class="text" placeholder="{% trans 'Requerido' %}" value="{{event.title}}"/>
		         	</div>
		        </div>
		        <div class="row field">
					<span class="c12">{% trans 'Descripción' %}:</span>
		         	<div class="c12">
                        <textarea required original="" name="description" class="text" placeholder="{% trans 'Requerido' %}">{{event.description}}</textarea>
		         	</div>
		        </div>
                <div class="row">
                     <div class="c6 field">
                        <span class="c12">{% trans 'Imagen' %}: {% if event.image %}<a href="{% static event.image_static_url %}" target="_blank">{{event.image_name}}</a>{% else %}<strong>{% trans 'No asignada' %}</strong>{% endif %}</span>
                        <div class="c12">
                            <input id="image" type="file" accept="image/png, image/jpeg">
                        </div>
                     </div>
                    <div class="c6 field">
                        <span class="c12">{% trans 'Programa' %}: {% if event.program %}<a href="{% static event.program_static_url %}" target="_blank">{{event.program_name}}</a>{% else %}<strong>{% trans 'No asignado' %}</strong>{% endif %}</span>
                        <div class="c12">
                            <input type="file" accept="application/pdf" name="program">
                        </div>
                    </div>
                </div>
                <div class="row field table">
                    <table class="intranet box">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{% trans 'Fecha' %}</th>
                                <th>{% trans 'Lugar' %}</th>
                                <th>{% trans 'Inicio' %}</th>
                                <th>{% trans 'Término' %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for day in days %}
                                <tr day-id="{{day.id}}">
                                    <td class="num">{{forloop.counter}}</td>
                                    <td class="date"><input original="" required readonly type="text" class="text" placeholder="dd-mm-aaaa" value="{{day.day|date:'d'}}-{{day.day|date:'m'}}-{{day.day|date:'Y'}}"/></td>
                                    <td class="location"><input original="" required type="text"  class="text" placeholder="{% trans 'Requerido' %}" value="{{day.location}}"/></td>
                                    <td class="time begin-hour"><input original="" required readonly type="text" class="text" placeholder="HH:mm" value="{{day.begin_hour}}"/></td>
                                    <td class="time end-hour"><input original="" required readonly type="text" class="text" placeholder="HH:mm" value="{{day.end_hour}}"/></td>
                                    <td class="remove">
                                        <a class="fa-stack fa-lg remove-day trans" title="{% trans 'Eliminar' %}">
                                            <i class="fa fa-circle fa-stack-1x"></i>
                                            <i class="fa fa-minus-circle fa-stack-1x fa-inverse"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="row field day-btns">
                        <button type="button" class="submit trans news add-day">{% trans 'Agregar día' %}</button>
                    </div>
                </div>
		         <div class="row field">
		         	<div class="s6 c6"><input id="submitEvent" type="submit" class="submit trans news" value="{% trans 'Enviar' %}" disabled></div>
		         </div>
			</form>
		</div>
	</div>
</div>

<!-- Modal extra -->
<div style="display:none;">
	<div>
		<div id="errorModal">
			<i class="fa fa-times" aria-hidden="true"></i>
			<h3>{% trans "Hubo un problema. Asegúrate de que los datos ingresados sean válidos." %}</h3>
		</div>
	</div>
</div>

<script>
    var edit_event_url = "{% url 'admin:edit_event' 999 %}";
    var id = "{{event.id}}";
    events_edit();
</script>
{% endblock %}