{% extends 'admin/shared.html' %}
{% load staticfiles %}
{% block content %}
{% load i18n %}
<div class="title">
	<h3>{% trans "Resumen de actividad" %}</h3>
</div>
<div class="intranet row">
    <!-- Seccion izquierda -->
    <div id="lCol" class="c7">
        <!-- Nueva linea -->

        <!-- Nueva linea -->
        <div class="intranet box">
        Parte donde trabajas con usuarios
        </div>
        <!-- Nueva linea -->

    </div>
    <!-- Seccion derecha -->
    <div id="rCol" class="c5">
    <!-- Nueva linea -->
        <div class="intranet box">
            quizas otras funcionalidades
        </div>
        <!-- Nueva linea -->
        <div class="intranet box">
        </div>
    </div>
</div>

<script>
var ctx = document.getElementById("months_chart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{{ names_months|safe }}],
        datasets: [{
            label: '',
           	fill: true,
            data: [{{ count_months }}],
            backgroundColor:'#e9edf0',
            borderColor:'#F7A220',
            lineTension:0.1,
            borderJoinStyle:'miter',
            pointRadius:3,
            pointHoverRadius:5,
            pointHoverBackgroundColor: "#e9edf0",
            pointBackgroundColor: '#f2ae47'
        }]
    },
    options: {
    	scales:{
    		yAxes:[{
    			gridLines:{
	    			display:false,
	    		},

    		}],
    		xAxes:[{
    			gridLines:{
	    			display:false,
	    		}
    		}]
    	},
    	legend:{
    		display:false
    	}
    }
});
var ctx2 = document.getElementById("categories_chart");
var myChart2 = new Chart(ctx2, {
    type: 'pie',
    data: {
        labels: [{{ names_categories|safe }}],
        datasets: [{
            data: [{{count_categories}}],
            backgroundColor:[
            	"#f2ae47",
            	"#e0424e",
            	"#006e9c",
            	"#009065",
            	"#E17947",
            	"#8DE57C",

            ]
        }]
    },
    options: {
    	scale:{
    		ticks:{
    			display:false
    		}
    	},
    	legend:{
    		display:true
    	}
    }
});
</script>
{% endblock %}