{% extends 'admin/shared.html' %}
{% load googleanalytics %}

{% load i18n %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/home.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'admin/js/home/active-users.js' %}"></script>
    <script src="{% static 'admin/js/home/view-selector2.js' %}"></script>
{% endblock %}

{% block content %}
<div class="intranet row">
    <div id="home-setup">
        {% analytics %}
    </div>
</div>
</body>
</html>

{% endblock %}