{% extends 'admin/shared.html' %}

{% block css %}
    <link href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
{% load i18n %}
{% load staticfiles %}
    <div class="title">
        <h3>{% blocktrans with first_name=profile_user.first_name last_name=profile_user.last_name %}
            Perfil de {{ first_name }} {{ last_name }}
        {% endblocktrans %}
        </h3>
    </div>
    <div class="intranet row">
        <!-- Seccion izquierda -->
        <div id="lCol" class="c5">
            <!-- Nueva linea -->
            <div class="intranet box">
                <div class="profile image">
                    <img
                            {% if profile_user.profile_picture %}
                                src="{% static profile_user.filename %}"
                            {% else %}
                                src="{% static 'intranet/images/default.png' %}"
                            {% endif%}>
                </div>
                <div class="document table">
                    <table>
                        <tr>
                            <td>{% trans "Nombre completo" %}:</td>
                            <td>{{profile_user.first_name}} {{ profile_user.last_name }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Institución" %}:</td>
                            <td>{{ profile_user.institution }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Carrera" %}:</td>
                            <td>{{ profile_user.career }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "País" %}:</td>
                            <td>{{ profile_user.country }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Area" %}:</td>
                            <td>{% trans profile_user.area.name %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Seccion derecha -->
        <div id="rCol" class="c7">
            <!-- Nueva linea -->
            <div class="intranet box">
                <div class="profile counter">
                    <div>
                        <h1>{{ profile_user.doc_count }}</h1>
                        <h3>Documentos</h3>
                    </div>
                </div>
                <div class="profile info">
                    <ul class="documents">
                        {% for document in documents %}
                            <li>
                                <div class="body">
                                    <a href="{% url 'admin:document' document.author_slug document.title_slug %}">
                                        <h3><span>{{ document.date|date:"Y" }}</span> · {{ document.title }}</h3>
                                        <span>{{ document.author }}</span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--
                <div class="description">
                    <span>Alguna descripción</span>
                </div>
                -->
            </div>
        </div>
    </div>
{% endblock %}