<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load i18n %}
		{% load tags %}
		{% get_current_language as lang %}
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="author" content="Ilógica - www.ilogica.cl"/>
		<meta name="title" content="{% if lang == 'es' %}{{administration.spanish_name}}{% elif lang == 'en' %}{{administration.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/>
		<meta name="description" content="Laboratorio del Departamento de Química de la Universidad Técnica Federico Santa María."/>
		<meta property="og:title" content="{% if lang == 'es' %}{{administration.spanish_name}}{% elif lang == 'en' %}{{administration.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/>
		<meta property="og:description" content="Laboratorio del Departamento de Química de la Universidad Técnica Federico Santa María."/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="www.labmmba.utfsm.cl"/>
		<meta property="og:image" content="{% static 'shared/images/labmmba1.png' %}"/>
		<meta property="og:site_name" content="{% if lang == 'es' %}{{administration.spanish_name}}{% elif lang == 'en' %}{{administration.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/>
		<meta property="og:locale" content="es_ES"/>
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="{% if lang == 'es' %}{{administration.spanish_name}}{% elif lang == 'en' %}{{administration.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María">
		<meta name="twitter:description" content="Laboratorio del Departamento de Química de la Universidad Técnica Federico Santa María.">
		<meta name="twitter:image:src" content="">
		<meta name="twitter:domain" content="s">
		<meta name="apple-mobile-web-app-title" content="USM"/>
		<link rel="stylesheet" media="screen" href="{% static 'usm_theme/css/royalslider.css' %}"/>
		<link rel="stylesheet" media="screen" href="{% static 'usm_theme/css/fancybox.css' %}"/>
		<link rel="shortcut icon" href="{% static 'usm_theme/img/icon/favicon.png' %}"/>
		<link rel="image_src" href=""/>
		<link rel="apple-touch-icon" href="{% static 'usm_theme/img/icon/ilogica-icon.png' %}"/>
		<title>{% if lang == 'es' %}{{administration.spanish_name}}{% elif lang == 'en' %}{{administration.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María</title>
		<meta name="description" content="Laboratorio del Departamento de Química de la Universidad Técnica Federico Santa María." />
		<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/private.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'usm_theme/css/style.css' %}">
		<link rel="icon" href="{% static 'shared/images/icon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin.css' %}">

		{% block css %} {% endblock %}

		<!--Javascript-->
		<script>var current_lang = "{{lang}}"</script>
		<script src="{% url 'javascript-catalog' %}"></script>
		<script src="{% static 'intranet/js/vendor/Chart.min.js' %}"></script>
		<script src="{% static 'intranet/js/vendor/autosize.js' %}"></script>
		<script src="{% static 'intranet/js/mobile_check.js' %}"></script>
		<script src="{% static 'usm_theme/js/jquery.js' %}"></script>
        <script src="{% static 'usm_theme/js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'usm_theme/js/royalslider.js' %}"></script>
		<script src="{% static 'usm_theme/js/fancybox.js' %}"></script>
		<script src="{% static 'usm_theme/js/functions.js' %}"></script>
        <script src="{% static 'admin/js/admin.js' %}"></script>
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

		{% block extra_js %}{% endblock %}
	</head>
	<body class="seccion">
		<header id="header" class="wfull main-nav clear">
			<div class="row top-bar">
				<div>
					<div class="row">
						<div class="c12">
							<div class="mobile-nav-wrapper clear">
								<div class="mobile-top-bar clear">
									<a class="mobile-brand notrans" href="{% url 'webpage:home' %}"><img src="{% static 'shared/images/logo_labmmba.png' %}" alt=" · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/></a>
									<a id="mobile-nav">&#9776;</a>
								</div>
								<div class="mobile-nav notrans">
									<ul class="mobile-main-nav clear">
                                        {% url 'admin:home' as users_view%}
                                        <li class="{% if users_view == request.path%} current {%endif%}"><a href="{{users_view}}">{% trans "Inicio" %}</a></li>
                                        {% url 'admin:users' as users_view%}
                                        <li class="{% if users_view == request.path%} current {%endif%}"><a href="{{users_view}}">{% trans "Usuarios" %}</a></li>
                                        {% url 'admin:documents' as documents_view%}
                                        <li class="{% if documents_view == request.path%} current {%endif%}"><a href="{{documents_view}}">{% trans "Documentos" %}</a></li>
                                        {% url 'admin:areas' as areas_view%}
                                        <li class="{% if areas_view == request.path%} current {%endif%}"><a href="{{areas_view}}">{% trans "Áreas" %}</a></li>
                                        {% url 'admin:webpage' as webpage_view%}
                                        <li class="{% if webpage_view == request.path%} current {%endif%}"><a href="{{webpage_view}}">{% trans "Página Web" %}</a></li>
                                        {% url 'admin:gallery' as gallery_view%}
                                        <li class="{% if gallery_view == request.path%} current {%endif%}"><a href="{{gallery_view}}">{% trans "Galería de Fotos" %}</a></li>
                                        {% url 'admin:members' as members_view%}
                                        <li class="{% if members_view == request.path%} current {%endif%}"><a href="{{members_view}}">{% trans "Integrantes" %}</a></li>
                                        {% url 'admin:news' as news_view%}
                                        <li class="{% if news_view == request.path%} current {%endif%}"><a href="{{news_view}}">{% trans "Noticias" %}</a></li>
                                        {% url 'admin:events' as events_view%}
                                        <li class="{% if events_view == request.path%} current {%endif%}"><a href="{{events_view}}">{% trans "Eventos" %}</a></li>
										<li><a href="{% url 'webpage:home' %}">{% trans "Volver a la página principal" %}</a></li>
									</ul>
									<ul class="mobile-top-nav clear">
										{% if request.user.is_authenticated == False %}
											<li><a href="{% url 'login' %}">{% trans "Ingresar" %}</a></li>
										{% else %}
											<li><a href="#">{{ user.email }}</a></li> 
											<li><a href="{% url 'logout' %}">{% trans "Cerrar Sesión" %}</a></li>
										{% endif %}
										{% if lang == "es" %}
											<li><a href="{% translate_url 'en' %}">English version</a></li>
										{% else %}
											<li><a href="{% translate_url 'es' %}">Versión en Español</a></li>
										{% endif %}
									</ul>
								</div>
							</div>
							<a class="tablet-nav">&#9660;</a>
							<ul class="breadcrumbs clear">
								<li><a href="http://www.usm.cl/">USM.cl</a></li>
								<li><a href="{% url 'webpage:home' %}">LABMMBA</a></li>
                                <li><a href="{% url 'admin:home' %}">{% if lang == 'es' %}{{administration.spanish_name}}{% elif lang == 'en' %}{{administration.english_name}}{% endif %}</a></li>
							</ul>
							<ul class="top-nav clear notrans">
								{% if request.user.is_authenticated == False %}
									<li><a href="{% url 'login' %}">{% trans "Ingresar" %}</a></li>
								{% else %}
									<li><a href="#">{{ user.email }}</a></li> 
									<li><a href="{% url 'logout' %}">{% trans "Cerrar Sesión" %}</a></li>
								{% endif %}
								{% if lang == "es" %}
									<li><a href="{% translate_url 'en' %}">English version</a></li>
								{% else %}
									<li><a href="{% translate_url 'es' %}">Versión en Español</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="c12 brand row nav">
				<div id="lCol" class="c5">
				</div>
				<a class="notrans" href="{% url 'webpage:home' %}"><img src="{% static 'shared/images/logo_labmmba.png' %}" alt=" · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/></a>
			</div>
		</header>
		<!-- Menu lateral de la intranet -->
		<section id="content" class="wfull">	
			<div id="sidebar" class="sidebar left">
                <div class="links clear box">
                    <h3>{% trans 'Administrar' %}</h3>
                    {% url 'admin:home' as users_view%}
					<a class="clear {% if users_view == request.path%} selected {%endif%}" href="{{users_view}}">
						<i class="fa fa-home" aria-hidden="true"></i>
						{% trans "Inicio" %}
					</a>
                    {% url 'admin:users' as users_view%}
					<a class="clear {% if users_view == request.path%} selected {%endif%}" href="{{users_view}}">
						<i class="fa fa-users" aria-hidden="true"></i>
						{% trans "Usuarios" %}
					</a>
					{% url 'admin:documents' as documents_view%}
					<a class="clear {% if documents_view == request.path%} selected {%endif%}" href="{{documents_view}}">
						<i class="fa fa-file" aria-hidden="true"></i>
						{% trans "Documentos" %}
					</a>
                    {% url 'admin:areas' as areas_view%}
                    <a class="clear {% if areas_view == request.path%} selected {%endif%}" href="{{areas_view}}">
                    	<i class="fa fa-flask" aria-hidden="true"></i>
                    	{% trans "Áreas" %}
                    </a>
                    {% url 'admin:webpage' as webpage_view%}
                    <a class="clear {% if webpage_view == request.path%} selected {%endif%}" href="{{webpage_view}}">
						<i class="fa fa-globe" aria-hidden="true"></i>
                    	{% trans "Página Web" %}
                    </a>
                    {% url 'admin:gallery' as gallery_view%}
                    <a class="clear {% if gallery_view == request.path%} selected {%endif%}" href="{{gallery_view}}">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        {% trans "Galería de Fotos" %}
                    </a>
                    {% url 'admin:members' as members_view%}
                    <a class="clear {% if members_view == request.path%} selected {%endif%}" href="{{members_view}}">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        {% trans "Integrantes" %}
                    </a>
                    {% url 'admin:news' as news_view%}
                    <a class="clear {% if news_view == request.path%} selected {%endif%}" href="{{news_view}}">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        {% trans "Noticias" %}
                    </a>
                    {% url 'admin:events' as events_view%}
                    <a class="clear {% if events_view == request.path%} selected {%endif%}" href="{{events_view}}">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        {% trans "Eventos" %}
                    </a>
                </div>
                <img class="utfsm noselect" src="{% static 'intranet/images/utfsm_gray.png' %}">
			</div>
			<div class="intranet body"><div>{%block content%}{%endblock%}</div></div>
							 
		</section>
		<div class="bar">
			<div class="red""></div>
			<div class="green""></div>					
			<div class="yellow""></div>	
			<div class="blue""></div>	
		</div>	
	</body>
	<script>var helper_link = '{% url 'intranet:helper' 999 %}'; var document_link = '{% url 'intranet:document' 888 999 %}'</script>
	<script src="{% static 'intranet/js/shared_init.js' %}"></script>
</html>