{% load i18n %}
{% load staticfiles %}
<div class="title">
    <form id="invitation-form" class="title-form">
       {% csrf_token %}
       <input id="email-invitation" type="text" name="email" class="text search field" placeholder="{% trans 'Invitar usuarios' %}"/>
       <input id="submit-invitation" type="submit" class="submit trans search send" value="{% trans 'Enviar' %}"/>
    </form>
    <div style="display: inline-block;">
        <span>{% trans 'Ingresa las direcciones de correo electrónico separadas por coma ( , )' %}</span><br>
        <span id="invitation-error" class="error"></span>
    </div>
</div>

<div class="documents filters intranet box">
    <h3 class="setup-subtitle blue">{% trans "Usuarios Invitados" %}</h3>
    <ul class="setup-user-list">
        {% if not_registered %}
            {% for user in not_registered %}
                <li>
                    <div class="setup-user-invited-row invited">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="setup-user-name">
                            {{user.email}}
                        </div>
                    </div>
                    <div class="setup-invited-user-box">
                        <button class="setup-delete-invitation-box" user-id="{{ user.id }}" title="{% trans 'Eliminar' %}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="setup-invited-user-box">
                        <button class="setup-forward-box" user-email="{{ user.email }}" title="{% trans 'Reenviar' %}">
                            <i class="fa fa-mail-forward" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <h2>{% trans 'No hay usuarios invitados en el sistema' %}</h2>
        {% endif %}
    </ul>
</div>

<div class="documents filters intranet box">
    <h3 class="setup-subtitle green">{% trans "Usuarios Activos" %}</h3>
    <ul class="setup-user-list">
        {% if registered %}
            {% for user in registered %}
                <li>
                    <div class="setup-user-row active">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="setup-user-name">
                            {{user.first_name}} {{user.last_name}}
                        </div>
                        <div class="setup-user-email">
                            {{user.email}}
                        </div>
                    </div>
                    <div class="setup-user-box">
                        <button class="setup-block-box" user-id="{{ user.id }}" title="{% trans 'Bloquear' %}">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="setup-user-box">
                        <button class="setup-view-box" title="{% trans 'Ver' %}" data-target="{% url 'admin:profile' user.id %}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="setup-user-box">
                        <button class="setup-delete-box" user-full-name="{{user.first_name}} {{user.last_name}}" user-id="{{ user.id }}" user-count="{{user.doc_count}}" {% if user.profile_picture %} user-img="{% static user.filename %}" {% else %} user-img="{% static 'intranet/images/default.png' %}" {% endif%} title="{% trans 'Eliminar' %}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <h2>{% trans 'No hay usuarios activos en el sistema' %}</h2>
        {% endif %}
    </ul>
</div>

<div class="documents filters intranet box">
    <h3 class="setup-subtitle red">{% trans "Usuarios Bloqueados" %}</h3>
    <ul class="setup-user-list">
        {% if blocked %}
            {% for user in blocked %}
                <li>
                    <div class="setup-user-row blocked">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <div class="setup-user-name">
                            {{user.first_name}} {{user.last_name}}
                        </div>
                        <div class="setup-user-email">
                            {{user.email}}
                        </div>
                    </div>
                    <div class="setup-user-box">
                        <button class="setup-view-box" title="{% trans 'Ver' %}" data-target="{% url 'admin:profile' user.id %}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="setup-user-box">
                        <button class="setup-unblock-box" user-id="{{ user.id }}" title="{% trans 'Desbloquear' %}">
                            <i class="fa fa-circle-o" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="setup-user-box">
                        <button class="setup-delete-box" user-full-name="{{user.first_name}} {{user.last_name}}" user-id="{{ user.id }}" user-count="{{user.doc_count}}" {% if user.profile_picture %} user-img="{% static user.filename %}" {% else %} user-img="{% static 'intranet/images/default.png' %}" {% endif%} title="{% trans 'Eliminar' %}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <h2>{% trans 'No hay usuarios bloqueados en el sistema' %}</h2>
        {% endif %}
    </ul>
</div>

<div id="modal-curtain" class="curtain-hidden"></div>
<div id="modal-delete-confirm" class="modal-hidden">
    <div id="modal-content">
        <h3>{% trans "¿De verdad deseas eliminar a este usuario?" %}</h3>
        <div id="modal-user">
            <div id="modal-user-img"></div>
            <h4 id="modal-user-name"></h4>
        </div>
        <h3 id="modal-message">{% trans 'Ten en cuenta que este usuario posee <strong id="modal-user-count"></strong> documentos.' %}</h3>
        <div id="modal-btns">
            <button id="modal-confirm" user-id="">{% trans "CONFIRMAR" %}</button>
            <button id="modal-cancel">{% trans "CANCELAR" %}</button>
        </div>
    </div>
</div>

<script>users();</script>