{% extends 'admin/shared.html' %}
{% load i18n %}
{% load staticfiles %}
{% get_current_language as lang %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'intranet/css/vendor/cropper.min.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'admin/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'admin/vendor/tinymce/jquery.tinymce.min.js' %}"></script>
    <script src="{% static 'intranet/js/vendor/canvas-to-blob.min.js' %}"></script>
    <script src="{% static 'intranet/js/vendor/cropper.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="select-section-setup">
    <div id="webpage-section" class="title">
        <form class="title-form">
            <select id="section-select" required>
                <option selected disabled>{% trans "Selecciona una sección" %}</option>
                {% for section in sections %}
                    {% if lang == 'es' %}
                        <option value="{{ section.id }}">{{ section.spanish_name }}</option>
                    {% elif lang == 'en' %}
                        <option value="{{ section.id }}">{{ section.english_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>

    <div id="webpage-setup">
        <div class="documents filters intranet box webpage-setup-title">
            <h2>{% trans 'No has seleccionado una sección para editar' %}</h2>
        </div>
    </div>
</div>

<script>var reload = "{% url 'admin:webpage'%}"</script>
<script>var edit = "{% url 'admin:edit_section' 999 %}"</script>
<script>var edit_subsection = "{% url 'admin:edit_subsection' 999 %}"</script>
<script>var tinymce_css = "{% static 'usm_theme/css/style.css' %}, {% static 'admin/css/admin.css' %}"</script>
<script>
    var save_images_url = "{% url 'admin:save_images' %}";
    var upload_header_url = "{% url 'admin:upload_section_header' %}";
    var upload_thumbnail_url = "{% url 'admin:upload_category_image' %}";
    var csrf_token = '{{csrf_token}}';
    webpage_init();
</script>
{% endblock %}
