{% load i18n %}
{% load staticfiles %}

<form id="webpage-subsection-form" class="title-form">
    <select id="subsection-select" required>
        <option selected>Principal</option>
        <optgroup label="Sobre Nosotros">
            <option>Quiénes Somos</option>
            <option>Nuestra Historia</option>
            <option>Ubicación</option>
        </optgroup>
        <optgroup label="Cooperación Científica">
            <option>Nacional</option>
            <option>Internacional</option>
        </optgroup>
        <optgroup label="Investigación">
            <option>Áreas de Investigación</option>
            <option>Links de Interés</option>
            <option>Patentes</option>
            <option>Proyectos</option>
        </optgroup>
    </select>
</form>

<div class="documents filters intranet box webpage-setup-title">
    <h2>{% trans section.name %}</h2>
</div>

<div class="row">
    <div class="c12">
        <form id="webpage-edit-form" class="clear c12" action="">
            <div class="c6 documents filters intranet box editor-box">
                <div class="setup-webpage-list-container">
                    <ul class="setup-webpage-list">
                        <li>
                            <div class="setup-webpage-row">
                                <h3>{% trans 'Versión en Español' %}</h3>
                            </div>
                            <div class="setup-webpage-box">
                                <button type="button" id="spanish-edit-box" class="setup-edit-box" title="{% trans 'Editar' %}">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="setup-webpage-box setup-hidden">
                                <button type="button" id="spanish-accept-box" class="setup-accept-box" section-id="{{ section.id }}" title="{% trans 'Aceptar' %}">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="setup-webpage-box setup-hidden">
                                <button type="button" id="spanish-cancel-box" class="setup-cancel-box" title="{% trans 'Cancelar' %}">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="spanish-title-edit">
                    {{ section.spanish_title | safe }}
                </div>
                <div id="spanish-body-edit">
                    {% if section.spanish_body %}
                        {{ section.spanish_body | safe }}
                    {% else %}
                        <p class="s3 c9"></p>
                    {% endif %}
                </div>
            </div>
            <input id="spanishImageField" type="file" accept="image/png, image/jpeg" style="display: none" name="spanishImage">

            <div class="c6 documents filters intranet box editor-box">
                <div class="setup-webpage-list-container">
                    <ul class="setup-webpage-list">
                        <li>
                            <div class="setup-webpage-row">
                                <h3>{% trans 'Versión en Inglés' %}</h3>
                            </div>
                            <div class="setup-webpage-box">
                                <button type="button" id="english-edit-box" class="setup-edit-box" title="{% trans 'Editar' %}">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="setup-webpage-box setup-hidden">
                                <button type="button" id="english-accept-box" class="setup-accept-box" section-id="{{ section.id }}" title="{% trans 'Aceptar' %}">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="setup-webpage-box setup-hidden">
                                <button type="button" id="english-cancel-box" class="setup-cancel-box" title="{% trans 'Cancelar' %}">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="english-title-edit">
                    {{ section.english_title | safe }}
                </div>
                <div id="english-body-edit">
                    {% if section.english_body %}
                        {{ section.english_body | safe }}
                    {% else %}
                        <p class="s3 c9"></p>
                    {% endif %}
                </div>
            </div>
            <input id="englishImageField" type="file" accept="image/png, image/jpeg" style="display: none" name="englishImage">
        </form>
    </div>
</div>

<div id="modal-curtain" class="curtain-hidden loading-curtain">
    <i class="loader fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
</div>

<script>webpage();</script>

