{% load i18n %}
{% load staticfiles %}

<h2>{% trans section.name %}</h2>

<div class="row">
    <div class="c12">
        <form id="webpage-edit-form" class="clear c12" action="">
            <div class="c6">
                <ul class="setup-webpage-list">
                    <li>
                        <div class="setup-webpage-row">
                            <h3>{% trans 'Versión en Español' %}</h3>
                        </div>
                        <div class="setup-webpage-box">
                            <button type="button" id="spanish-edit-box" class="setup-edit-box" title="{% trans 'Editar' %}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="setup-webpage-box setup-hidden">
                            <button type="button" id="spanish-accept-box" class="setup-accept-box" section-id="{{ section.id }}" title="{% trans 'Aceptar' %}">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="setup-webpage-box setup-hidden">
                            <button type="button" id="spanish-cancel-box" class="setup-cancel-box" title="{% trans 'Cancelar' %}">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                </ul>
                <div id="spanish-title-edit">
                    {{ section.spanish_title | safe }}
                </div>
                <div id="spanish-body-edit">
                    {% if section.spanish_body %}
                        {{ section.spanish_body | safe }}
                    {% else %}
                        <p class="s3 c9"></p>
                    {% endif %}
                </div>
            </div>

            <div class="c6">
                <ul class="setup-webpage-list">
                    <li>
                        <div class="setup-webpage-row">
                            <h3>{% trans 'Versión en Inglés' %}</h3>
                        </div>
                        <div class="setup-webpage-box">
                            <button type="button" id="english-edit-box" class="setup-edit-box" title="{% trans 'Editar' %}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="setup-webpage-box setup-hidden">
                            <button type="button" id="english-accept-box" class="setup-accept-box" section-id="{{ section.id }}" title="{% trans 'Aceptar' %}">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="setup-webpage-box setup-hidden">
                            <button type="button" id="english-cancel-box" class="setup-cancel-box" title="{% trans 'Cancelar' %}">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                </ul>
                <div id="english-title-edit">
                    {{ section.english_title | safe }}
                </div>
                <div id="english-body-edit">
                    {% if section.english_body %}
                        {{ section.english_body | safe }}
                    {% else %}
                        <p class="s3 c9"></p>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modal-curtain" class="curtain-hidden"></div>
<div id="modal-delete-confirm" class="modal-hidden">
    <div id="modal-content">
        <h3>{% trans "¿De verdad deseas eliminar a este usuario?" %}</h3>
        <div id="modal-user">
            <div id="modal-user-img"></div>
            <h4 id="modal-user-name"></h4>
        </div>
        <h3 id="modal-message">{% trans 'Ten en cuenta que este usuario posee <strong id="modal-user-count"></strong> documentos.' %}</h3>
        <div id="modal-btns">
            <button id="modal-confirm" user-id="">{% trans "CONFIRMAR" %}</button>
            <button id="modal-cancel">{% trans "CANCELAR" %}</button>
        </div>
    </div>
</div>

<script>webpage();</script>

