{% extends 'admin/shared.html' %}
{% load i18n %}
{% load staticfiles %}
{% get_current_language as lang %}

{% block extra_js %}
    <script src="{% static 'admin/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'admin/vendor/tinymce/jquery.tinymce.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="select-section-setup">
    <div class="title" >
        <form id="invitation-form" class="title-form">
            <select id="section-select" required>
                <option selected disabled>{% trans "Selecciona una sección" %}</option>
                {% for section in sections %}
                    <option value="{{ section.id }}">{{ section.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div id="webpage-setup">
        <h1>{% trans 'No has seleccionado una sección para editar' %}</h1>
    </div>
</div>

<script>var reload = "{% url 'admin:webpage'%}"</script>
<script>var edit = "{% url 'admin:edit_section' 999 %}"</script>
<script>var tinymce_css = "{% static 'usm_theme/css/style.css' %}, {% static 'admin/css/admin.css' %}"</script>
<script>
    var save_images_url = "{% url 'admin:save_images' %}";
    var csrf_token = '{{csrf_token}}';
    webpage_init();
</script>
{% endblock %}
