.side{
	width: 20%;
	float: left;
}

.left-side{
	padding-right: 10px;
	box-sizing: border-box;
}

.body{
	padding-left: 10px;
	box-sizing: border-box;
	width: 80%;
	float: left;
}

.side-section{
	width: 100%;
	margin-bottom: 20px;
}

.side-section > ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.section-head{
    background-color: #0077ad;
}

.section-head > h3{
	font-weight: normal;
	color: white;
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

.section-row > a{
    text-decoration: none;
	width: 100%;
    padding: 10px;
    background-color: #F8F8F8;
    margin-top: 5px;
    font-size: 14px;
    color: black;
    display: block;
    box-sizing: border-box;
	transition: background-color .3s;
}

.section-row > a:hover{
	background-color: #E7E7E7;
	transition: background-color .3s;
}

.search-bar{
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 3px solid #006E9C;
	display: flex;
}

.search-bar > i{
	font-size: 20px;
	width: 5%;
	box-sizing: border-box;
	align-self: center;
	padding-right: 5px;
}

.search-bar > input[type="text"]{
	width: 90%;
	padding: 10px;
	font-size: 20px;
	border: none;
	box-sizing: border-box;
	text-align: right;
	outline: none;
}

.result{
	width: 100%;
}

.result > table{
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
}

.result > table td{
	padding: 15px 20px;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
  	text-overflow: ellipsis;
  	overflow: hidden;
}

.result > table tr{
	transition: background-color .3s;
	font-size: 13px;
}

.result > table tr:hover{
	background-color: #F0F0F0;
	transition: background-color .3s;
}

.result > table tr:nth-child(even){
	background-color: #F8F8F8;
}

.result > table tr:nth-child(even):hover{
	background-color: #F0F0F0;
}

.result > ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.result > ul > li{
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	transition: background-color .3s;
	cursor: pointer;
}

.result > ul > li:nth-child(2n+1){
	background-color: #F8F8F8;
}

/*Search*/

.result > ul > li > h4{
	margin: 0px;
}

.result > ul > li > span{
	margin: 0px;
	font-size: 13px;
    color: #009065;
}

.result > ul > li > p{
	margin: 0px;
	font-size: 13px;
}

.result > ul > li:hover{
	background-color: #F0F0F0;
	transition: background-color .3s;
}

@media screen and (max-width: 700px){
	.body{
		width: 100%;
		padding: 0;
	}

	.side{
		width: 100%;
		padding: 0;
	}

	.search-bar > input{
		width: 70%;
	}

	.search-bar > i{
		width: 10%;
	}

	.col5, .col4{
		display: none;
	}
}