html{
	height: 100%;
}

body{
	height: 100%;
    overflow: hidden;
}
#bottom-header{
	/*background-image: linear-gradient(to bottom, rgba(0, 110, 156, 0.5), rgba(0, 110, 156, 0.5)), url('/static/shared/images/gradiente.png');*/
}

#top-wrapper{
	padding: 8px 0px;
    display: flex;
    position: relative;
}

#top-wrapper > #logo{
    display: inline-flex;
    max-width: 226px;
    justify-content: center;
    width: 40%;
    box-sizing: border-box;
}

#top-wrapper > #logo:after{
    content: "";
    display: table;
    clear: both;
}

#top-wrapper > #logo > img{
    height: 32px;
    align-self: center;
}

.search-bar{
	background: #F2AE47;
    max-width: 700px;
    display: inline-flex;
    width: 60%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.search-bar > i{
	font-size: 20px;
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    align-self: center;
    cursor: pointer;
    text-align: center;
}

.search-bar > input[type="text"]{
	width: 90%;
    padding: 7px;
    font-size: 20px;
    border: none;
    color: #777;
    background: #E9EDF0;
    box-sizing: border-box;
    text-align: right;
    outline: none;
    border-radius: 0;
    height: 100%;
}

#helper-wrapper{
    position: absolute;
    max-width: 700px;
    width: 60%;
    left: 226px;
    border: 1px solid #ECECEC;
    top: 46px;
    background-color: #FFF;
    max-height: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 99;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

#helper-wrapper > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#helper-wrapper a{
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #ECECEC;
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: background-color .3s;
    color: #777;
}

#helper-wrapper a:hover{
    background-color: #E7E7E7;
    transition: background-color .3s;
}

#helper-wrapper h4, #helper-wrapper h6{
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: normal;
}

#content-wrapper{
    height: 100%;
    display: inline-flex;
    width: 100%;
}

#content-grid{
	width: 100%;
	height: 100%;
}

#intranet-content{
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

#left-menu{
	width: 40%;
    max-width: 226px;
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    background-color: #F8F8F8;
}

.menu-section{
	width: 100%;
    margin-bottom: 20px;
}

.menu-section > ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.section-head{
    background-color: #0077ad;
}

.section-head > h3{
	font-weight: normal;
	color: white;
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

.section-row > a{
    text-decoration: none;
    width: 100%;
    padding: 12.5px 10px;
    font-size: 14px;
    color: black;
    border-bottom: 3px solid #F3F3F3;
    display: block;
    box-sizing: border-box;
    transition: background-color .3s;
}

.selected{
    background-color: #E7E7E7;
}

.rsp-selected{
    background-color: #016592;
}

.section-row > a:hover{
	background-color: #E7E7E7;
	transition: background-color .3s;
}

#page-body{
	padding: 0 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    min-width: 750px;
}

#main-wrapper{
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.responsive-menu-open-v2{
    height: 335px;
}

@media screen and (max-width: 980px){
    #left-menu{
        display: none;
    }
    #page-body{
        min-width: inherit;
    }
}

@media screen and (max-width: 770px){
    #top-wrapper{
        display: block;
    }
    .search-bar{
        display: flex;
        width: 90%;
        margin: 5px auto;
    }
    #top-wrapper > #logo{
        display: flex;
        max-width: inherit;
        width: 100%;
    }
    #top-wrapper > #logo > img{
        margin: 0 auto;
    }
    #resp-btn-menu{
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 7px;
    }
    #helper-wrapper{
        top: 84px;
        width: 90%;
        left: 5%;
    }

}