#upload-list{
	/*max-width: 780px;*/
	margin: 0 auto;
    list-style: none;
    padding: 0;
}
.upload-row {
	padding: 10px;
    font-size: 16px;
    height: 45px;
    box-sizing: border-box;
}

.upload-row > label{
}

.upload-row:nth-child(2n+1){
	background-color: #F8F8F8;
}

.upload-row > select{
	float: right;
	border: none;
	padding: 0 10px;
	outline: none;
	font-size: 20px;
    font-size: 13px;
	color: white;
	height: 100%;
	color: #777;
	background-color: white;
	width: 300px;
	border: 2px solid #EFEFEF;
	box-sizing: border-box;
}

.upload-row > select > option{
	padding: 10px ;
}

.upload-row > select > option:hover{
	background-color: black;
}

.upload-row > input{
	float: right;
}

.upload-row > i{
	float: right;
}

.upload-row > input[type="text"], .upload-row > input[type="date"]{
	width: 300px;
	border: none;
	padding: 5px;
	outline: none;
	color: rgb(119, 119, 119);
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #EFEFEF;
	height: 100%;
}

#upload-frame{
    background-color: #F8F8F8;
	padding: 20px;
	text-align: center;
	border: 2px solid #F2AE47;
}

#upload-frame > h3{
	font-weight: normal;
}

#document-row{
	display: inline-table;
	width: 100%;
}

#document-row > label{
	float: left;
}

#plus-circle{
	float: right;
	height: 24.8px;
	width: 24.8px;
	box-sizing: border-box;
	border-radius: 40px;
	border: 1px solid #D3D3D3;
	overflow: hidden;
	transition: width 1s;
}

#plus-circle > div{
	width: 24.8px;
	height: 24.8px;
	float: left;
	display: table;
	text-align: center;
	position: relative;
	left: -1px;
	top: -1px;
	float: left;
}

#plus-circle > div > span{
	display: table-cell;
	vertical-align: middle;
	color: rgb(119, 119, 119);
	position: relative;
	transition: transform 1s;
	cursor: pointer;
}


#plus-circle > span{
	white-space: nowrap;
	display: flex;
}

.plus-circle-open{
	width: 300px !important;
	transition: width 1s;
}

.circle-rotate{
	transform:rotate(-585deg);
	transition: transform 1s;
}

#submit-btn{
	background-color: #ee8755;
    border: none;
    color: white;
    padding: 10px 30px;
    font-weight: normal;
    border-radius: 3px;
    cursor: pointer;
   	margin: 12px 0;
    transition: background-color 0.3s;
    font: 400 normal 15px/1.5 'Source Sans Pro', sans-serif;
}

#submit-btn:hover{
	transition: all 0.3s;
    background-color: #0077ad;
}

.read-only{
	background-color: #EBEBE4;
}

/************NEW************/

#upload-selector-container{
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.upload-selector{
	width: 50%;
	height: 80px;
	float: left;
	padding: 10px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	cursor: pointer;
    transition: .2s ease-in-out;

}

.upload-selector:hover{
    background-color: #f4f8f9;
    transition: .2s ease-in-out;
}

.upload-selector > *{
	align-self: center;
}

.upload-selector > i{
	color: #E0424E;
	font-size: 55px;
}

.upload-selector > h5{
	width: 70%;
	text-align: right;
	padding: 0px 10px;
	box-sizing: border-box;
}

.upload-selector > img{
	width: 100%;
}

.upload-selector:nth-child(1){
	border-right: 1px solid #F1F1F1;
}

.unselect{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
    background-color: #f4f8f9;
}


.upload-body{
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.upload-body > #add-btn{
	background-color: #009065;
	border-radius: 3px;
	color: white;
	padding: 10px 20px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s;
}

.upload-body > #add-btn:hover{
	transition: all 0.3s;
    background-color: #0077ad;
}

.document-frame{
	border-radius: 3px;
    width: 100%;
    /*background-color: #f4f8f9;
    padding: 20px;*/
    box-sizing: border-box;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
}

.frame-header{
	top: 0;
    width: 100%;
    left: 0;
	height: 30px;
	background-color: #E0E0E0;
}

.close-btn{
	float: right;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #777;
	outline: none;
	font-size: 15px;
	height: 100%;
}

.frame-title{
	margin: 0 10px;
	font-weight: normal;
	float: left;
	line-height: 30px;
	height: 30px;
	font-size: 15px;
}

.frame-data{
	list-style: none;
	margin: 0;
	padding: 0;
}

.frame-data > li{
	padding: 5px 10px;
    /*border-bottom: 1px solid #ECECEC;*/
    margin: 5px 0px;
    background-color: #F8F8F8;
    margin: 5px 0px;

}

.frame-data > li > input{
	float: right;
    border: none;
    background-color: transparent;
    color: #777;
    text-align: right;
    outline: none;
    width: 250px;
}

@media screen and (max-width:500px){
	.upload-row > select{
		width: 100%;
	}
	.upload-row > input[type="text"]{
		width: 100%;
	}

	.plus-circle-open{
		width: 100% !important;
	}

}

@media screen and (max-width:770px){
	.upload-row{
		height: auto;
		max-height: 90px;
	}
}