#users-container{
	display: table;
}

#users-container > a{
	text-decoration: none;
	color: inherit;
}

.user-wrapper{
	width: 260px;
    height: 273px;
    margin: 0px 38px;
	float: left;
	margin-bottom: 20px;
	box-sizing: border-box;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}


.user-header{
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.user-background{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.user-background > img{
	width: 110%;
	align-self: center;
}

.user-header > img{
	position: relative;
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	height: 140px;
	/*top: -145px;*/
}

.user-body{
	width: 100%;
	height: 123px;
	position: relative;
}

.user-body > h4{
	width: 100%;
	text-align: center;
	margin: 0;
}

.user-body > h5{
	width: 100%;
    font-size: 10px;
    text-align: center;
    margin: 0;
    font-weight: normal;
}


.user-body > table{
	width: 100%;
	position: absolute;
	table-layout: fixed;
	padding: 0px;
	bottom: 0px;
	border-spacing: 0;
}

.user-body > table  td{
	text-align: center;
    box-sizing: border-box;
    padding: 11px;
    position: relative;
}

.user-body > table td > h4{
	width: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    text-shadow: 2px 0px 0px white, -2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white;
}

.user-body > table td:nth-child(1) > h4{
    font-size: 35px;	
    top: 9px;
}

.user-body > table td:nth-child(2) > h4{
	font-size: 15px;
    top: 20px;
}

.user-body > table td > span{
	white-space: nowrap;
}

.user-body > table  td > i{
    font-size: 31px;	
}

.user-wrapper:nth-child(4n-3){
	border-bottom: 2px solid #e0424e;
}

.user-wrapper:nth-child(4n-2){
	border-bottom: 2px solid #009065;
}

.user-wrapper:nth-child(4n-1){
	border-bottom: 2px solid #f2ae47;
}

.user-wrapper:nth-child(4n){
	border-bottom: 2px solid #006e9c;
}