{% load i18n %}
<div class="s1 c10 upload file  animation enter down" doc-index="$index">
	<div class="intranet box">
		<div class="subwrapper">
			<div class="c3">
				<img src="$thumbnail">
			</div>
			<div class="c9">
				<div class="c12 upload file field">
					<div class="c3">
						<strong>{% trans "Título" %}:</strong>
					</div>
					<div class="c9">
						<div class="upload crossrefWrapper">
							<input type="text" class="field text" value="$title" field-name="title" doc-index="$index" name="title$index" placeholder="{% trans 'Ej: Tesis de microbiología' %}" autocomplete="off" required>
							<!-- crossref -->
							<div class="upload crossref hidden" doc-index="$index">
								<div class="upload records">
									<div class="upload records topbar">
										<!--  Cabecera del cuadro -->
										<i class="upload fa fa-check" doc-index="$index" aria-hidden="true"></i>
										<i class="upload loader fa fa-circle-o-notch fa-spin fa-3x fa-fw" doc-index="$index"></i>
										<button doc-index="$index"><i class="fa fa-times" aria-hidden="true"></i></button>
									</div>
									<div class="upload records list">
										<ul class="upload records root" doc-index="$index">
										<!-- Lista de sugerencias -->
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>{% trans "Autor" %}:</strong>
					</div>
					<div class="c9">
						<input type="text" class="field text" value="$author" name="author$index" placeholder="{% trans 'Ej: Juan Pérez' %}" required>
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>{% trans "Fecha de creación" %}:</strong>
					</div>
					<div class="c9">
						<input type="text" class="field text date" value="$date" placeholder="dd-mm-aaaa" name="date$index" required readonly>
						<script>$('.date[type="text"]').datepicker({firstDay: 1,dateFormat: 'dd-mm-yy'});</script>
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>{% trans "DOI" %}:</strong> 
					</div>
					<div class="c9">
						<input type="text" class="field text" name="doi$index" placeholder="Ej: 10.1109/ms.2006.34">
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>{% trans "ISSN" %}:</strong> 
					</div>
					<div class="c9">
						<input type="text" class="field text" name="issn$index" placeholder="{% trans 'No requerido' %}">
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>{% trans "Páginas" %}:</strong> 
					</div>
					<div class="c9">
						<input type="text" class="field text" name="pages$index" placeholder="{% trans 'No requerido' %}">
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>{% trans "Área" %}:</strong>
					</div>
					<div class="c9">
						<select name="category$index" class="field" required>
							<option value="" disabled selected>{% trans "Selecciona una categoría" %}</option>
							{% for area in areas %}
								<optgroup label="{{ area.name }}">
									{% for subarea in area.get_sub_areas %}
										<option value="{{ subarea.id }}"> {{ subarea.name }}</option>
									{% endfor %}
								</optgroup>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="c12 upload file field">
					<div class="c3">
						<strong>{% trans "Privacidad" %}:</strong> 
					</div>
					<div class="c9">
						<select class="type-select field" name="type$index" required>
								<option value="" disabled selected>{% trans "Selecciona privacidad" %}</option>
								<option value="0">{% trans "Interno" %}</option>
								<option value="1">{% trans "Público" %}</option>
							</select>
					</div>
				</div>
				<div class="c12 upload file field abstract">
					<div class="c3">
						<strong>{% trans "Resumen" %}:</strong> 
					</div>
					<div class="c9">
						<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" doc-index="$index"></i>
						<textarea  name="abstract$index" disabled required></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>