{% load staticfiles %}
{% load i18n %}
<!-- Google font -->
<link href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
<div class="intranet row upload title">
	<div class="c12">
		<h1 class="upload drive logo">Googl<span class="e">e</span> Drive</h1>
		<h4 class="erasable">Puedes proporcionar un enlace de Google Drive o buscar entre tus archivos</h4>
	</div>
</div>
<div class="intranet row">
<div class="upload drive loading hidden">
	<div>
		<div class="red"></div>
		<div class="green"></div>
		<div class="yellow"></div>
		<div class="blue"></div>
	</div>
</div>
	<form class="upload drive form erasable">
		<input class="text link" type="text" name="link" placeholder="Introduce en enlace a Google Drive">
		<h5 class="message"></h5>
	</form>
</div>

<div class="intranet row">
	<span class="erasable">O selecciona un documento desde tu cuenta:</span>
	<div class="intranet box upload drive plus">
		<button class="upload drive btn">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle-thin fa-stack-2x"></i>
				<i class="fa fa-plus" aria-hidden="true"></i>
			</span>	
		</button>
		<div class="upload drive user">
			<ul class="upload drive list">
				
			</ul>
		</div>
	</div>	
</div>

<script src="{% static 'intranet/js/drive_upload.js' %}"></script>