{% load staticfiles %}
{% load i18n %}

<div class="intranet row">
	<div class="c12">
		<div class="intranet box">
			<div class="upload head">
				<h1>{% trans 'Subida local de documentos' %}</h1>
				<h4>{% trans 'Selecciona desde tus archivos locales los documentos que deseas subir' %}</h4>
			</div>
		</div>
	</div>
</div>
<div class="intranet row">
		<div class="c6">
			<div class="intranet box">
				<button class="c12 upload button add hover trans">{% trans 'Agregar Documento' %}</button>
			</div>	
		</div>
		<div class="c6">
			<div class="intranet box">
				<button class="c12 upload button send hover trans disabled" disabled="true">{% trans 'Enviar Documentos' %}</button>
			</div>			
		</div>
</div>
<input id="input-files" type="file" accept="application/pdf" style="display: none" multiple>
<div class="intranet row upload files">
	<form id="form">
		{% csrf_token %}
		<span class="upload message"></span>
		<!-- Aqui se agregan los formularios de cada documento -->
		<div class="upload empty">
			<img src="{% static 'intranet/images/directorio_vacio.png' %}">
			<h3>{% trans 'No has agregado documentos' %}</h3>
		</div>
	</form>
</div>
<script>var template_url = "{% url 'intranet:local_form' %}";</script>
<script src="{% static 'intranet/js/local_upload.js' %}"></script>
<script src="{% static 'intranet/js/crossref.js' %}"></script>