{% load staticfiles %}
{% load i18n %}
<div class="intranet row upload title">
	<div class="c12">
		<h1>Subida local de documentos</h1>
		<h4>Selecciona desde tus archivos locales los documentos que deseas subir</h4>
	</div>
</div>
<div class="intranet row">
		<button class="c6 upload button add hover trans">Agregar Documento</button>	
		<button class="c6 upload button send hover trans disabled" disabled="true">Enviar Documentos</button>
</div>
<input id="input-files" type="file" accept="application/pdf" style="display: none" multiple>
<div class="intranet row upload files">
	<form id="form">
		{% csrf_token %}
		<span class="upload message"></span>
		<!-- Aqui se agregan los formularios de cada documento -->
		<div class="upload empty">
			<img src="{% static 'intranet/images/directorio_vacio.png' %}">
			<h3>No has agregado documentos</h3>
		</div>
	</form>
</div>
<script src="{% static 'intranet/js/local_upload.js' %}"></script>