{% extends 'shared/base.html' %}

{% block content %}

<div class="grid row">
	<div id="content">
		<div class="login-row">
			<h1>Ingresar al sistema</h1>
			<span>Ingresa tus datos para acceder a la base de datos de Labmmba</span>
			<form action="{% url 'login' %}" method="POST">
				<div class="row">
					<div class="login-input">
						<span>Correo electronico</span>
						<input type="text" name="email" required>						
					</div>
					<div class="login-input">
						<span>Contraseña</span>
						<input type="password" name="password" required>						
					</div>
					<div class="login-input">
						<input type="submit" value="Enviar">						
					</div>
				</div>
				{% csrf_token %}

			</form>
			<div id="lower-bar">
				<div id="red-bar" class="bar"></div>
				<div id="green-bar" class="bar"></div>					
				<div id="yellow-bar" class="bar"></div>	
				<div id="blue-bar" class="bar"></div>	
			</div>
		</div>
		<div class="login-row row grid">
			<span>¿No posees cuenta?. Registrate <a class="simple-link" href="{% url 'signup' %}">aquí</a></span>
		</div>
	</div>
</div>
{% endblock %}