{% extends 'shared/base.html' %}

{% block content %}
{% load i18n %}

<div class="grid row">
	<div id="content">
		<div class="login-row">
			<h1>{% trans "Ingresar al sistema" %}</h1>
			<span>{% trans "Ingresa tus datos para acceder a la base de datos de Labmmba" %}</span>
			<form action="{% url 'login' %}" method="POST">
				<div class="row">
					<div class="login-input">
						<span>{% trans "Correo electronico" %}</span>
						<input type="email" name="email" required>						
					</div>
					<div class="login-input">
						<span>{% trans "Contraseña" %}</span>
						<input type="password" name="password" required>						
					</div>
					<div class="login-input">
						<input type="submit" value="Enviar">
						{% if message %}
							<h5 class="message-{{ message.type }}">{{ message.content }}</h5>
						{% endif %}						
					</div>
				</div>
				{% csrf_token %}

			</form>
		</div>
		<div class="login-row row grid">
			<span>{% trans "¿No posees cuenta?. Registrate" %} <a class="simple-link" href="{% url 'signup' %}">{% trans "aquí" %}</a></span>
		</div>
	</div>
</div>
{% endblock %}