{% extends 'shared/base.html' %}

{% block content %}
{% load i18n %}

<section id="content" class="wfull">
	<div class="grid">
		<div class="row">
			<div class="s3 c6">
				<h2>{% trans "Ingresar al sistema" %}</h2>
				<p>{% trans "Ingresa tus datos para acceder a la base de datos de LABMMBA" %}</p>
				<form class="clear c12" action="{% url 'login' %}" method="POST">
					{% csrf_token %}
                    <div class="row">
                        <div class="c12"><input type="email" name="email" class="text" value="{{ email }}" placeholder="{% trans 'Correo electrónico' %}" required/></div>
                    </div>
                    <div class="row">
                        <div class="c12"><input type="password" name="password" class="text" placeholder="{% trans 'Contraseña' %}" required /></div>
                    </div>
                    <div class="row">
                        <div class="c12"><input type="submit" class="submit trans" value="{% trans 'Enviar' %}"/></div>
                        {% if message %}
							<span class="error">{{ message.content }}</span>
						{% endif %}	
                    </div>
                </form>
                <span>
                	{% url 'recover_password' as url %}
	                {% blocktrans with url=url %}
	                	¿Has olvidado tu contraseña? Haz <a href="{{url}}">click aquí</a>
	                {% endblocktrans %}
                </span>
			</div>
		</div>
	</div>
</section>
{% endblock %}