{% extends 'shared/base.html' %}

{% block content %}
{% load i18n %}

<section id="content" class="wfull">
	<div class="grid">
		<div class="row">
			<div class="s1 c10">
				<h2>{% trans "Registro" %}</h2>
				<p>{% trans "Crea una cuenta de usuario en el sistema LABMMBA" %}</p>
				<form class="clear c12" action="{% url 'register' %}" method="POST">
					{% csrf_token %}
                         <input type="hidden" name="access_token" value="{{ token }}">
					<div class="row">
                             <div class="c6"><input value="{{ user.email }}" type="email" name="email" class="text" placeholder="{% trans 'Correo electrónico' %}" required readonly/></div>
                             <div class="c6"><input type="text" name="institution" class="text" placeholder="{% trans 'Institución' %}" required/></div>
                         </div>
                         <div class="row">
                         	<div class="c6"><input type="text" name="first_name" class="text" placeholder="{% trans 'Nombre' %}" required/></div>
                         	<div class="c6">
                                   <select name="country" required>
                                        <option selected disabled> {% trans 'Selecciona un país' %}</option>
                                        {% include 'login/countries.html' %}
                                   </select>
                              </div>
                         </div>
                         <div class="row">
                         	<div class="c6"><input type="text" name="last_name" class="text" placeholder="{% trans 'Apellido' %}" required/></div>
                         	<div class="c6">
                         	<select name="area" required>
     						<option selected disabled>{% trans "Selecciona un área" %}</option>
     						{% for area in areas %}
                                        <optgroup label="{{ area.name }}">
                                             {% for subarea in area.get_sub_areas %}
                                                  <option value="{{ subarea.id }}"> {{ subarea.name }}</option>
                                             {% endfor %}
                                        </optgroup>
                                   {% endfor %}
     					</select>
                         	</div>
                         </div>
                         <div class="row">
                         	<div class="c6"><input type="password" name="password" class="text" placeholder="{% trans 'Contraseña' %}" required/></div>
                         	<div class="c6"><input type="text" name="career" class="text" placeholder="{% trans 'Carrera' %}" required/></div>
                         </div>
                         <div class="row">
                         	<div class="s6 c6"><input type="submit" class="submit trans" value="Enviar"/></div>
                         	{% if message %}
     							<p class="error">{{ message.content }}</p>
     						{% endif %}	
                         </div>
				</form>
			</div>
		</div>
	</div>
</section>


{% endblock %}