{% extends 'shared/base.html' %}

{% block content %}
{% load i18n %}

<div class="grid row">
	<div id="content">
		<div class="signup-row">
			<h1>{% trans "Registro" %}</h1>
			<span>{% trans "Crea una cuenta de usuario en el sistema Labmmba" %}</span>
			{% if message %}
				<h5 class="message-{{ message.type }}">{{ message.content }}</h5>
			{% endif %}		
			<form action="{% url 'signup' %}" method="POST">
				<div id="left-form">
					 <div class="row">
						<div class="login-input">
							<span>{% trans "Correo electronico" %}</span>
							<input type="text" name="email" required>						
						</div>
						<div class="login-input">
							<span>{% trans "Nombre" %}</span>
							<input type="text" name="first_name" required>						
						</div>
						<div class="login-input">
							<span>{% trans "Apellido" %}</span>
							<input type="text" name="last_name" required>						
						</div>
						<div class="login-input">
							<span>{% trans "Contraseña" %}</span>
							<input type="password" name="password" required>						
						</div>
					</div>
				</div>
				<div id="right-form">
					<div class="row">
						<div class="login-input">
							<span>{% trans "Institución" %}</span>
							<input type="text" name="institution" required>						
						</div>
						<div class="login-input">
							<span>{% trans "Pais" %}</span>
							<input type="text" name="country" required>						
						</div>
						<div class="login-input">
							<span>{% trans "Area" %}</span>
							<select class="select" name="area" required>
								<option selected disabled>{% trans "Selecciona un area" %}</option>
								{% for area in areas %}
									<option value="{{ area.id }}">{{ area.name }}</option>
								{% endfor %}
							</select>				
						</div>
						<div class="login-input">
							<span>{% trans "Carrera" %}</span>
							<input type="text" name="career">						
						</div>
					</div>
				</div>
				<div class="login-input signup-submit">
					<input type="submit" value="Enviar">						
				</div>
				{% csrf_token %}
			</form>
			<div id="lower-bar">
				<div id="red-bar" class="bar"></div>
				<div id="green-bar" class="bar"></div>					
				<div id="yellow-bar" class="bar"></div>	
				<div id="blue-bar" class="bar"></div>	
			</div>
		</div>
	</div>
</div>

{% endblock %}