@import "shared/constants.less";

.profile{
	&.networks{
		text-align: center;
		font-size: 20pt;
		width: 100%;
		& > *{
			display: inline-block;
			margin: 0 auto;
			position: relative;
			& > a{
				text-decoration: none;
			}

		}
	}
	&.separator{
		margin: 9px auto;
	    margin-bottom: 0px;
	    width: 85%;
	    border-top: 1px solid #d2d2d2;
	}
	&.picture{
	    background-color: @fields-background;
	    overflow: hidden;
	    & > div{
		    width: 100%;
		    display: flex;
		    &:nth-child(1){
			    @media @smartphones-700{
			    	position: relative;
			    	display: block;
			    }
			}
		    & img{
		    	align-self: center;
		    	width: 150px;
		    	border-radius: 50%;
				box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.4);
		    }
		}
	}
	&.info{
		max-height: 500px;
		& .documents{
			& li{
				padding: 0px;
				display: flex;
				height: 80px;
				position: relative;
			}
			& .body{
				padding: 12px;
				width: 100%;

				& a{
					display: block;
					
					& > span{
						font-size: 8pt;
						top: -5px;
						position: relative;
						display: block;
					}
				}
				& h3{
					font-weight: normal;
				}
			}
			& .btn{
				width: 50px;
				height: 100%;
				display: flex;
				justify-content: center;

				& button{
					align-self: center;
					background-color: transparent;
					width: 100%;
					height: 100%;
					border: none;
				}
			}
			& .options{
				z-index: 99;
				position: absolute;
				right: 0px;
				height: 100%;
				width: 0px;
				background-color: #e7e7e7;
				overflow: hidden;
				top: 0px;
				//box-shadow: -4px 0px 15px rgba(0, 0, 0, 0.3);
				& > div{
					height: 100%;
					width: 80px;
					position: absolute;
					& button, & a{
					    height: 100%;
					    display: block;
					    text-decoration: none;
					    width: 100%;
					    text-align: center;
					    font-size: 22pt;
					    border: none;
					    & i{
					    	line-height: 80px;
					    }
					}
					&:nth-child(1){
						right: 0px;
						& button, & a{
							background-color: @red-color;
							& i{
								color: lighten(@red-color, 30%);
							}
						}
					}
					&:nth-child(2){
						right: 80px;
						& button, & a{
							background-color: @yellow-color;
							& i{
								color: lighten(@yellow-color, 30%);
							}
						}						
					}
					&:nth-child(3){
						right: 160px;
						& button, & a{
							background-color: @green-color;
							& i{
								color: lighten(@green-color, 30%);
							}
						}
					}
				}
			}
		}
	}
	&.field{
		& .c6{
			padding: 0px 20px !important;
		}
		@media @smartphones-700{
			margin-bottom: 20px !important;
			& .c12{
				padding: 0px !important;
			}
		}
		& h5{
			position: absolute;
		    color: @red-color;
		    margin: 0;
		    font-weight: normal;
		}
	}
	&.btn{
		& > a{
		    background-color: #80a0b8 !important;
		    width: 100%;
		    color: white !important;
		    display: block;
		    text-align: center;
		    padding: 5px;
		}
	}
	&.modal{
		@media @smartphones-700{
			padding: 0px;
		}
	}

	&.cropper{
		height: 100%;
		position: relative;
		& > button{
			position: relative;
			width: 100%;
			height: 100%;
			background-color: transparent;
			border: none;
			color: #777;
			& > i{
				font-size: 40pt;
			}
			& > h5{
				margin: 0;
				font-weight: normal;
			}
		}
		& > .editor{
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column; 
			display: -webkit-flex;
			-webkit-flex-direction: column;
			overflow: hidden;
		    border-radius: 10px;
		    position: relative;

			& .header{
				& > *{
					background-color: transparent;
					border: none;
					display: inline-block;
					padding: 5px;
					color: white;
					transition: background-color .3s ease;
				}
				& #changeImage{
					background-color: @blue-color;
					&:hover{
						background-color: lighten(@blue-color, 10%);
					}
				}

				& #sendImage{
					background-color: @yellow-color;
					&:hover{
						background-color: lighten(@yellow-color, 10%);
					}
				}
			}

			& .profile.image{
				height: 200px;
				display: block;
				background-color: @fields-background;
				& > * {
					margin: 0 auto;
					height: 200px;
					width: 200px;
					border-radius: 50%;
					overflow: hidden;
					box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.4);
					& > img{
						max-width: inherit;
					}
				}
				@media @smartphones-700{
					display: none;
				}
			}
			& .crop{
				height: 100%;
				display: flex;
				flex: 1;
				& img{
					height: 100%
				}
			}
		}
	}.cropper-view-box, .cropper-face {
	border-radius: 50%;
}
}


.linkDrive{
	position: relative;
    overflow: hidden;
    & img{
    	position: absolute;
	    width: 60px;
	    top: -6px;
	    opacity: 0.2;
	    left: -7px;
    }
    & a{
    	float: right;
    }
    & .email{
	    white-space: nowrap;
	    overflow: hidden;
	    width: 65%;
	    display: inline-block;
	    margin: 0;
	    text-overflow: ellipsis;
    }
}

#successModal{
	position: relative;
	& h3{
		height: 100px;
		line-height: 100px;
		margin: 0; 
		text-align:center;
		font-weight: normal;
    	font-size: 22pt;
	}
	& i{
		position: absolute;
		width: 100%;
	    text-align: center;
	    height: 100%;
	    line-height: 100px;
	    font-size: 107pt;
	    opacity: 0.1;
	    right: 0;
	    color: @green-color;
	}
}
#errorModal{
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
	& h3{
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		font-weight: normal;
	}
	& i{
		position: absolute;
		width: 100%;
	    text-align: center;
	    height: 100%;
	    line-height: 100px;
	    font-size: 107pt;
	    opacity: 0.1;
	    right: 0;
	    color: @red-color;
	}
}