@import "shared/constants.less";

@keyframes exit_up{
	0%{
		opacity: 1;
		transform: translateY(0px);
	}
	100%{
		opacity: 0;
		transform: translateY(-10px);
	}

}
@keyframes enter_up{
	0%{
		visibility: hidden;
		opacity: 0;
		transform: translateY(10px);
	}
	100%{
		visibility: visible;
		opacity: 1;
		transform: translateY(0px);
	}

}

@keyframes enter_down{
	0%{
		opacity: 0;
		transform: translateY(-10px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}

}

@keyframes loading_red{
	0%{
		width: 0%;
	}
	14%{
		width: 100%;
	}
	28%{
		width: 100%;
	}
	42%{
		width: 100%;
	}
	56%{
		width: 100%
	}
	70%{
		width: 0%;
	}
	84%{
		width: 0%;
	}
	98%{
		width: 0%;
	}
	100%{
		width: 0%
	}
}

@keyframes loading_green{
	0%{
		width: 0%;
	}
	14%{
		width: 0%;
	}
	28%{
		width: 100%;
	}
	42%{
		width: 100%;
	}
	56%{
		width: 100%
	}
	70%{
		width: 100%;
	}
	84%{
		width: 0%;
	}
	98%{
		width: 0%;
	}
	100%{
		width: 0%
	}
}

@keyframes loading_yellow{
	0%{
		width: 0%;
	}
	14%{
		width: 0%;
	}
	28%{
		width: 0%;
	}
	42%{
		width: 100%;
	}
	56%{
		width: 100%
	}
	70%{
		width: 100%;
	}
	84%{
		width: 100%;
	}
	98%{
		width: 0%;
	}
	100%{
		width: 0%
	}
}

@keyframes loading_blue{
	0%{
		width: 0%;
	}
	14%{
		width: 0%;
	}
	28%{
		width: 0%;
	}
	42%{
		width: 0%;
	}
	56%{
		width: 100%
	}
	70%{
		width: 100%;
	}
	84%{
		width: 100%;
	}
	98%{
		width: 100%;
	}
	100%{
		width: 0%
	}
}

@keyframes loading_background{
	0%{
		background-color: transparent;		
	}
	25%{
		background-color: transparent;		
	}
	50%{
		background-color: transparent;		
	}
	75%{
		background-color: transparent;
	}
	100%{
		background-color: @blue-color;
	}
}



.upload{
	position: relative;
	&.selector{
		position: absolute;
	}

	&.message{
	    width: 100%;
	    position: relative;
	    display: block;
	    text-align: center;
	    color: #e0424e;
	    padding: 5px;

	}

	&.empty{
		position: absolute;
    	width: 100%;
	}

	&.section{
		width: 100%;
		position: absolute;
	}

	&.head{
		padding: 6.5px 15px;
		text-align: center;
		& h1{
			margin: 0;
		}
		& h4{
			margin: 0;
			font-weight: normal;
		}

		@media @smartphones-700{
			& h1{
				font-size: 16pt;
			}

			& h4{
				font-size: 6pt;
			}
		}
	}

	&.button{
		background: none;
		padding: 10px;
		border: none;

		&.add{
			background-color: lighten(@blue-color, 5%);
			color: #fff;

			&:hover{
				background-color: darken(@blue-color, 5%);
			}
		}
		&.send{
			background-color: lighten(@blue-color, 10%);
			color: #fff;

			&:hover{
				background-color: darken(@blue-color, 5%);
			}
		}		
		&[disabled]{
			background-color: greyscale(lighten(@blue-color, 50%));
			&:hover{
				background-color: greyscale(lighten(@blue-color, 50%));
			}
		}

	}

	&.files{
		margin-top: 20px;
		& .file{
			height: auto;
			overflow: visible;
			&  .subwrapper{
				position: relative;
				&:after{
					content: "";
					display: table;
					clear: both;
				}
				& > .c3{
					position: absolute;
				    height: 100%;
				    display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
				    background-color: @fields-background;
				    overflow: hidden;
				    @media @smartphones-1100{
				    	position: relative;
				    	height: auto;
				    	display: block;
				    	& > img{
				    		height: 300px;
				    	}
				    }
				    & > img{
				    	align-self: center;
    					box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
				    }
				}
				& > .c9{
					float: right;
				}
			}

			& .head{
				padding: 0px !important;
				& button{
					background: none;
				    border: none;
				    float: right;
				    font-weight: normal;
				    padding: 12px 15px;
				    line-height: 1px;
				    font-size: 15pt;
				    color: #777;
				}
			}

			& .filename{
				& *{
					font-weight: normal !important;
					color: lighten(#777, 10%);
					margin: 0;
					white-space: nowrap;
				    text-overflow: ellipsis;
				    overflow: hidden;
				}
			}

			& .field{
				padding: 10px  10px !important;
				border-radius: 5px;
				&:nth-child(even){
					background-color: @list-color;
				}
				& strong{
					padding: 10px;
					display: block;
				}

				& .field{
					width: 100%;
				}
				&.abstract{
					& .c9{
						display: -webkit-box;
						display: -moz-box;
						display: -ms-flexbox;
						display: -webkit-flex;
						display: flex;
						justify-content: center;
						& .fa{
							position: absolute;
							align-self: center;
						    color: @fields-background;
						}
						& textarea{
							border-radius: 5px;
						    overflow: hidden;
						    width: 100%;
						    resize: none;
						    padding: 10px;
						    margin: 0;
						    border: none;
						    min-height: 30px;
						    background-color: @fields-background;
						    transition: background-color, color .3s ease;
						    &[disabled]{
						    	background-color: lighten(@fields-background, 5%);
						    }

						}
					}
				}

				& .crossrefWrapper{
					position: relative;
				}

				& .crossref{
					position: absolute;
				    width: 100%;
				    z-index: 99;
				    box-shadow: 0px 6px 10px rgba(0, 0, 0,0.3);
				    background-color: white;
				    padding: 5px;
				    box-sizing: border-box;
				    overflow:hidden;
				    transition: height 0.2s ease-in-out;
				    &.hidden, .hidden{
				    	display: none;
				    }

				    & .records{
				    	height: 100%;
				    	&.topbar{
							width: 100%;
						    height: 45px;
						    position: relative;

							& button{
								background: none;
							    border: none;
							    float: right;
							    font-weight: normal;
							    padding: 12px 15px;
							    line-height: 1px;
							    font-size: 15pt;
							    & > i{
							    	color: #777;
							    }
							}

							& .fa-check{
								color: lighten(@green-color, 10%);	
							    top: 0;
							    line-height: 45px;
							    font-size: 20pt;
							    position: absolute;
							}
				    	}
				    	&.list{
				    		display: -webkit-box;
							display: -moz-box;
							display: -ms-flexbox;
							display: -webkit-flex;
							display: flex;
				    		width: 100%;
						    max-height: 295px;
						    overflow-y: scroll;

						    & .root{
						    	list-style: none;
						    	margin: 0;
						    	padding: 0;
						    	width: 100%;
						    }

						    & li{
						    	padding: 10px;
						    	border-bottom: 1px solid @gray-color;
						    	transition: all 0.3s ease;
						    	cursor: pointer;

						    	& > h4{
						    		margin: 0;
						    	}

						    	& > span{
						    		width: 100%;
						    	}

						    	&:hover{
						    		background-color: @gray-color;
						    	}

						    }
				    	}
				    }
				}
			}
		}
	}

	&.hidden{
    	height: 0px;
    	visibility: hidden;
    	&.dn{
    		display: none;
    	}
    }

    &.display{
    	max-height: 350px;
    	visibility: visible;
    }

	&.hover{
		&:hover{
			background-color: @gray-color;
		}
	}

	&.animation{
		&.exit{
			&.up{
				animation-name: exit_up;
				animation-duration: 0.2s;
				animation-fill-mode: forwards;
				animation-timing-function: ease-in-out;
			}
		}
		&.enter{
			&.up{
				animation-name: enter_up;
				animation-duration: 0.2s;
				animation-fill-mode: forwards;
				animation-timing-function: ease-in-out;
			}

			&.down{
				animation-name: enter_down;
				animation-duration: 0.2s;
				animation-fill-mode: forwards;
				animation-timing-function: ease-in-out;
			}
		}

	}

	&.empty{
		& > img{
			width: 154px;
		}

		& > h3{
			text-align: center;
		    font-weight: normal;
		    font-size: 16pt;
		    margin: 0;
		    color: #b4b5b4;
		}
	}

	&.drive{
		&.span-center{
			width: 100%;
			display: block;
			text-align: center;
			&.pad{
				padding-top: 5px;
			}
		}
		&.breadcrumbs{
			width: 100%;
			overflow: hidden;
			&:after{
				content: "";
				display: table;
				clear: both;
			}

			& .crumbs{
			    display: inline-block;
				float: left;
				position: relative;
				&.step{
					left: -7px;
					opacity: 0;
				}
				& button{
					border: none;
				    padding: 5px 0px 5px 30px;
				    height: 36px;
				    position: relative;
				    background-color: @gray-color;
				    transition: background-color .3s ease;
				    &:hover{
				    	background-color: darken(@gray-color, 10%);
				    	&:after{
				    		border-left-color: darken(@gray-color, 10%);
				    	}
				    }
	    			&:before{
					    content: " ";
					    height: 0px;
					    border: solid transparent;
					    border-left-color: darken(@gray-color, 10%);
					    position: absolute;
					    border-width: 21px;
					    top: -3px;
					    left: 100%;
					    z-index: 99;
	    			}
	    			&:after{
					    content: " ";
						border: solid transparent;
						border-left-color: @gray-color;
						height: 0px;
						position: absolute;
						border-width: 18px;
						top: 0px;
						z-index: 99;
				    	transition: border-left-color .3s ease;
	    			}
	    		}
			}
		}
		&.form{
			//border-bottom: 1px solid #dedede;
			& .link{
				text-align: center;
				border: none;
			}
			& > .message{
				margin: 0;
			    text-align: center;
			    min-height: 20px;
			    font-weight: normal;
			    color: #e0424e;
			}
		}
		&.body{
			overflow: hidden;
			&.hidden{
				height: 0px;
			}
		}
		&.table{
			text-align: left;
			margin: 0;

			& .document{
				transition: background-color .2s ease;
				cursor: pointer;
				&:hover{
					background-color: lighten(@gray-color, 5%);
				}
				& > td{
					&:nth-child(1){
						width: 1px;
					}
					&:nth-child(2){
					    text-overflow: ellipsis;
					    overflow: hidden;
					}
					&:nth-child(3), &:nth-child(4){
						width: auto;
					}
				} 
			}

			& th{
				background-color: #fafafa !important;
				border: none;
				border-bottom: 1px solid @gray-color;
				font-weight: normal;
			}
			& td{
				font-size: 100%;
				margin: 0px;
				padding: 10px;
				border: none;
				border-bottom: 1px solid @gray-color;
				background-color: transparent;
				& > .fa{
					padding-right: 10px;
				}
				&:hover{
					background-color: transparent;
					background: transparent;
				}
				&.check{
					width: 1px;
					max-width: 1px;	
				}
				&.size{
					transition: background-color .3s ease;
				}
			}
		}
		&.loading{
			height: 3px;

			&.hidden{
				& > div{
					display: none;
				}
			}

			& > div{

			    width: 100%;
			    height: 3px;
			    display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
			    justify-content: flex-end;
			    position: relative;
			    //justify-content: center;

			    animation-name: loading_background;
				animation-duration: 4s;
				animation-fill-mode: forwards;
				animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

				& *{
				    height: 100%;
				    width: 76%;
					animation-duration: 4s;
					animation-iteration-count: infinite;
					animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				}

				& .blue{
					background-color: @blue-color;
					animation-name: loading_blue;
				}
				& .red{
					background-color: @red-color;
					animation-name: loading_red;
				}
				& .yellow{
					background-color: @yellow-color;
					animation-name: loading_yellow;
				}
				& .green{
					background-color: @green-color;
					animation-name: loading_green;
				}
			}
		}
	}
	&.singlefile{
		text-align: center;
		padding: 20px;
		& h5{
			width: 100%;
			font-weight: normal;
			margin: 2px 0px;
		}
		& .thumbnail{
			position: relative;
    		height: 300px;
		    display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		    background-color: @fields-background;
		    overflow: hidden;
		    @media @smartphones-700{
		    	position: relative;
		    	display: block;
		    }
		    & > img{
		    	align-self: baseline;
				box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
		    }
		}
		& .content{
			& h3{
				width: 100%;
				margin: 0px;
			}
			& button{
				width: 100%;
			}
		}

		&.hidden{
			display: none;
		}
	}
}

.field{
	transition: background-color 0.2s ease;
	&.required{
		background-color: lighten(@red-color, 40%) !important;
	}
}

.erasable{
	position: relative;
}

.google{
	font-family: 'Product Sans', Arial, sans-serif;
	& .e{
		transform: rotate(-16deg);
	    position: relative;
	    display: inline-block;
	}
}

div.duplicate{
	position: absolute;
    top: 0;
    right: -6px;
    height: 100%;
    width: 25px;
    & span{
    	top: 0;
	    right: 0;
	    left: 0;
	    position: absolute;
	    bottom: 0;
	    margin: auto;
	    display: table;
    }
	&.hidden{
		display: none;
	}
}