.title-section{
	background: url('/static/shared/images/gradiente.png') center repeat;
	color: #fff;
    padding: 20px 0;
    margin-bottom: 30px;
}

.title-section > .title-label{	
    max-width: 1400px;
    margin: 0 auto;
}

.title-label > h1{
	font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
}


#title > h1{
	font-weight: normal;
	min-height: 1px;
    float: left;
    position: relative;
}

#content{
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

#content > #content-body{
	text-align: justify;
	width: 65%;
	float: left;
	box-sizing: border-box;
	padding-right: 20px;
}

#content-body li{
	padding-left: 20px;
}

#content > #content-menu{
	float: right;
	width: 35%;
	padding-left: 20px;
	box-sizing: border-box;
}

#content-menu > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-row{
	margin-bottom: 14px;
}

.menu-row > a{
	display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1px;
    background-color: #999;
    font-size: 12px;
    transition: all .2s linear;
}
.menu-row > a:hover{
	background-color: #666;
    transition: all .2s linear;
}

.menu-head > a{
    background-color: #0077ad;
    font-size: 16px;
    transition: all .2s linear;
}

.menu-head > a:hover{
	background-color: #222;
    transition: all .2s linear;
}