<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load i18n %}
		{% load tags %}
		{% get_current_language as lang %}
		<title>Laboratorio de Microbiología Molecular y Biotecnología Ambiental | Universidad Técnica Federíco Santa María</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
		<meta name="description" content="Laboratorio del departamento de Química de la Universidad Técnica Federico Santa María." />

		<!-- Twitter Card data -->
		<meta name="twitter:card" value="summary">

		<!-- Open Graph data -->
		<meta property="og:title" content="Laboratorio de Microbiología Molecular y Biotecnología Ambiental" />
		<meta property="og:type" content="article" />
		<!--<meta property="og:url" content="http://www.ejemplo.com/" />-->
		<meta property="og:image" content="{% static 'shared/images/labmmba1.png' %}" />
		<meta property="og:description" content="Laboratorio del departamento de Química de la Universidad Técnica Federico Santa María." />
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="{% static 'shared/css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'shared/css/header.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'shared/css/body.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'shared/css/footer.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'login/css/signup.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/home.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/users.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/upload.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/profile.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/document.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'intranet/css/plus-font.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="icon" href="{% static 'shared/images/icon.ico' %}">

		<!--Javascript-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
		<script src="{% static 'intranet/js/upload.js' %}"></script>
		<script src="{% static 'intranet/js/profile.js' %}"></script>
		<script src="{% static 'intranet/js/pdf.js' %}"></script>
	</head>
	<body>
		<div id="header">
			<div id="top-bar">
				<div id="top-bar-grid" class="grid">
					<ul id="breadcrumbs">
						<li><a href="http://www.usm.cl">USM.cl</a></li>
						<li><a href="#">Laboratorio de Microbiología Molecular y Biotecnología Ambiental</a></li>
					</ul>
					<ul id="top-bar-nav">
						<!--<li><a href="http://www.usm.cl/universidad/campus-y-sedes/">Campus y Sedes</a></li>
						<li><a href="http://www.directorio.usm.cl/">Directorio</a></li>
						<li><a href="#">Contacto</a></li>-->
						{% if request.user.is_authenticated == False %}
							<li><a href="{% url 'login' %}">{% trans "Ingresar" %}</a></li>
						{% else %}
							<li><a href="{% url 'logout' %}">{% trans "Cerrar Sesión" %}</a></li>
						{% endif %}
						{% if lang == "es" %}
							<li><a href="{% translate_url 'en' %}">English version</a></li>
						{% else %}
							<li><a href="{% translate_url 'es' %}">Versión en Español</a></li>
						{% endif %}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
			<div id="lower-side" class="grid">
				<div id="brand-images">
					<a id="usm-logo" href="{% url 'home' %}"><img src="{% static 'shared/images/header-usm.png' %}" alt="Universidad Técnica Federíco Santa María"></a>
					<a id="labmmba-logo" href="{% url 'home' %}"><img src="{% static 'shared/images/labmmba1.png' %}" alt="Laboratorio de Microbiología Molecular y Biotecnología Ambiental"></a>
					<button id="resp-btn-menu"><i class="fa fa-bars"></i></button>
					<div class="clear"></div>
				</div>
				<div class="navbar">
					<ul class="navigator">
						<li><a href="#" {% if current_view == "1" %} class="nav-selected" {% endif %}>{% trans "Areas de Investigación" %}</a></li>
						<li><a href="#" {% if current_view == "2" %} class="nav-selected" {% endif %}>{% trans "Cooperación" %}</a></li>
						<li><a href="{% url 'about' %}" {% if current_view == "about" %} class="nav-selected" {% endif %}>{% trans "Sobre Nosotros" %}</a></li>
						<li><a href="#" {% if current_view == "4" %} class="nav-selected" {% endif %}>{% trans "Ubicación" %}</a></li>
						{% if request.user.is_authenticated == True %}
							<li><a href="{% url 'intranet:home' %}" {% if current_view == "intranet" %} class="nav-selected" {% endif %}>{% trans "Intranet" %}</a></li>
						{% else %}
							<li><a href="{% url 'publications' %}" {% if current_view == "publications" %} class="nav-selected" {% endif %}>{% trans "Publicaciones" %}</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div id="responsive-menu" class="responsive-menu-close">
			<ul>
				<li><a href="#">{% trans "Areas de Investigación" %}</a></li>
				<li><a href="#">{% trans "Cooperación" %}</a></li>
				<li><a href="{% url 'about' %}" >{% trans "Sobre Nosotros" %}</a></li>
				<li><a href="#">{% trans "Ubicación" %}</a></li>
				{% if request.user.is_authenticated == True %}
					<li><a href="{% url 'intranet:home' %}">{% trans "Intranet" %}</a></li>
				{% else %}
					<li><a href="{% url 'publications' %}">{% trans "Publicaciones" %}</a></li>
				{% endif %}
			</ul>
			<ul>
				<!--<li><a href="http://www.usm.cl/universidad/campus-y-sedes/">Campus y Sedes</a></li>
				<li><a href="http://www.directorio.usm.cl/">Directorio</a></li>
				<li><a href="#">Contacto</a></li>-->
				{% if request.user.is_authenticated == False %}
					<li><a href="{% url 'login' %}">{% trans "Ingresar" %}</a></li>
				{% else %}
					<li><a href="{% url 'logout' %}">{% trans "Cerrar Sesión" %}</a></li>
				{% endif %}
			</ul>
		</div>
		{% if current_view == "home" %}
		<div id="home-image">
			<img src="{% static 'shared/images/home3.jpg' %}">
		</div>
		{% endif %}
		<script>
		$('#resp-btn-menu').click(function(){
			if($('#responsive-menu').hasClass('responsive-menu-close'))
				$('#responsive-menu').removeClass('responsive-menu-close').addClass('responsive-menu-open-v2');
			else
				$('#responsive-menu').addClass('responsive-menu-close').removeClass('responsive-menu-open-v2');				
		});
		</script>
		<div id="body">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<div id="lower-bar">
				<div id="red-bar" class="bar"></div>
				<div id="green-bar" class="bar"></div>					
				<div id="yellow-bar" class="bar"></div>	
				<div id="blue-bar" class="bar"></div>	
			</div>	
			<div class="row grid">
				<div class="navbar">
					<ul class="navigator">
						<li><a href="#" {% if current_view == "1" %} class="nav-selected" {% endif %}>{% trans "Areas de Investigación" %}</a></li>
						<li><a href="#" {% if current_view == "2" %} class="nav-selected" {% endif %}>{% trans "Cooperación" %}</a></li>
						<li><a href="{% url 'about' %}" {% if current_view == "about" %} class="nav-selected" {% endif %}>{% trans "Sobre Nosotros" %}</a></li>
						<li><a href="#" {% if current_view == "4" %} class="nav-selected" {% endif %}>{% trans "Ubicación" %}</a></li>
						{% if request.user.is_authenticated == True %}
							<li><a href="{% url 'intranet:home' %}" {% if current_view == "intranet" %} class="nav-selected" {% endif %}>{% trans "Intranet" %}</a></li>
						{% else %}
							<li><a href="{% url 'publications' %}" {% if current_view == "publications" %} class="nav-selected" {% endif %}>{% trans "Publicaciones" %}</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="row grid">
				<div id="footer-info">
					<div id="footer-text">
						<p>Laboratorio de Microbiología Molecular y Biotecnología Ambiental</p>
						<p>© Universidad Técnica Federico Santa María </p>
						<p>Avenida España 1680, Edificio B 3° piso, Valparaíso · +56 32 1234 567 · <a class="simple-link" href="mailto:labmmba@usm.cl">labmmba@usm.cl</a></p>
					</div>
					<div id="powered-by">
						<img src="{% static 'shared/images/drive_dark-med.png' %}">
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>