{% load staticfiles %}
{% load i18n %}
{% load tags %}
{% get_current_language as lang %}
<!DOCTYPE html>
<html lang="es" itemscope itemtype="http://schema.org/Article">
<head>
	
	<!-- Meta tags -->
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

	<!-- SEO -->

	<title>{% if lang == 'es' %}{{current_view.spanish_name}}{% elif lang == 'en' %}{{current_view.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María</title>
	<meta name="title" content="{% if lang == 'es' %}{{current_view.spanish_name}}{% elif lang == 'en' %}{{current_view.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/>
	<meta property="og:title" content="{% if lang == 'es' %}{{current_view.spanish_name}}{% elif lang == 'en' %}{{current_view.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/>
	<meta name="twitter:title" content="{% if lang == 'es' %}{{current_view.spanish_name}}{% elif lang == 'en' %}{{current_view.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María">
	<meta property="og:site_name" content="{% if lang == 'es' %}{{current_view.spanish_name}}{% elif lang == 'en' %}{{current_view.english_name}}{% endif %} · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/>
	{% block meta %}
	<meta name="description" content="{% trans 'El laboratorio MMBA de la Universidad Técnica Federico Santa María estudia la degradación bacteriana de contaminantes orgánicos persistentes, química ambiental, genómica y proteómica funcional.' %}" />
	<meta name="author" content="Labmmba"/>
	<meta name="description" content="{% trans 'El laboratorio MMBA de la Universidad Técnica Federico Santa María estudia la degradación bacteriana de contaminantes orgánicos persistentes, química ambiental, genómica y proteómica funcional.' %}"/>
	<meta property="og:description" content="{% trans 'El laboratorio MMBA de la Universidad Técnica Federico Santa María estudia la degradación bacteriana de contaminantes orgánicos persistentes, química ambiental, genómica y proteómica funcional.' %}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.labmmba.usm.cl"//>
	<meta property="og:image" content="{% static 'shared/images/labmmba1.png' %}"/>
	
	<meta name="twitter:description" content="{% trans 'El laboratorio MMBA de la Universidad Técnica Federico Santa María estudia la degradación bacteriana de contaminantes orgánicos persistentes, química ambiental, genómica y proteómica funcional.' %}">
	{% endblock %}
	<meta property="og:locale" content="es_ES"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image:src" content="">
	<meta name="twitter:domain" content="s">
	<meta name="apple-mobile-web-app-title" content="USM"/>
	<!-- Stylesheets -->

	<link rel="stylesheet" media="screen" href="{% static 'usm_theme/css/royalslider.css' %}"/>
	<link rel="stylesheet" media="screen" href="{% static 'usm_theme/css/fancybox.css' %}"/>
	<link rel="stylesheet" media="all" href="{% static 'usm_theme/css/style.css' %}"/>
	<link rel="shortcut icon" href="{% static 'usm_theme/img/icon/favicon.png' %}"/>
	<link rel="image_src" href=""/>
	<link rel="apple-touch-icon" href="{% static 'usm_theme/img/icon/ilogica-icon.png' %}"/>

	<!-- Javascript -->
	<script>var current_lang = "{{lang}}"</script>
	<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
	<script src="{% static 'usm_theme/js/jquery.js' %}"></script>
	<script src="{% static 'usm_theme/js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'usm_theme/js/functions.js' %}"></script>
	<script src="{% static 'usm_theme/js/fancybox.js' %}"></script>
	<script src="{% static 'usm_theme/js/royalslider.js' %}"></script>
	{% block css %}{% endblock %}
</head>
<body class="{{ body }} "><!-- Deberia cambiar -->
	<header id="header" class="wfull main-nav">
		<div class="row top-bar">
			<div class="grid">
				<div class="row">
					<div class="c12">
						<div class="mobile-nav-wrapper clear">
							<div class="mobile-top-bar clear">
								<a class="mobile-brand notrans" href="{% url 'webpage:home' %}"><img src="{% static 'usm_theme/img/mobile-header-usm-labmmba.png' %}" alt=" · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/></a>
								<a id="mobile-nav">&#9776;</a>
							</div>
							<div class="mobile-nav notrans">
								<ul class="mobile-main-nav clear">
                                    {% for section in sections %}
									    <li {% if current_section.slug == section.slug %} class="current" {% endif %}><a href="{% url 'webpage:section' section.slug %}">{% if lang == 'es'%}{{section.spanish_name}}{% elif lang == 'en' %}{{section.english_name}}{% endif %}</a></li>
                                    {% endfor %}
								</ul>
								<ul class="mobile-top-nav clear">
									{% if request.user.is_authenticated == False %}
										<li><a href="{% url 'login' %}">{% trans "Ingresar" %}</a></li>
									{% else %}
                                        {% if request.user.is_admin %}
                                            <li><a href="#">{{request.user.email}}</a></li>
                                        {% else %}
                                            <li><a href="{% url 'intranet:profile' request.user.id %}">{{request.user.first_name}} {{request.user.last_name}}</a></li>
                                        {% endif %}
										<li><a href="{% url 'logout' %}">{% trans "Cerrar Sesión" %}</a></li>
									{% endif %}
									{% if lang == "es" %}
										<li><a href="{% translate_url 'en' %}">English version</a></li>
									{% else %}
										<li><a href="{% translate_url 'es' %}">Versión en Español</a></li>
									{% endif %}
								</ul>
							</div>
						</div>
						<a class="tablet-nav">&#9660;</a>
						<ul class="breadcrumbs clear">
							<li><a href="http://www.usm.cl/">USM.cl</a></li>
							<li><a href="{% url 'webpage:home' %}">LABMMBA</a></li>
                            {% if not current_section.slug == '.' %}
                                <li><a href="{% url 'webpage:section' current_section.slug %}">{% if lang == 'es' %}{{current_section.spanish_name}}{% elif lang == 'en' %}{{current_section.english_name}}{% endif %}</a></li>
                                {% if current_subsection %}
                                    <li><a href="{% url 'webpage:subsection' current_section.slug current_subsection.slug %}">{% if lang == 'es' %}{{current_subsection.spanish_name}}{% elif lang == 'en' %}{{current_subsection.english_name}}{% endif %}</a></li>
                                {% endif %}
                            {% endif %}
						</ul>
						<ul class="top-nav clear notrans">
							{% if request.user.is_authenticated == False %}
								<li><a href="{% url 'login' %}">{% trans "Ingresar" %}</a></li>
							{% else %}
                                {% if request.user.is_admin %}
                                    <li><a href="#">{{request.user.email}}</a></li>
                                {% else %}
                                    <li><a href="{% url 'intranet:profile' request.user.id %}">{{request.user.first_name}} {{request.user.last_name}}</a></li>
                                {% endif %}
								<li><a href="{% url 'logout' %}">{% trans "Cerrar Sesión" %}</a></li>
							{% endif %}
							{% if lang == "es" %}
								<li><a href="{% translate_url 'en' %}">English version</a></li>
							{% else %}
								<li><a href="{% translate_url 'es' %}">Versión en Español</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row grid nav">
			<div class="c7 brand">
				<a class="notrans" href="{% url 'webpage:home' %}"><img src="{% static 'usm_theme/img/mobile-header-usm-labmmba.png' %}" alt=" · Laboratorio de Microbiología Molecular y Biotecnología Ambiental · Universidad Técnica Federico Santa María"/></a>
			</div>
			<div class="c12 nav">
				<nav id="nav" class="clear">
					<ul class="nav clear">
                        {% for section in sections %}
                            <li {% if current_section.slug == section.slug %} class="current" {% endif %}><a href="{% url 'webpage:section' section.slug %}">{% if lang == 'es'%}{{section.spanish_name}}{% elif lang == 'en' %}{{section.english_name}}{% endif %}</a></li>
                        {% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</header>
	{% block content %}{% endblock %}
	<footer id="footer" class="wfull main-nav">
		<div class="row grid">
			<div class="c12 nav clear">
				<ul class="nav">
                    {% for section in sections %}
                        <li {% if current_section.slug == section.slug %} class="current" {% endif %}><a href="{% url 'webpage:section' section.slug %}">{% if lang == 'es'%}{{section.spanish_name}}{% elif lang == 'en' %}{{section.english_name}}{% endif %}</a></li>
                    {% endfor %}
				</ul>
			</div>
			<div class="c12 text">
				<p>© Universidad Técnica Federico Santa María <br/>Avenida España 1680, Valparaíso · +56 32 2654 000 · <a href="mailto:labmmba@usm.cl">labmmba@usm.cl</a></p>
				<p>Sitio web desarrollado por <a href="mailto:alex.balladares.13@sansano.usm.cl">Alex Balladares Rojas</a> · <a href="mailto:hernan.herreros.13@sansano.usm.cl">Hernán Herreros Niño</a> · <a href="mailto:ricardo.gamboa.12@sansano.usm.cl">Ricardo Gamboa Arias</a>.</p>
			</div>
		</div>
	</footer>
	<a id="top" class="trans" title="Subir">&#9650;</a>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88941303-2', 'auto');
  ga('send', 'pageview');

</script>

</html>