/**** ANIMATIONS ***/

@keyframes selector_1 {
	0%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	30% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@keyframes selector_2 {
	0%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	10%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	40% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@keyframes selector_3 {
	0%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	20%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	50% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@keyframes selector_4 {
	0%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	30%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	60% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@keyframes selector_5 {
	0%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	40%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	70% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@keyframes selector_6 {
	0%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	50%{ 
		transform: translate(0px, 20px);
		opacity: 0;
	}
	80% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@keyframes modal_appear{
	0%{
		opacity: 0;
		visibility: hidden;
	}
	100%{
		opacity: 1;
		visibility: visible;
	}
}

@keyframes modal_disappear{
	0%{
		opacity: 1;
		visibility: visible;
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}
#adm-selectors-wpr{
	width: 100%;
	position: relative;

}

#adm-selectors-wpr:after{
	content:"";
	clear: both;
	display: table;
}

.adm-selector-grid{
	width: 33%;
	box-sizing: border-box;
	float: left;
	padding: 5px;
}

.adm-selector{
	width: 100%;
	padding: 40px;
	position: relative;
	box-sizing: border-box;
	color: #e0424e;
	cursor: pointer;
	background-color: #e9edf0;
	transition: background-color 0.2s;
}

.adm-selector:hover{
	background-color: #d1d4d6;
	transition: background-color 0.2s;
}

.adm-selector:after{
	content: "";
	position: absolute;
	height: 100%;
	width: 5px;
	top: 0px;
	left: 0px;
	background-color: #f2ae47;
}

.adm-selector > h3{
	margin: 0;
    font-size: 20px;
    font-weight: normal;
    margin-left: 100px;
    padding-left: 10px;
}
.adm-selector > i{
    font-size: 85px;
    line-height: 35px;
    float: left;
}

.setup-hidden{
	display: none!important;
}

#setup-container{
	position: relative;
	width: 100%;
	height: 100%;
}

#setup-header{
	height: 50px;
	width: 100%;
	background-color: #e9edf0;
}

#setup-icon{
	position: relative;
    height: 100%;
    font-size: 30px;
    margin-left: 20px;
    float: left;
    line-height: 51px;
}

#setup-title{
	float: left;
    margin: 0px 0px 0px 15px;
    height: 100%;
    line-height: 50px;
}

#setup-return-btn{
	float: left;
	background: none;
    border: 0;
    background-color: #f2ae47;
    color: white;
    width: 70px;
    height: 100%;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}

#setup{
    overflow-y: auto;
    overflow-x: hidden;
	padding: 0px 5px;
	box-sizing: border-box;
}

.setup-subtitle{
	margin: 0;
	padding: 10px 0px;

}

.setup-subtitle.blue{
	background: #006e9c!important;
}

.setup-subtitle.green{
	background: #009065!important;
}

.setup-subtitle.red{
	background: #e0424e!important;
}

.selector-1{
	animation: selector_1 0.5s ease-in-out;
}

.selector-2{
	animation: selector_2 0.5s ease-in-out;
	
}

.selector-3{
	animation: selector_3 0.5s ease-in-out;
	
}

.selector-4{
	animation: selector_4 0.5s ease-in-out;
	
}

.selector-5{
	animation: selector_5 0.5s ease-in-out;
	
}

.selector-6{
	animation: selector_6 0.5s ease-in-out;
	
}

.setup-webpage-list-container{
	height: 40px;
}

.setup-user-list, .setup-area-list, .setup-webpage-list{
	list-style: none;
	padding: 0px 20px;
}

.setup-webpage-list{
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #f1f2f4;
	z-index: 99;
	width: 100%;
}

.setup-user-list > li, .setup-area-list > li, .setup-webpage-list > li{
	padding: 5px 0px;
	overflow: hidden;
	position: relative;
}

.setup-webpage-list > li{
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}

.setup-user-list > li:hover > .setup-user-row{
	transform: translateX(-150px);
	transition: transform 0.2s ease-in-out;
}

.setup-user-list > li:hover > .setup-user-invited-row, .setup-area-list > li:hover > .setup-area-row{
	transform: translateX(-100px);
	transition: transform 0.2s ease-in-out;
}

.setup-user-row-expand-rsp > .setup-user-row{
	transform: translateX(-150px) !important;
	transition: transform 0.2s ease-in-out;
}

.setup-user-invited-row-expand-rsp > .setup-user-invited-row, .setup-area-row-expand-rsp > .setup-area-row{
	transform: translateX(-100px) !important;
	transition: transform 0.2s ease-in-out;
}

.setup-user-row, .setup-user-invited-row, .setup-area-row{
	padding: 0px 10px;
	width: 100%;
	height: 100%;
	background-color: #e9edf0;
	position: relative;
	z-index: 99;
	box-sizing: border-box;
	transform: translateX(0px);
	transition: transform 0.2s ease-in-out;
}

.setup-webpage-row{
	/*padding: 3px 0;*/
	height: 100%;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}

.setup-user-row > i, .setup-user-invited-row > i, .setup-area-row > i{
	vertical-align: middle;
}

.setup-user-name, .setup-area-name{
	display: inline-block;
    padding: 10px 10px;
    padding-left: 27px;
    z-index: -1;
    position: relative;
    left: -26px;
    background-color: #f4f9fc;
	vertical-align: middle;
}

.setup-user-email{
	position: relative;
    padding: 10px;
    display: inline-block;
    left: -26px;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 60%;
}

.invited:before{
	content: "";
	position: absolute;
	height: 100%;
	width: 5px;
	top: 0px;
	left: 0px;
	background-color: #006e9c;
	border-radius: 10px 0 0 10px;
}

.invited > i{
	color: #006e9c;
}

.active:before{
	content: "";
	position: absolute;
	height: 100%;
	width: 5px;
	top: 0px;
	left: 0px;
	background-color: #009065;
	border-radius: 10px 0 0 10px;
}

.active > i{
	color: #009065;
}

.blocked:before{
	content: "";
	position: absolute;
	height: 100%;
	width: 5px;
	top: 0px;
	left: 0px;
	background-color: #e0424e;
	border-radius: 10px 0 0 10px;
}

.blocked > i{
	color: #e0424e;
}

.setup-user-box, .setup-invited-user-box, .setup-area-box{
    padding: 5px 0px;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    width: 50px;
    right: 0px;
}

.setup-webpage-box{
	box-sizing: border-box;
	display: inline-block;
	width: 26px;
	height: 26px;
}

.setup-webpage-box button{
	border-radius: 10px;
}

.setup-user-box i, .setup-invited-user-box i, .setup-area-box i{
	width: 100%;
    position: relative;
    height: 100%;
    top: 0;
    text-align: center;
    line-height: 42px;
}

.setup-invited-user-box:nth-child(2) > button, .setup-user-box:nth-child(4) > button, .setup-area-box:nth-child(2) > button{
	border-radius: 0 10px 10px 0;
}

.setup-user-box:nth-child(2){
	right: 50px;
}

.setup-user-box:nth-child(3){
	right: 100px;
}

.setup-invited-user-box:nth-child(3), .setup-area-box:nth-child(3){
	right: 50px;
}

.setup-delete-box, .setup-delete-invitation-box, .setup-cancel-box{
	width: 100%;
	height: 100%;
	background-color: #e0424e;
	outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.setup-view-box, .setup-forward-box{
	width: 100%;
	height: 100%;
	background-color: #f2ae47;
	outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.setup-block-box, .setup-unblock-box, .setup-edit-box{
	width: 100%;
	height: 100%;
	background-color: #006e9c;
	outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.setup-accept-box{
	width: 100%;
	height: 100%;
	background-color: #009065;
	outline: none;
	border: none;
	color: white;
	cursor: pointer;
}

.disabled{
	filter: grayscale(50%);
    -webkit-filter: grayscale(100%);
    color: #c3c3c3;
    cursor: in;
}

.disabled:hover{
	background-color: #e9edf0;
}

#modal-delete-confirm, #modal-edit-confirm{
    position: absolute;
    width: 400px;
    top: 10%;
    right: 0;
    left: 0;
    max-width: 800px;
    margin: auto;
    width: 100%;
    z-index: 99;
    padding: 0px 20px;
    box-sizing: border-box;
}

#modal-content{
	width: 100%;
	height: 100%;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}

#modal-content > h3:nth-child(1){
	margin: 0;
    text-align: center;
    padding: 20px;
}

#modal-content > #modal-message{
	margin: 0;
    text-align: center;
    padding: 20px;
    font-weight: normal;
}

#modal-user > div{
	margin: 0 auto;
    width: 100px;
    height: 100px;
    align-self: center;
    background-size: auto 100%;
    background-position: center;
    border-radius: 50%;
}

#modal-user > h4{
	text-align: center;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 10px;
}

#modal-area > h3{
	text-align: center;
	font-weight: normal;
}

#modal-edit-confirm #modal-area-name{
	background-color: transparent;
	text-align: center;
}

#modal-error{
	text-align: center;
}

#modal-curtain{
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100%;
	position: absolute;
	background-color: white;
	z-index: 99;
	text-align: center;
}

#modal-btns{
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #e9edf0;
}

#modal-btns > button{
	background: none;
    border: none;
    padding: 20px;
    font-weight: normal;
    cursor: pointer;
    box-sizing: border-box;
    width: 50%;
	transition: 0.2s ease;
	outline: none;
}

#modal-btns > button:hover{
	background-color: #c7d3dc;
	transition: 0.2s ease;
}

#modal-btns > button:nth-child(1){
	color: #e0424e;
}

#modal-btns > button:nth-child(2){
	color: #006e9c;
}

.modal-visible{
	opacity: 1;
	visibility: visible;
	transition: 0.3s ease;
}

.modal-hidden{
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
}

.curtain-visible{
	opacity: 0.5;
	visibility: visible;
	transition: 0.3s ease;
}

.curtain-hidden{
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
}

.loading-curtain{
	position: fixed!important;
	transition: 0s;
}

#users-setup, #areas-setup, #webpage-setup, #documents-setup, #select-section-setup, #news-setup{
	padding-left: 20px;
	padding-right: 20px;
}

#news-setup{
	padding-top: 20px;
}

form .text{
	width: 78%;
}

form .submit{
	width: 21%;
	min-width: 74px;
	padding: 10px;
}

.c6 > .mce-container{
	margin: 10px 0 10px 0;
}

#webpage-edit-form .c6 h3{
	margin: 0;
}

#tinymce p{
	margin-left: 0;
	width: 100%;
}

#tinymce h1{
	margin-left: 0;
	width: 100%;
}

@media screen and (max-width:1536px){
	.adm-selector-grid{
		width: 50%;
		box-sizing: border-box;
		float: left;
		padding: 5px;
	}
}

@media screen and (max-width:1097px){
	.adm-selector-grid{
		width: 100%;
		box-sizing: border-box;
		float: left;
		padding: 5px;
	}
}

@media screen and (max-width:530px){
	.setup-user-email{
		display: none;
	}

	.setup-user-name, .setup-area-name{
		width: 80%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

@media screen and (max-width:438px){
	form .text{
		width: 72%;
	}

	form .submit{
		width: 23%;
	}
}

@media screen and (max-width:357px){
	form .text{
		width: 100%;
	}

	form .submit{
		width: 100%;
	}
}

.overflow-hidden{
	overflow: hidden !important;
}

.fixed {
	position: fixed;
	z-index: 99;
	top: 103px;
}


#users-setup > div {
	text-align: left;	
}

#users-setup > div.title > div {
	padding: 0px;
}

#users-setup > div.title span.error {
    font-style: italic;
    color: #ee5b55;
    display: block;
}

#search {
	margin: 0;
	width: 100%;
}

.title-form {
  width: 100%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.title-form.field {
  width: 100% !important;
}

.title-form.send {
  width: 120px !important;
  padding: 11px !important;
  float: right !important;
}

.editor-box{
	padding-top: 0!important;
}

.editor-box > .setup-webpage-list-container > .setup-webpage-list{
	width: 110%;
	border-radius: 10px 10px 0 0;
	margin: 0 -5px 0 -5px;
	background: #336090;
}

.editor-box > .setup-webpage-list-container > .setup-webpage-list .setup-webpage-row > h3{
	border-radius: 10px 10px 0 0;
}

.webpage-setup-title{
	padding: 0 20px;
}

.box.news h3 {
	display: block;
	margin: 0;
	padding: 7px 15px;
	background: #336090;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

.news .list .item a.news-title-link{
	display: inline-block;
	vertical-align: middle;
}

.news .list .item .buttons .wrapper a.check:hover{
	color: #009065;
}

.news .list .item .buttons .wrapper a.cross:hover{
	color: #EE5B55;
}

.news .list .item a.pin{
	text-decoration: none;
	color: #aab9c1;
	outline: none;
}

.news .list .item a.pin:hover{
	color: #336090;
}

.news .list .item a.pin.selected{
	color: #336090;
}