#modal-member-name {
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}

#modal-user > div.left {
	width: 30%;
	float: left;
	padding-left: 10px;
	height: 300px;
}

#modal-user > div.right {
	width: 70%;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
}

#modal-member-img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    align-self: center;
    background-size: auto 100%;
    background-position: center;
    border-radius: 50%;
}

#modal-user > div.left {
	text-align: center;
}

#modal-member-description {
	resize: none;
	height: 250px;
}


#members-setup { 
  	padding-left: 20px; 
    padding-right: 20px; 
}